// Базовые стили спойлеров
// Сниппет (HTML): spoller

// Блок со спойлерами
.spollers {
	display: grid;
	gap: 10px;
}
// Спойлер
.spollers__item {
	background-color: #fff;
	
}
// Заголовок спойлера
.spollers__title {
	@extend %mont-600;
	font-size: rem(16);
	line-height: math.div(26 , 16);
	width: 100%;
	cursor: default;
	text-align: left;
	// border: 1px solid #eee;
	// padding: rem(10) rem(15);
	padding: 20px;
	padding: 20px 60px 20px 20px;
	border-radius: rem(5);
	position: relative;
	._spoller-init & {
		cursor: pointer;
		&::before,
		&::after {
			content: "";
			position: absolute;
			right: 20px;
			top: 50%;
			background-color: #000;
			height: 1px;
			width: 12px;
			transition: transform 0.5s ease 0s;
		}
		&::before {
			transform: translate(-75%, -50%) rotate(40deg);
		}
		&::after {
			transform: translate(0, -50%) rotate(-40deg);
		}
		&._spoller-active {
			&::before {
				transform: translateX(-75%) rotate(-40deg);
			}
			&::after {
				transform: rotate(40deg);
			}
		}
	}
	@media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 16, 14, 480, 420, 1);
    }
	@media (max-width: em(420)){
		padding: 10px 60px 10px 10px;
		line-height: math.div(23 , 14);
	}
}
// Контент спойлера
.spollers {
	// .spollers__body
	&__body {

	}
	// .spollers__body-content
	&__body-content {
		@extend %mont-400;
		font-size: rem(16);
		line-height: math.div(26 , 16);
		padding: 0 54px 20px 20px;

	}
	// .spollers__body-text 
	&__body-text {
	&:not(:last-child) {
			margin-bottom: 10px;
		}
		@media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 16, 14, 480, 420, 1);
    }
	}
	//.spollers__list
	&__list {
		padding-left: 18px;
	}
	// .spollers__list-item 
	&__list-item {
		position: relative;
		&::before{
			content: "";
			border-radius: 50%;
			position: absolute;
			width: 2px;
			height: 2px;
			background-color: #000;
			top: 12px;
			left: -17px;
		}
		@media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 16, 14, 480, 420, 1);
    }
	}

}

