
//.bedsore-main
//========================================================================================================================================================
.bedsore-main {
  max-width: 100%;
  background-position: center top;
  background-repeat: no-repeat;
  background-color: $bg;

  // .bedsore-main__container
  @media (max-width:$tablet){
    background-position: 90% 0;
  }
  @media (max-width:$mobile){
    background-position: 70% 92%;
  }
  @media (max-width:$mobileSmall){
    background-position: 73% 0;

  }
  @media (max-width: em(380)){
    background-position: 73% 23%;
    background-size: 300%;
  }
  &__container {
    padding-bottom: 46px;
    @media (max-width:$tablet){
      padding-bottom: 40px;
    }
    @media (max-width:$mobile){
      @include adaptiveValue("padding-top", 82, 50, 767, 480, 1);
    }
    @media (max-width:$mobileSmall){
      @include adaptiveValue("padding-top", 50, 70, 480, 420, 1); 
    }
    @media (max-width: em(420)){
      padding-bottom: 25px;
    }
  }
  // .bedsore-main__inner
  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    @include adaptiveValue("column-gap", 30, 5, 1240, 1000, 1);
    @media (max-width:$mobile){
      display: flex;
      flex-direction: column-reverse;
    }
  }
  // .bedsore-main__content
  &__content {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    padding-top: 256px;
    @media (max-width:$tablet){
      row-gap: 30px;
    }
    @media (max-width:$mobile){
      padding: 0;
    }
    // @media (max-width: em(420)){
    //   row-gap: 24px;
    // }
  }
  // .bedsore-main__title-box
  &__title-box {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    @media (max-width:$mobile){
      row-gap: 5px;
    }
  }
  // .bedsore-main__title
  &__title {
    @extend %mont-700;
    line-height: normal;
    color: $accent;
    @include adaptiveValue("font-size", 40, 32, 1240, 1000, 1);
    @media (max-width:$mobile){
      font-size: rem(48);
      line-height: normal;
    }
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 48, 24, 480, 420, 1);
    }
  }

  // .bedsore-main__subtitle
  &__subtitle {
    font-size: rem(24);
    @extend %mont-600;
    line-height: normal;
    @include adaptiveValue("font-size", 24, 18, 1240, 1000, 1);
    @media (max-width:$mobile){
      font-size: rem(20);
      line-height: normal;
    }
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 20, 14, 480, 420, 1);
    }
  }

  // .bedsore-main__actions
  &__actions {
    display: flex;
    align-items: center;
    column-gap: 20px;
    @media (max-width:$mobile){
      column-gap: 78px;
      @include adaptiveValue("column-gap", 78, 41, 768, 480, 1);
    }
    @media (max-width: em(460)){
      flex-direction: column;
      row-gap: 20px;
    }
  }
  // .bedsore-main__button
  &__button {
    // border-radius: 16px;
    @include adaptiveValue("font-size", 16, 14, 1240, 1000, 1);
		@include adaptiveValue("padding-left", 80, 60, 1240, 1000, 1);
		@include adaptiveValue("padding-right", 80, 60, 1240, 1000, 1);
		@include adaptiveValue("padding-top", 12, 10, 1240, 1000, 1);
		@include adaptiveValue("padding-bottom", 12, 10, 1240, 1000, 1);
    @media (max-width:$mobile){
      // padding: 12px 122px;
      @include adaptiveValue("padding-left", 122, 82, 768, 480, 1);
      @include adaptiveValue("padding-right", 122, 82, 768, 480, 1);
      @include adaptiveValue("padding-top", 12, 8, 768, 480, 1);
      @include adaptiveValue("padding-bottom", 12, 8, 768, 480, 1);
      width: 50%;
    }
    @media (max-width: em(460)){
      padding-left: 118px;
      padding-right: 118px;
    }
    @media (max-width: em(390)){
      width: 100%;
    }
    @media (max-width:$mobileSmall){
      border-radius: 10px;
    }
  }
  // .bedsore-main__link-consultation
  &__link-consultation {
    @extend %mont-400;
    font-size: rem(14);
    transition: all 0.3s;
    text-decoration: underline !important;
    white-space: nowrap;
    @media (max-width:$mobile){
      @include adaptiveValue("font-size", 14, 13, 768, 480, 1);
    }
  }


  // .bedsore-mai__card
  &__card {
    padding-top: 30px;
    // flex-grow: 1;
    @extend %mont-500;
    font-size: rem(12);
    line-height: math.div(17 , 12);
    @media (max-width:$mobile){
      padding: 0;
    }
  }
// .bedsore-mai__card
  &__card-link {
    text-decoration: underline !important;
    color: $accent;
  }


  // .bedsore-main__bg
  &__bg {
    // padding-top: 154px;
    @include adaptiveValue("padding-top", 154, 170, 1240, 1000, 1);
    @media (max-width:$mobile){
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    img {
      height: auto;
      width: 100%;
      @media (max-width:$mobile){
        width: 546px;
        height: 482px;
        @include adaptiveValue("width", 546, 434, 767, 480, 1);
        @include adaptiveValue("height", 482, 379, 767, 480, 1);
      }
      @media (max-width:$mobileSmall){
        @include adaptiveValue("width", 434, 279, 480, 380, 1);
        @include adaptiveValue("height", 379, 244, 480, 380, 1);
      }
    }
  }

}
//========================================================================================================================================================

// .inovation
//========================================================================================================================================================
.inovation {
  background-color: $bg;
  // .inovation__container
  &__container {
    padding-top: 40px;
    padding-bottom: 75px;
    @media (max-width:$tablet){
      padding-bottom: 40px;
    }
    @media (max-width:$mobile){
      padding-bottom: 40px;
    }
    @media (max-width:$mobileSmall){
      padding-bottom: 40px;
    }
    @media (max-width: em(420)){
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }
  // .inovation__inner
  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // column-gap: 107px;
    @include adaptiveValue("column-gap", 107, 40, 1240, 1000, 1);
    @media (max-width:$mobile){
      display: flex;
      flex-direction: column-reverse;
      row-gap: 20px;
    }
  }
  // .inovation__item
  &__item {

  }
  // .inovation__item-img
  &__item-img {
    max-width: 100%;
    display: block;
    img {
      height: auto;
      width: 100%;
      object-fit: cover;
      @media (max-width:$mobile){
        width: 367px;
        height: 347px;
        margin-left: 15%;
      }
      @media (max-width: em(620)){
        margin-left: 10%;
      }
      @media (max-width: em(520)){
        margin-left: 2%;
      }
      @media (max-width:$mobileSmall){
        margin: 0;
        height: auto;
        width: 100%;
        object-fit: cover;
      }
    }
    @media (max-width:$mobileSmall){
      display: flex;
      justify-content: flex-start;
      padding-right: 34px;
    }
  }
  // .inovation__item-box
  &__item-box {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    @media (max-width:$tablet){
      padding-top: 0;
    }
  }
  // .inovation__item-title
  &__item-title {
    font-size: rem(30);
    line-height: math.div(42 , 30);
    @media (max-width:$tablet){
      @include adaptiveValue("font-size", 30, 26, 1000, 768, 1);
      text-align: left;
    }
    @media (max-width:$mobile){
      text-align: center;
      @include adaptiveValue("font-size", 32, 20, 480, 420, 1);
    }
  }
  // .inovation__list
  &__list {
    display: grid;
    row-gap: 16px;
    padding-left: 25px;
    @extend %mont-500;
    font-size: rem(16);
    line-height: normal;
  }
  // .inovation__list-item
  &__list-item {
  }
}
//========================================================================================================================================================

//.benefit
//========================================================================================================================================================
.benefit {
  background-color: $bg;
  // .benefit__container
  &__container {
    padding-top: 75px;
    padding-bottom: 45px;
    @media (max-width:$tablet){
      padding-top: 40px;
    }
    @media (max-width: em(420)){
      padding-top: 25px;
    }
  }
  // .benefit__title
  &__title {
    font-size: rem(30);
    @media (max-width:$tablet){
      font-size: rem(32);
    }
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 32, 20, 480, 420 ,1);
    }
  }
  // .benefit__inner
  &__inner {
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 25px;
    row-gap: 25px;
    @media (max-width:$tablet){
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width:$mobile){
      display: flex;
      flex-direction: column;
      row-gap: 15px;
    }
  }
  // .benefit__item
  &__item {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 30px;
    background-color: #fff;
    border-radius: 24px;
  }
  // .benefit__item-title
  &__item-title {
    @extend %mont-600;
    font-size: rem(18);
    line-height: math.div(22 , 18);
  }
  // .benefit__item-text
  &__item-text {
    @extend %mont-500;
    font-size: rem(14);
    line-height: math.div(22 , 14);
  }
}

//.inflammation
//========================================================================================================================================================
.inflammation {
  background-color: $bg;
  // .inflammation__container
  &__container {
    padding-top: 45px;
    padding-bottom: 50px;
    @media (max-width:$tablet){
      padding-top: 40px;
    }
    @media (max-width:$mobile){
      padding-bottom: 40px;
    }
    @media (max-width:$mobileSmall){
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }
  // .inflammation__inner
  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    @media (max-width:$tablet){
      display: flex;
      flex-direction: column;
      row-gap: 40px;
    }
  }
  // .inflammation__item
  &__item {
    display: flex;
    flex-direction: column;
    &:first-child{
      justify-content: center;
      @media (max-width:$tablet){
        flex-direction: column-reverse;
        row-gap: 30px;
      }
      @media (max-width:$mobileSmall){
        row-gap: 10px;
      }
    }
  }
  // .inflammation__wrapper
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 60px;
    @media (max-width:$tablet){
      grid-template-columns: repeat(3, 1fr);
      @include adaptiveValue("column-gap", 50, 20, 767, 670, 1);
      row-gap: 30px;
    }
    @media (max-width: em(670)){
      grid-template-columns: repeat(2, 1fr);
      @include adaptiveValue("column-gap", 50, 40, 670, 480, 1);
    }

  }
  // .inflammation__unit
  &__unit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    @media (max-width: em(420)){
      max-width: 100%;
    }
    img {
      @media (max-width: em(420)){
        height: auto;
        width: 70%;
        object-fit: cover;
      }
    }
    p {
      @extend %mont-600;
      font-size: rem(16);
      line-height: math.div(26 , 16);
      @include adaptiveValue("font-size", 16, 10, 480, 420, 1);
    }
  }
  // .inflammation__item-title
  &__item-title {
    font-size: rem(30);
    @media (max-width:$tablet){
      font-size: rem(32);
    }
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 32, 20, 480, 420, 1);
    }

  }
  // .inflammation__item-content
  &__item-content {
    display: flex;
    flex-direction: column;
    row-gap: 17px;
    @extend %mont-500;
    font-size: rem(16);
    line-height: math.div(26 , 16);
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 16, 14, 480, 420, 1);
    }
    @media (max-width:$mobileSmall){
      row-gap: 10px;
    }
  }
  // .inflammation__item-wrap
  &__item-wrap {
    display: grid;
    row-gap: 17px;
    span {
      @extend %mont-600;
    }
    @media (max-width:$mobileSmall){
      row-gap: 10px;
    }
  }
  // .inflammation__item-text
  &__item-text {


  }
  // .inflammation__list
  &__list {
    padding-left: 25px;
    display: grid;
    row-gap: 5px;
    list-style-type: disc !important;
  }
  // .inflammation__list-item
  &__list-item {
    position: relative;
		&::before{
			content: "";
			border-radius: 50%;
			position: absolute;
			width: 2.5px;
			height: 2.5px;
			background-color: #000;
			top: 12px;
			left: -17px;
		}
  }
}
//========================================================================================================================================================

//.complicate
//========================================================================================================================================================
.complicate {
  background-color: $bg;
  // .complicate__container
  &__container {
    padding-top: 50px;
    padding-bottom: 100px;
    @media (max-width:$mobile){
      padding-bottom: 80px;
    }
    @media (max-width:$mobileSmall){
      padding-top: 40px;
    }
    @media (max-width: em(420)){
      padding-top: 25px;
      padding-bottom: 50px;
    }
  }
  // .complicate__inner
  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 35px;
    @media (max-width: em(1140)){
      display: flex;
      flex-direction: column-reverse;
      row-gap: 30px;
    }
  }
  // .complicate__item
  &__item {
    &:first-child{
      display: flex;
      flex-direction: column;
      row-gap: 20px;
    }
    &:last-child{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  // .complicate__title
  &__title {
    @extend %mont-700;
    color: $accent;
    font-size: rem(30);
    line-height: math.div(42 , 30);
    @media (max-width: em(1140)){
      text-align: center;
      font-size: rem(32);
    }
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 32, 20, 480, 420 , 1);
    }
  }
  // .complicate__content
  &__content {
    max-width: 559px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    @media (max-width: em(1140)){
      max-width: 100%;
    }
  }
  // .complicate__content-text
  &__content-text {
    @extend %mont-500;
    font-size: rem(16);
    line-height: math.div(26 , 16);
    span {
      @extend %mont-600;
    }
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 16, 14, 480, 420, 1);
    }
  }
  // .complicate__content-title
  &__content-title {
    @extend %mont-600;
    font-size: rem(18);
    line-height: math.div(22 , 18);
    color: $accent;
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 18, 16, 480, 420, 1);
    }
  }
  // .complicate__list
  &__list {
    padding-left: 25px;
    display: grid;
    row-gap: 10px;
    @extend %mont-500;
    font-size: rem(16);
    line-height: math.div(26 , 16);
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 16, 14, 480, 420, 1);
    }
  }
  // .complicate__list-item
  &__list-item {
    position: relative;
    span {
      @extend %mont-700;
    }
		&::before{
			content: "";
			border-radius: 50%;
			position: absolute;
			width: 2.5px;
			height: 2.5px;
			background-color: #000;
			top: 12px;
			left: -17px;
		}
  }
  // .complicate__desc
  &__desc {
    @media (max-width: em(1140)){
      display: flex;
      justify-content: center;
    }
    // display: grid;
    // grid-template-columns: repeat(2, 1fr);
    // grid-template-rows: repeat(3, 1fr);
    // align-items: center;
    // justify-items: center;
    // row-gap: 50px;
    // column-gap: 10px;
    // & .complicate__img {
    //   display: grid;
    //   row-gap: 20px;
    //   &:nth-child(1) {
    //     grid-column: span 2;
    //   }
    //   &:nth-child(4) {
    //     justify-self: center;
    //   }

    // }
    // @media (max-width: em(1140)){
    //   row-gap: 10px;
    // }
    
  }
  //.complicate__img
  &__img {
    max-width: 100%;
    display: block;
    img {
      @media (max-width: em(670)){
        height: auto;
        width: 100%;
        object-fit: cover;
      }
    }
    // p {
    //   @extend %mont-600;
    //   font-size: rem(18);
    //   line-height: math.div(29 , 18);
    //   text-align: center;
    // }

  }

}


//.bedsore
//========================================================================================================================================================

.bedsore-expert__text {
  @extend %mont-600;
  font-style: italic;
  font-size: rem(18);
  line-height: math.div(29 , 18);
}
//========================================================================================================================================================

//.efficiency-product
//========================================================================================================================================================
.efficiency-product {
  background-color: $bg;
  // .efficiency-product__container
  &__container {
    padding-top: 50px;
    padding-bottom: 100px;
    @media (max-width:$tablet){
      padding-top: 25px;
      padding-bottom: 66px;       
    }
    @media (max-width:$mobile){
      padding-top: 25px;
      padding-bottom: 50px;
    }
  }
  // .efficiency-product__inner
  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include adaptiveValue("column-gap", 32, 10, 1240, 1000, 1);
    @media (max-width:$tablet){
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 30px;
    }
  }
  // .efficiency-product__content
  &__content{
    max-width: 572px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;
    @media (max-width:$tablet){
      max-width: 100%;
      align-items: center;
    }
  }
  // .efficiency-product__title
  &__title {
    font-size: rem(30);
    @media (max-width:$tablet){
      font-size: rem(32);
    }
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 32, 20, 480, 420, 1);
    }
  }
  // .efficiency-product__info
  &__info {
    @extend %mont-400;
    font-size: rem(16);
    line-height: math.div(26 , 16);
    text-align: justify;
    span {
      color: $accent;
      @extend %mont-700;
    }
    p {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 16, 14, 480, 420, 1);
    }
  }
  //.efficiency-product__action
  &__action {
    padding-top: 10px;
    @media (max-width:$mobileSmall){
      padding-top: 0;
      width: 100%;
      text-align: center;
    }
  }
  //.efficiency-product__link
  &__btn {
    @media (max-width:$mobileSmall){
      font-size: rem(14);
      display: block;
      // width: 100%;
    }
    @media (max-width: em(420)){
      font-size: rem(12);
      padding: 10px 15px;
    }
  }
// .efficiency-product__cards 
  &__cards {
    display: flex;
    align-items: center;
    column-gap: 16px;
    @media (max-width:$tablet){
      column-gap: 37px;
    }
    @media (max-width:$mobile){
      @include adaptiveValue("column-gap", 37, 30, 767, 480, 1);
    }
    @media (max-width:$mobileSmall){
      @include adaptiveValue("column-gap", 30, 20, 480, 420, 1);
    }
  }
  // .efficiency-product__image
  &__image {
    max-width: 100%;
    display: block;
    img {
      height: auto;
      width: 100%;
      object-fit: cover;
    }
  }
}
//========================================================================================================================================================



