
//.burns-main
//========================================================================================================================================================
.burns-main {
  background-position: center top 14%;
  background-repeat: no-repeat;
  background-color: $bg;
  background-size: cover;
  // .burns-main__container
  @media (max-width:$tablet){
    background-position: 70% 0;
  }
  @media (max-width:$mobile){
    // background-position: 60% 60px;
    background-size: 230%;
  }
  @media (max-width:$mobileSmall){
    background-position: 70% 30px;
    background-size: 200%;
  }
  @media (max-width: em(380)){
    background-position: 62% 15%;
    background-size: 220%;
  }
  &__container {
    padding-bottom: 40px;
    @media (max-width:$tablet){
      padding-bottom: 25px;
    }
    @media (max-width:$mobile){
      @include adaptiveValue("padding-top", 82, 50, 767, 480, 1);
    }
    @media (max-width:$mobileSmall){
      @include adaptiveValue("padding-top", 50, 70, 480, 420, 1); 
    }
  }
  // .burns-main__inner
  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include adaptiveValue("column-gap", 30, 5, 1240, 1000, 1);
    @media (max-width:$mobile){
      display: flex;
      flex-direction: column-reverse;
    }
  }
  // .burns-main__content
  &__content {
    // max-width: 100%;
    max-width: 532px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;
    padding-top: 187px;
    @media (max-width:$mobile){
      max-width: 100%;
      padding: 0;
    }
    @media (max-width: em(420)){
      row-gap: 24px;
    }
  }
  // .burns-main__title-box
  &__title-box {
    display: flex;
    flex-direction: column;
    row-gap: 7px;
  }
  // .burns-main__title
  &__title {
    @extend %mont-700;
    // font-size: rem(72);
    color: $accent;
    @include adaptiveValue("font-size", 72, 62, 1000, 868, 1);
    @media (max-width:$mobile){
      @include adaptiveValue("font-size", 62, 72, 868, 767, 1);
    }
    @media (max-width: em(767)){
      @include adaptiveValue("font-size", 72, 64, 767, 480, 1);
    }
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 64, 32, 480, 420, 1);
    }
  }

  // .burns-main__subtitle
  &__subtitle {
    // font-size: rem(16);
    @extend %mont-600;
    @include adaptiveValue("font-size", 16, 13.8, 1000, 868, 1);
    @media (max-width:$tablet){
      max-width: 427px;
    }
    @media (max-width:$mobile){
      @include adaptiveValue("font-size", 13.8, 16, 868, 767, 1);
    }
    @media (max-width: em(767)){
      @include adaptiveValue("font-size", 16, 14.4, 767, 480, 1);
    } 
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 14.4, 14, 480, 420, 1);
      max-width: 100%;
    }
    @media (max-width: em(380)){
      max-width: 280px;
    }
  }
  // .burns-main__list
  &__list {
    // max-width: 295px;
    @extend %mont-500;
    font-size: rem(16);
    line-height: math.div(19 , 16);
    padding-left: 25px;
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 16, 13, 480, 420, 1);
    }
  }
  // .burns-main__list-item
  &__list-item {
    position: relative;
    &:not(:last-child) {
      margin-bottom: 21px;
      @media (max-width: em(380)){
        margin-bottom: 14px;
      }
    }
    &::before{
      background: #04BD38;
    }
    &::after{
      background: rgba(0, 148, 41, 0.30);
    }
  }
  // .burns-main__actions
  &__actions {
    display: flex;
    align-items: center;
    column-gap: 20px;
    @media (max-width:$mobile){
      column-gap: 78px;
      @include adaptiveValue("column-gap", 78, 41, 768, 480, 1);
    }
    @media (max-width: em(460)){
      flex-direction: column;
      row-gap: 20px;
    }
  }
  // .burns-main__button
  &__button {
    @extend %mont-500;
    font-size: rem(16);
    // @include adaptiveValue("font-size", 16, 14, 1240, 1000, 1);
		@include adaptiveValue("padding-left", 80, 60, 1240, 1000, 1);
		@include adaptiveValue("padding-right", 80, 60, 1240, 1000, 1);
		@include adaptiveValue("padding-top", 12, 10, 1240, 1000, 1);
		@include adaptiveValue("padding-bottom", 12, 10, 1240, 1000, 1);
    @media (max-width:$mobile){
      // padding: 12px 122px;
      @include adaptiveValue("padding-left", 122, 82, 768, 480, 1);
      @include adaptiveValue("padding-right", 122, 82, 768, 480, 1);
      @include adaptiveValue("padding-top", 12, 8, 768, 480, 1);
      @include adaptiveValue("padding-bottom", 12, 8, 768, 480, 1);
      width: 50%;
    }
    @media (max-width:$mobileSmall){
      font-size: rem(14);
    }
    @media (max-width: em(460)){
      padding-left: 118px;
      padding-right: 118px;
    }
    @media (max-width: em(390)){
      width: 100%;
    }
  }
  // .burns-main__link-consultation
  &__link-consultation {
    @extend %mont-400;
    font-size: rem(14);
    transition: all 0.3s;
    text-decoration: underline !important;
    white-space: nowrap;
    @media (max-width:$mobile){
      @include adaptiveValue("font-size", 14, 13, 768, 480, 1);
    }
  }
  // .burns-main__bg
  &__bg {
    @include adaptiveValue("padding-top", 180, 160, 1240, 1000, 1);
    @media (max-width:$mobile){
      padding: 0;

    }
    img {
      height: auto;
      max-width: 100%;
      position: relative;
      right: 150px;
      @media (max-width:$tablet){
        top: 130px;
        right: 50px;
      }
      @media (max-width:$mobile){
        top: 0;
        right: 10px;
        padding-top: 77px;
        padding-right: 30px;
        height: auto;
        width: 100%;
        object-fit: cover;
      }
      @media (max-width:$mobileSmall){
        padding-top: 47px;
      }
      @media (max-width: em(420)){
        padding-top: 40px;
      }
    }
  }


  // .burns-main__card
  &__card {
    @extend %mont-500;
    font-size: rem(12);
    line-height: math.div(17 , 12);
    @media (max-width:$mobile){
      padding: 0;
    }
  }
// .burns-main__card
  &__card-link {
    text-decoration: underline !important;
    color: $accent;
  }


}

//========================================================================================================================================================

// .burns-multifaceted
//========================================================================================================================================================
.burns-multifaceted {
  background-color: $bg;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;


  // .haemostatic__container
  &__container {
    padding-top: 50px;
    padding-bottom: 75px;
    @media (max-width:$tablet){
      padding-bottom: 40px;
    }
    @media (max-width:$mobile){
      padding-bottom: 40px;
    }
    @media (max-width:$mobileSmall){
      padding-bottom: 40px;
    }
    @media (max-width: em(420)){
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }
  // .haemostatic__inner
  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // column-gap: 107px;
    @include adaptiveValue("column-gap", 107, 40, 1240, 1000, 1);
    @media (max-width:$mobile){
      display: flex;
      flex-direction: column-reverse;
      row-gap: 20px;
    }
    @media (max-width: em(650)){
      row-gap: 40px;
    }
    @media (max-width: em(450)){
      row-gap: 70px;
    }
    @media (max-width: em(380)){
      row-gap: 30px;
    }
  }
  // .haemostatic__item
  &__item {
    &:last-child{
      @media (max-width:$mobile){
        position: relative;
        width: 100%;
        height: 100%;
        padding-bottom: 241px;
        // background: linear-gradient(183deg, #F5F6FD 43.47%, rgba(245, 246, 253, 0.00) 98.53%);
        &::before{
          content:'';
          position: absolute;
          width: 100%;
          height: 400px;
          right: 4%;
          top: 50%;
          background: linear-gradient(183deg, #F5F6FD 23.47%, rgba(245, 246, 253, 0.00) 78.53%);
          filter: blur(2px);
        }
      }
      @media (max-width: em(560)){
        padding-bottom: 152px;
      }
    }
  }
  // .haemostatic__item-img
  &__item-img {
    max-width: 100%;
    display: block;
    img {
      height: auto;
      width: 100%;
      object-fit: cover;
      @media (max-width:$mobile){
        width: 367px;
        height: 347px;
        margin-left: 15%;
      }
      @media (max-width: em(620)){
        margin-left: 10%;
      }
      @media (max-width: em(520)){
        margin-left: 2%;
      }
      @media (max-width:$mobileSmall){
        margin: 0;
        height: auto;
        width: 100%;
        object-fit: cover;
      }
    }
    @media (max-width:$mobileSmall){
      display: flex;
      justify-content: flex-start;
      padding-right: 34px;
    }
  }
  // .haemostatic__item-box
  &__item-box {
    padding-top: 40px;
    display: grid;
    row-gap: 20px;
    @media (max-width:$tablet){
      padding-top: 0;
    }
  }
  // .haemostatic__item-title
  &__item-title {
    max-width: 496px;
    font-size: rem(30);
    line-height: math.div(42 , 30);
    @media (max-width:$tablet){
      @include adaptiveValue("font-size", 30, 26, 1000, 768, 1);
      text-align: left;
    }
    @media (max-width:$mobile){
      max-width: 100%;
      justify-self: center;
      text-align: center;
      @include adaptiveValue("font-size", 32, 20, 480, 420, 1);
    }
  }
  // .haemostatic__list
  &__list {
    display: grid;
    row-gap: 16px;
    padding-left: 25px;
    @extend %mont-500;
    font-size: rem(16);
    line-height: normal;
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 16, 13, 480, 420, 1);
    }
  }
  // .haemostatic__list-item
  &__list-item {
    &::before{
      left: -21px;
      top: 7px;
      width: 6px;
      height: 6px;
    }
    &::after{
      top: 4px;
      width: 12px;
      height: 12px;
      @media (max-width:$tablet){
        left: -24px;
      }
    }
  }
  @media (max-width: em(1320)){
    background-position: 30% 0;
  }
  @media (max-width:$mobile){
    background-position: 13% 430px;
    background-size: 325%;
  }
  @media (max-width: em(570)){
    background-position: 13% 390px;
    background-size: 295%;
  }
  @media (max-width: em(480)){
    background-position: 15% 350px !important;
    background-size: 330% !important;
  }
}
//========================================================================================================================================================

//.burns-product
//========================================================================================================================================================
.burns-product {
  // background-color: $bg;
  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  // .burns-product__container
  &__container {
    padding-top: 50px;
    padding-bottom: 100px;
    @media (max-width:$tablet){
      padding-top: 25px;
      padding-bottom: 66px;       
    }
    @media (max-width:$mobile){
      padding-top: 25px;
      padding-bottom: 50px;
    }
  }
  // .burns-product__inner
  &__inner {
    display: grid;
    // grid-template-columns: repeat(2, 1fr);
    grid-template-columns: 1.2fr 1fr;
    @include adaptiveValue("column-gap", 32, 10, 1240, 1000, 1);
    @media (max-width:$tablet){
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 20px;
    }
  }
  // burns-product__item
  &__item {
    position: relative;
    max-width: 584px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 20px;
    &:first-child{
      @media (max-width:$tablet){
        &::before{
          content:'';
          position: absolute;
          width: 130%;
          height: 780px;
          right: -5%;
          top: 10%;
          background: linear-gradient(180deg, #F5F6FD 58.47%, rgba(245, 246, 253, 0.00) 102.53%);
          filter: blur(2px);
        }
      }
    }
    @media (max-width:$tablet){
      max-width: 100%;
    }
  }
  //.burns-product__img
  &__img {
    max-width: 100%;
    img {
      display: block;
      position: relative;
      right: 120px;
      height: auto;
      width: 100%;
      object-fit: cover;
      @media (max-width: em(1180)){
        right: 35px;
      }
    }
  }
  // .burns-product__title
  &__title {
  }
  // .burns-product__info
  &__info {
    @extend %mont-400;
    font-size: rem(16);
    line-height: math.div(26 , 16);
    text-align: justify;
    z-index: 5;
    span {
      @extend %mont-600;
    }
    p {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 16, 14, 480, 420, 1);
    }
  }
  //.burns-product__list
  &__list {
    padding-left: 22px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    @extend %mont-400;
    font-size: rem(16);
    line-height: math.div(26 , 16);
    color: #000;
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 16, 14, 480, 420, 1);
      line-height: math.div(23 , 14);
    }
  }
  // .burns-product__list-item
  &__list-item {
    &::before{
      top: 10px;
      width: 6px;
      height: 6px;
      left: -21px;
      top: 9px;
      @media (max-width:$tablet){
        left: -20px;
      }
    }
    &::after{
      top: 6px;
      width: 12px;
      height: 12px;
    }
  }
// .burns-product__cards 
  &__cards {
    display: flex;
    align-items: center;
    column-gap: 16px;
    @media (max-width:$tablet){
      column-gap: 37px;
    }
    @media (max-width:$mobile){
      @include adaptiveValue("column-gap", 37, 30, 767, 480, 1);
    }
    @media (max-width:$mobileSmall){
      @include adaptiveValue("column-gap", 30, 20, 480, 420, 1);
    }
  }
  // .burns-product__image
  &__image {
    max-width: 100%;
    display: block;
    img {
      height: auto;
      width: 100%;
      object-fit: cover;
    }
  }
  @media (max-width: em(1320)){
    background-position: 70% 0;
  }
  @media (max-width:$tablet){
    background-position: 100% 100px;
  }
}
//========================================================================================================================================================

//.burns-multiplication
//========================================================================================================================================================
.burns-advantages {
  margin-top: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $bg;
  @media (max-width:$tablet){
    background-position: center -90px;
  }
  // .burns-advantages__container
  &__container {
    padding-top: 20px;
    padding-bottom: 30px;
    @media (max-width:$tablet){
      padding-bottom: 40px;
    }
  }
  // .burns-advantages__title
  &__title {
    font-size: rem(32);
    line-height: math.div(45 , 32);
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 32, 20, 480, 420, 1);
    }
  }
  //.burns-advantages__content
  &__content {
    padding-top: 20px;
    padding-bottom: 30px;
    @media (max-width:$mobile){
      padding-top: 40px;
      padding-bottom: 20px;
    }
    @media (max-width:$mobileSmall){
      padding-top: 20px;
      padding-bottom: 35px;
    }
    @media (max-width: em(420)){
      padding-bottom: 30px;
    }
  }

  &__subtitle {
    h4 {
      @extend %mont-700;
      font-size: rem(24);
      line-height: math.div(39 , 24);
      color: $black;
    }
  }

  //.burns-advantages__text
  &__text {
    @extend %mont-500;
    font-size: rem(16);
    line-height: math.div(26 , 16);
  }

  // .burns-advantages__inner
  &__inner {
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @include adaptiveValue("column-gap", 25, 15, 1240, 1180, 1);
    @media (max-width: em(1180)){
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: em(690)){
      display: flex;
      flex-direction: column;
      row-gap: 15px;
    }
  }
  // .burns-advantages__items
  &__items {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 15px;
  }
  // .burns-advantages__item
  &__item {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 30px;
    border-radius: 24px;
    background-color: #fff;
    @media (max-width:$tablet){
      padding: 15px;
    }
  }
  // .burns-advantages__item-title
  &__item-title {
    text-transform: uppercase;
    @extend %mont-700;
    font-size: rem(16);
    line-height: math.div(19 , 16);

  }
  // .burns-advantages__item-text
  &__item-text {
    @extend %mont-500;
    font-size: rem(14);
    line-height: math.div(22 , 14);

  }
  // .burns-advantages__image
  &__image {
    max-width: 100%;
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    img {
      position: relative;
      right: 50px;
      object-fit: cover;
      width: 445px;
      height: 356px;
    }
    @media (max-width: em(1180)){
      display: none;
    }
  }
  @media (max-width:$tablet){
    background-position: 100% 230px;
  }
}
//========================================================================================================================================================

//.burns-documents
//========================================================================================================================================================
.burns-documents {
  background-color: $bg;
  // .burns-documents__container
  &__container {
    padding-top: 50px;
    padding-bottom: 50px;
    @media (max-width:$tablet){
      padding-top: 80px;
      padding-bottom: 55px;       
    }
    @media (max-width:$mobile){
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
  // .burns-documents__inner
  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include adaptiveValue("column-gap", 32, 10, 1240, 1000, 1);
    @media (max-width:$tablet){
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 30px;
    }
  }
  // .burns-documents__content
  &__content{
    max-width: 572px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;
    @media (max-width:$tablet){
      max-width: 100%;
      align-items: center;
    }
  }
  // .burns-documents__title
  &__title {
    font-size: rem(30);
    @media (max-width:$tablet){
      font-size: rem(32);
    }
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 32, 20, 480, 420, 1);
    }
  }
  // .burns-documents__info
  &__info {
    @extend %mont-400;
    font-size: rem(16);
    line-height: math.div(26 , 16);
    text-align: justify;
    span {
      color: $black;
      @extend %mont-700;
    }
    p {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 16, 14, 480, 420, 1);
      line-height: math.div(23 , 14);
    }
  }
  //.burns-documents__action
  &__action {
    padding-top: 10px;
    @media (max-width:$mobileSmall){
      padding-top: 0;
      width: 100%;
      text-align: center;
    }
  }
  //burns-documents__btn
  &__btn {
    background: linear-gradient(180deg, #E84073 12.5%, #B92350 128.41%), #F13E75;
    @media (max-width:$mobileSmall){
      font-size: rem(14);
      display: block;
    }
    @media (max-width: em(420)){
      font-size: rem(12);
      padding: 10px 15px;
    }
  }
// .burns-documents__cards 
  &__cards {
    display: flex;
    align-items: center;
    column-gap: 16px;
    @media (max-width:$tablet){
      column-gap: 37px;
    }
    @media (max-width:$mobile){
      @include adaptiveValue("column-gap", 37, 30, 767, 480, 1);
    }
    @media (max-width:$mobileSmall){
      @include adaptiveValue("column-gap", 30, 20, 480, 420, 1);
    }
  }
  // .burns-documents__image
  &__image {
    max-width: 100%;
    display: block;
    img {
      height: auto;
      width: 100%;
      object-fit: cover;
    }
  }
}
//========================================================================================================================================================

//.buy
//========================================================================================================================================================
.burns-buy__container {
  padding-top: 40px;
  padding-bottom: 40px;
  // @media (max-width:$tablet){
  //   padding-top: 40px;
  //   padding-bottom: 80px;
  // }
  @media (max-width:$mobileSmall){
    padding-bottom: 25px;
  }
  @media (max-width: em(420)){
    padding-top: 50px;
  }
}
//========================================================================================================================================================

//.burns-types
//========================================================================================================================================================
.burns-types {
  // .burns-types__container
  &__container {
    padding-top: 40px;
    padding-bottom: 40px;
    @media (max-width:$mobileSmall){
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }
  // .burns-types__inner
  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // column-gap: 60px;
    @include adaptiveValue("column-gap", 60, 20, 1240, 1000, 1);
    @media (max-width:$tablet){
      display: flex;
      flex-direction: column;
      row-gap: 20px;
    }
  }
  // .burns-types__content
  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  // .burns-types__title
  &__title {
  }
  // .burns-types__list
  &__list {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
  }
  // .burns-types__list-item
  &__list-item {
    position: relative;
    @extend %mont-500;
    font-size: rem(16);
    line-height: math.div(26 , 16);
    color: #000;
    span {
      @extend %mont-700;
    }
    &::before{
      content:'';
      position: absolute;
      width: 2px;
      height: 2px;
      background-color: #000;
      left: -10px;
      top: 10px;
    }
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 16, 13, 480, 420, 1);
    }
  }
  // .burns-types__items
  &__items {
    display: flex;
    justify-content: center;
    align-items: center;
    // column-gap: 70px;
    @include adaptiveValue("column-gap", 70, 20, 1240, 1000, 1);
    @media (max-width:$tablet){
      column-gap: 70px;
      justify-content: space-evenly;
    }
    @media (max-width:$mobile){
      justify-content: center;
    }
    @media (max-width: em(520)){
      @include adaptiveValue("column-gap", 70, 50, 520, 420, 1);
      justify-content: space-between;
    }
  }
  // .burns-types__item
  &__item {

  }

  &__img {
    max-width: 100%;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
//========================================================================================================================================================

//.burns-hogweed
//========================================================================================================================================================
.burns-hogweed {
  // .burns-hogweed__container
  &__container {
    padding-top: 40px;
    padding-bottom: 40px;
    @media (max-width:$mobileSmall){
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }
  // .burns-hogweed__inner
  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 70px;
    @media (max-width:$tablet){
      display: flex;
      flex-direction: column;
      row-gap: 20px;
    }
  }
  // .burns-hogweed__item
  &__item {
    &:first-child{
      
    }
    &:last-child{
      display: flex;
      flex-direction: column;
      row-gap: 25px;
      @media (max-width:$tablet){
        order: -1;
        row-gap: 20px;
      }
    }
  }
  // .burns-hogweed__img-ibg
  &__img {
    overflow: hidden;
    max-width: 100%;
    display: block;
    img {
      height: auto;
      width: 100%;
      @media (max-width:$tablet){
        width: 498px;
        height: 598px;
      }
      @media (max-width: em(520)){
        height: auto;
        width: 100%;
      }
    }
    @media (max-width:$tablet){
      display: flex;
      justify-content: center;
    }
  }
  // .burns-hogweed__info
  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  // .burns-hogweed__title
  &__title {
    
  }
  // .burns-hogweed__important
  &__important {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 25px 20px 25px 20px;
    border-radius: 24px;
    background-color: #FFF;

  }
  //.burns-hogweed__about
  &__about {
    @extend %mont-600;
    font-size: rem(16);
    line-height: math.div(26 , 16);
    color: #000;
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 16, 14, 480, 420, 1);
    }
  }
  // .burns-hogweed__important-title
  &__important-title {
    display: flex;
    align-items: center;
    column-gap: 8px;
    @extend %mont-600;
    font-size: rem(18);
    line-height: math.div(29 , 18);
    color: #D90027;
  }
  // .burns-hogweed__important-icon
  &__important-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  // .burns-hogweed__important-text
  &__important-text {
    @extend %mont-500;
    font-size: rem(16);
    line-height: math.div(26 , 16);
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 16, 14, 480, 420, 1);
    }
  }
  // .burns-hogweed__content
  &__content {
    @extend %mont-500;
    font-size: rem(16);
    line-height: math.div(26 , 16);
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 16, 14, 480, 420, 1);
    }
  }
  // .burns-hogweed__content-text
  &__content-text {
  }
}
//========================================================================================================================================================


//========================================================================================================================================================
.burns-work {
  background-color: $bg;
  // .burns-work__container
  &__container {
    padding-top: 40px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    @media (max-width:$tablet){
      padding-top: 25px;
      padding-bottom: 25px;
    }
    @media (max-width:$mobile){
      row-gap: 30px;
    }
  }
  // .burns-work__title
  &__title {
    display: flex;
    justify-content: center;
  }
  // .burns-work__info
  &__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 124px;
    @extend %mont-500;
    font-size: rem(16);
    line-height: math.div(26 , 16);
    @media (max-width:$tablet){
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      font-size: rem(14);
    }
  }
  // .burns-work__list
  &__list {
    display: grid;
    row-gap: 20px;
  }
  // .burns-work__list-item
  &__list-item {
    max-width: 480px;
    padding-left: 36px;
    &::before{
      top: 8px;
      left: 9px;
      @media (max-width:$tablet){
        left: 9px;
        top: 10px;
      }
    }
    &::after{
      top: 4px;
      left: 5px;
      @media (max-width:$tablet){
        top: 7px;
        left: 6px;
      }
    }
    @media (max-width:$tablet){
      max-width: 100%;
    }
  }
  // .burns-work__inner
  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 25px;
    @media (max-width:$tablet){
      grid-template-columns: repeat(2, 1fr);
      row-gap: 10px;
    }
    
    @media (max-width: em(580)){
      display: flex;
      flex-direction: column;
      row-gap: 15px;
    }
  }
  // .burns-work__item
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 20px;
    padding: 20px 38.3px;
    @media (max-width:$tablet){
      display: grid;
      padding: 20px 5px;
      &:last-child{
        grid-auto-columns: 50%;
        grid-column: span 2;
        justify-content: center;
        @media (max-width: em(580)){
          grid-auto-columns: auto;
        }
      }
    }
    @media (max-width:$mobileSmall){
      padding: 20px 20px;
    }
  }
  // .burns-work__image-ibg
  &__image-ibg {
    overflow: hidden;
    padding-bottom: percent(250, 250);
    @media (max-width:$tablet){
      max-width: 100%;
      display: block;

    }
    img {
      object-position: top;
      @media (max-width:$tablet){
        height: auto;
        width: 100%;
        object-fit: cover;
      }
    }
  }
  // .burns-work__item-text
  &__item-text {
    flex-grow: 1;
    @extend %mont-500;
    font-size: rem(14);
    line-height: math.div(23 , 14);
    text-align: center;

  }
}

//========================================================================================================================================================

//.burns-application
.burns-application {
  background-position: 45% 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $bg;
  @media (max-width: em(1480)){
    background-position: 100% 0;
  }
  @media (max-width:$tablet){
    background-position: 100% 440px;
    background-size: 350%;
  }
  // .burns-application__container
  &__container {
    padding-top: 50px;
    padding-bottom: 50px;
    @media (max-width:$tablet){
      padding-bottom: 40px;
    }
  }
  // .burns-application__title
  &__title {
    max-width: 714px;
    text-align: left;
    @media (max-width:$tablet){
      max-width: 100%;
      text-align: center;
    }
  }
  // .burns-application__inner
  &__inner {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    column-gap: 20px;
    @media (max-width:$tablet){
      display: flex;
      flex-direction: column;
      row-gap: 30px;
    }
    @media (max-width: em(480)){
      row-gap: 0;
    }
  }
  // .burns-application__item
  &__item {
    &:first-child{
      position: relative;
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      z-index: 5;
      @media (max-width:$tablet){
        &::before{
          content:'';
          position: absolute;
          width: 130%;
          height: 780px;
          right: -2%;
          top: 10%;
          background: linear-gradient(180deg, #F5F6FD 40.47%, rgba(245, 246, 253, 0.00) 102.53%);
          filter: blur(2px);
          z-index: -1;
        }
      }
    }
  }
  //.burns-application__important
  &__important {
    max-width: 475px;
    width: 100%;
    padding: 20px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    background-color: #FFF;
    @media (max-width:$tablet){
      max-width: 100%;
    }
  }
  //.burns-application__important-title
  &__important-title {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }
  //.burns-application__important-text
  &__important-text {
    @extend %mont-400;
    font-size: rem(16);
    line-height: math.div(26 , 16);
    color: #1B1B1B;
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 16, 14, 480, 420, 1);
      line-height: math.div(23 , 14);
    }
  } 
  //.burns-application__important-icon
  &__important-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  //.burns-application__text
  &__text {
    @extend %mont-400;
    font-size: rem(16);
    line-height: math.div(26 , 16);
  }
  // .burns-application__content
  &__content {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    @extend %mont-500;
    font-size: rem(16);
    line-height: math.div(26 , 16);
    @media (max-width:$tablet){
      max-width: 100%;
      
    }
  }
  //.burns-application__content-item
  &__content-item {
    max-width: 473px;
    @extend %mont-500;
    font-size: rem(16);
    line-height: math.div(26 , 16);
    @media (max-width:$tablet){
      max-width: 100%;
    }
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 16, 14, 480, 420, 1);
      line-height: math.div(23 , 14);
    }
  }
  //.burns-application__img
  &__img {
    position: relative;
    height: auto;
    width: 100%;
    z-index: 20;
    img {
      max-width: 100%;
      display: block;
      object-fit: cover;
    }
  }
}
//========================================================================================================================================================

// .reports
//========================================================================================================================================================
.burns-reports__container {
  padding-top: 80px;
  padding-bottom: 100px;
  @media (max-width:$tablet){
    padding-top: 40px;
    padding-bottom: 80px;
  }
  @media (max-width:$mobile){
    padding-bottom: 50px; 
  }
}
//========================================================================================================================================================

//.burns-reviews
//========================================================================================================================================================
.burns-reviews {
  background-color: $bg;
  // .burns-reviews__container
  &__container {
    padding-top: 100px;
    padding-bottom: 50px;
    @media (max-width:$tablet){
      padding-top: 80px;
    }
    @media (max-width:$mobileSmall){
      padding-top: 70px;
      padding-bottom: 40px;
    }
    @media (max-width: em(420)){
      padding-top: 50px;
      padding-bottom: 25px;
    }
  }
  // .burns-reviews__heading
  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: flex-end;
    @media (max-width:$tablet){
      flex-direction: column;
      align-items: flex-start;
      
      // align-items: center;
    }
    @media (max-width:$mobile){
      // @include adaptiveValue("row-gap", 15, 20, 768, 480, 1);
    }
  }
  //.burns-reviews__box
  &__box {
    display: flex;
    align-items: flex-end;
    column-gap: 30px;
    @media (max-width: em(1000)){
      flex-direction: column;
      align-items: flex-start;
      row-gap: 20px;
    }
  }
  // .burns-reviews__title
  &__title {
    max-width: 330px;
    @media (max-width: em(1000)){
      max-width: 100%;
    }
  }
  // .burns-reviews__action
  &__action {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;
  }
  //.burns-reviews__foto-btn
  &__foto-btn {
    @extend %mont-500;
    font-size: rem(16);
    line-height: math.div(26 , 16);
    @media (max-width:$mobileSmall){
      font-size: rem(14);
    }
    @media (max-width: em(430)){
      font-size: rem(12);
      padding: 10px 15px;
    }
  }
  // .burns-reviews__button
  &__button {
    @extend %mont-500;
    font-size: rem(16);
    line-height: math.div(26 , 16);
    @media (max-width:$mobileSmall){
      font-size: rem(14);
      line-height: math.div(24 , 14);
    }
  }
  //.burns-reviews__buy
  &__buy {
    @extend %mont-500;
    font-size: rem(16);
    line-height: math.div(26 , 16);
    @media (max-width:$mobileSmall){
      font-size: rem(14);
      line-height: math.div(24 , 14);
    }
  }
  //.burns-reviews__buy-btn
  &__buy-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 51px;
    border-radius: 16px;
    @extend %mont-500;
    font-size: rem(16);
    line-height: 120%;
    color: #FFF;
  }
  // .burns-reviews__inner
  &__inner {
    padding-top: 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 24px;
    column-gap: 24px;
    @media (max-width:$tablet){
      padding-top: 30px;
      display: flex;
      flex-direction: column;
    }
  }
  // .burns-reviews__item
  &__item {
    padding: 20px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    background-color: $white;
  }
  // .burns-reviews__top
  &__top {
    display: flex;
    justify-content: space-between;
    @media (max-width:$mobileSmall){
    }
    @media (max-width: em(530)){
      flex-direction: column;
      row-gap: 10px;
    }
  }

  // .burns-reviews__user-info
  &__user-info {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
  // .burns-reviews__user-name
  &__user-name {
    @extend %mont-600;
    font-size: rem(16);
    line-height: math.div(26 , 16);
  }
  // .burns-reviews__user-rating
  &__user-rating {
    display: flex;
    column-gap: 2px;
    img {
      width: 24px;
      height: 24px;
    }
  }

  // .burns-reviews__market-link
  &__market-link {
    padding: 5px 10px 5px 5px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    border-radius: 12px;
    background: #F5F6FD;
    img {
      width: 24px;
      height: 24px;
    }
    p {
      @extend %mont-500;
      font-size: rem(14);
      line-height: math.div(23 , 14);
    }
    @media (max-width: em(530)){
      display: inline-flex;
    }
  }

  // .burns-reviews__text
  &__text {
    @extend %mont-400;
    font-size: rem(16);
    line-height: math.div(26 , 16);
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 16, 14);
    }
  }
  //burns-reviews__wrapper
  &__wrapper {
    padding-top: 20px;
    @media (max-width: em(1000)){
      display: flex;
      justify-content: center;
    }
  }
}
//========================================================================================================================================================



