
.contacts {
  background-color: $bg;
  // .contacts__container
  &__container {
    padding-top: 167px;
    @media (max-width:$tablet){
      padding-top: 134px;
      padding-bottom: 50px;
    }
    @media (max-width:$mobile){
      padding-top: 106px;
      padding-bottom: 75px;
    }
  }
  // .contacts__heading
  &__heading {
    display: none;
    @media (max-width:$tablet){
      display: flex;
      justify-content: center;
    }
  }

  // .contacts__items
  &__items {
    display: grid;
    grid-template-columns: 1fr 1.7fr;
    @include adaptiveValue("column-gap", 127, 50);
    @media (max-width:$tablet){
      display: flex;
      flex-direction: column;
      row-gap: 40px;
    }
  }
  // .contacts__item
  &__item {
    display: flex;
    flex-direction: column;
  }
  // .contacts__
  &__body {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    max-width: 373px;
    @media (max-width:$tablet){
      padding-top: 40px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 15px;
      max-width: 100%;
    }
    @media (max-width: em(640)){
      padding-top: 30px;
      display: flex;
      flex-direction: column;
      row-gap: 15px;
    }
  }

  &__body-item {
    display: flex;
    flex-direction: column;
    // row-gap: 25px;
  }

  // .contacts__title-box
  &__title-box {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    @media (max-width:$tablet){
      row-gap: 15px;
    }
  }
  // .contacts__title
  &__title {
    // font-size: rem(40);
    // @extend %mont-700;
    // line-height: math.div(56 , 40);
  }
  // .contacts__subtitle
  &__subtitle {
    @extend %mont-500;
    font-size: rem(14);
    line-height: normal;
    @media (max-width:$tablet){
      text-align: center;
      font-size: rem(16);
      line-height: math.div(26 , 16);
    }
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 16, 14, 480, 420, 1);
      line-height: math.div(23 , 14);
    }
  }
  // .contacts__wrapper
  &__wrapper {
    padding-top: 20px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 15px;
    @media (max-width:$tablet){
      padding-top: 0;
    }
  }
  // .contacts__email
  // .contacts__phone
  &__email, 
  &__phone {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: rem(18);
    line-height: normal;
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 18, 16, 480, 420, 1);
    }
  }
  // .contacts__email-icon
  // .contacts__phone-icon
  &__email-icon,
  &__phone-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: $accent;
    img {
      width: 18px;
      height: 18px;
    }
  }
  // .contacts__phone-link
  &__phone-link {
  }

  //.contacts__action
  &__action {
    padding-top: 10px;
  }

  //.contacts__button
  &__button {
    padding: 10px 50px;
  }

  // .contacts__social
  &__social {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }
  // .contacts__social-title
  &__social-title {
    @extend %mont-500;
    font-size: rem(14);
  }

  // .contacts__social-list
  &__social-list {
    display: flex;
    column-gap: 10px;
  }
  // .contacts__social-link
  &__social-link {
  }
  // .contacts__details
  &__details {
    // padding-top: 25px;
    // display: grid;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    @media (max-width:$tablet){
      row-gap: 25px;
    }
  }
  // .contacts__adress
  &__adress {
    max-width: 355px;
    @extend %mont-500;
    font-size: rem(14);
    line-height: math.div(28 , 14);
    address {
      font-style: normal;
    }
    @media (max-width:$mobileSmall){
      max-width: 310px;
      @include adaptiveValue("font-size", 14, 12, 480, 420, 1);
    }
  }
  // .contacts__requisites
  &__requisites {
    @extend %mont-500;
    font-size: rem(14);
    line-height: math.div(28 , 14);
    color: $black;
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 14, 12, 480, 420, 1);
    }
  }
  // .contacts__form
  &__form {
  }
}
//========================================================================================================================================================



//========================================================================================================================================================
//.contacts-form
.contacts-form {
  max-width: 100%;
  padding: 40px 40px;
  border-radius: 40px;
  background-color: $white;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  @media (max-width: em(640)){
    padding: 30px 30px;
  }
  @media (max-width: em(420)){
    border-radius: 24px;
    padding: 15px 15px;
  }
  // .contacts-form__title
  &__title {
    text-transform: uppercase;
    text-align: center;
    font-size: rem(18);
    line-height: math.div(26 , 18);
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 18, 16, 480, 420, 1);
    }
  }
  // .contacts-form__subtitle
  &__subtitle {
    @extend %mont-500;
    font-size: rem(12);
    line-height: normal;
    text-align: center;
    color: #6D737A;
    span {
      display: block;
      @media (max-width: em(1200)){
        display: inline-block;
        padding-left: 5px;
      }
    }
    @media (max-width: em(462)){
      display: none;
    }
  }
  // .contacts-form__info
  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }
  //.contacts-form__items
  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
    @media (max-width:$tablet){
      display: flex;
      flex-direction: column;
      row-gap: 15px;
    }
  }
  // .contacts-form__item
  &__item {

  }
  // .contacts-form__label
  &__label {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    @extend %mont-500;
    font-size: rem(14);
    &._form-focus {

    }
  }
  // .contacts-form__input
  &__input {
    @extend %mont-500;
    font-size: rem(12);
    line-height: normal;
    
    padding: 16px;
    border-radius: 16px;
    background-color: $bgInp;
    &::placeholder {
      color: $colInp;
    }
  }
  // .contacts-form__message
  &__message {
    @extend %mont-500;
    font-size: rem(12);
    line-height: normal;
    height: 100px;
    display: flex;
    // max-width: 100%;
    padding: 16px;
    border-radius: 16px;
    background-color: $bgInp;
    resize: none;
    &::placeholder {
      color: $colInp;
    }
    @media (max-width:$mobileSmall){
      height: 140px;
    }
  }
  // .contacts-form__checkbox
  &__checkbox {
    padding: 3px 0;
  }
  // .contacts-form__text
  &__text {
    
  }
  //.contacts-form__button-box
  &__button-box {
    @media (max-width: em(590)){
      display: flex;
      justify-content: center;
    }
    @media (max-width:$mobileSmall){
      padding-top: 25px;
    }

  }
  //.contacts-form__button
  &__button {
    font-size: rem(16);
    padding: 15px 33px;
    line-height: normal;
    @media (max-width:$mobileSmall){
      display: block;
      width: 100%;
      padding: 15px 10px;
      @include adaptiveValue("font-size", 16, 14, 480, 420, 1);
    }
  }
}

//.contacts-form__message._form-error
.contacts-form__message._form-error {
  outline: 2px solid #f00;
}
//.contacts-form__input._form-error
.contacts-form__input._form-error {
  outline: 2px solid #f00;
}
//.contacts-form__input._form-focus
.contacts-form__input:focus {
  outline: 2px solid $accent;
}
//.contacts-form__message:focus
.contacts-form__message:focus {
  outline: 2px solid $accent;
}
