
//.diabetic-main
//========================================================================================================================================================
.diabetic-main {
  max-width: 100%;
  background-position: center top;
  background-repeat: no-repeat;
  background-color: $bg;

  // .diabetic-main__container
  @media (max-width:$tablet){
    background-position: 90% 0;
  }
  @media (max-width:$mobile){
    background-position: 70% 92%;
  }
  @media (max-width:$mobileSmall){
    background-position: 73% 0;

  }
  @media (max-width: em(380)){
    background-position: 73% 23%;
    background-size: 300%;
  }
  &__container {
    padding-bottom: 46px;
    @media (max-width:$tablet){
      padding-bottom: 40px;
    }
    @media (max-width:$mobile){
      @include adaptiveValue("padding-top", 82, 50, 767, 480, 1);
    }
    @media (max-width:$mobileSmall){
      @include adaptiveValue("padding-top", 50, 70, 480, 420, 1); 
    }
    @media (max-width: em(420)){
      padding-bottom: 25px;
    }
  }
  // .diabetic-main__inner
  &__inner {
    display: grid;
    // grid-template-columns: repeat(2, 1fr);
    grid-template-columns: 1fr 1.3fr;
    // column-gap: 30px;
    @include adaptiveValue("column-gap", 30, 5, 1240, 1000, 1);
    @media (max-width:$mobile){
      display: flex;
      flex-direction: column-reverse;
    }
  }
  // .diabetic-main__content
  &__content {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    padding-top: 256px;
    @media (max-width:$tablet){
      row-gap: 30px;
    }
    @media (max-width:$mobile){
      padding: 0;
    }
    // @media (max-width: em(420)){
    //   row-gap: 24px;
    // }
  }
  // .diabetic-main__title-box
  &__title-box {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    @media (max-width:$mobile){
      row-gap: 5px;
    }
  }
  // .diabetic-main__title
  &__title {
    @extend %mont-700;
    line-height: normal;
    color: $accent;
    @include adaptiveValue("font-size", 40, 32, 1240, 1000, 1);
    @media (max-width:$mobile){
      font-size: rem(48);
      line-height: normal;
    }
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 48, 24, 480, 420, 1);
    }
  }

  // .diabetic-main__subtitle
  &__subtitle {
    font-size: rem(24);
    @extend %mont-600;
    line-height: normal;
    @include adaptiveValue("font-size", 24, 18, 1240, 1000, 1);
    @media (max-width:$mobile){
      font-size: rem(20);
      line-height: normal;
    }
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 20, 14, 480, 420, 1);
    }
  }

  // .diabetic-main__actions
  &__actions {
    display: flex;
    align-items: center;
    column-gap: 20px;
    @media (max-width:$mobile){
      column-gap: 78px;
      @include adaptiveValue("column-gap", 78, 41, 768, 480, 1);
    }
    @media (max-width: em(460)){
      flex-direction: column;
      row-gap: 20px;
    }
  }
  // .diabetic-main__button
  &__button {
    // border-radius: 16px;
    @include adaptiveValue("font-size", 16, 14, 1240, 1000, 1);
		@include adaptiveValue("padding-left", 80, 60, 1240, 1000, 1);
		@include adaptiveValue("padding-right", 80, 60, 1240, 1000, 1);
		@include adaptiveValue("padding-top", 12, 10, 1240, 1000, 1);
		@include adaptiveValue("padding-bottom", 12, 10, 1240, 1000, 1);
    @media (max-width:$mobile){
      // padding: 12px 122px;
      @include adaptiveValue("padding-left", 122, 82, 768, 480, 1);
      @include adaptiveValue("padding-right", 122, 82, 768, 480, 1);
      @include adaptiveValue("padding-top", 12, 8, 768, 480, 1);
      @include adaptiveValue("padding-bottom", 12, 8, 768, 480, 1);
      width: 50%;
    }
    @media (max-width: em(460)){
      padding-left: 118px;
      padding-right: 118px;
    }
    @media (max-width: em(390)){
      width: 100%;
    }
    @media (max-width:$mobileSmall){
      border-radius: 10px;
    }
  }
  // .diabetic-main__link-consultation
  &__link-consultation {
    @extend %mont-400;
    font-size: rem(14);
    transition: all 0.3s;
    text-decoration: underline !important;
    white-space: nowrap;
    @media (max-width:$mobile){
      @include adaptiveValue("font-size", 14, 13, 768, 480, 1);
    }
  }


  // .diabetic-mai__card
  &__card {
    padding-top: 30px;
    // flex-grow: 1;
    @extend %mont-500;
    font-size: rem(12);
    line-height: math.div(17 , 12);
    @media (max-width:$mobile){
      padding: 0;
    }
  }
// .diabetic-mai__card
  &__card-link {
    text-decoration: underline !important;
    color: $accent;
  }


  // .diabetic-main__bg
  &__bg {
    // padding-top: 154px;
    @include adaptiveValue("padding-top", 177, 170, 1240, 1000, 1);
    @media (max-width:$mobile){
      padding: 0;
      padding-right: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    img {
      height: auto;
      max-width: 100%;
      @media (max-width:$mobile){
        padding-top: 77px;
        padding-right: 30px;
        height: auto;
        width: 100%;
        object-fit: cover;
        // width: 546px;
        // height: 482px;
        // @include adaptiveValue("width", 546, 434, 767, 480, 1);
        // @include adaptiveValue("height", 482, 379, 767, 480, 1);
      }
      @media (max-width:$mobileSmall){
        padding-top: 47px;
        // @include adaptiveValue("width", 434, 279, 480, 380, 1);
        // @include adaptiveValue("height", 379, 244, 480, 380, 1);
      }
      @media (max-width: em(420)){
        padding-top: 40px;
      }
    }
  }

}
//========================================================================================================================================================

// .inovation
//========================================================================================================================================================
.inovation {
  background-color: $bg;
  // .inovation__container
  &__container {
    padding-top: 40px;
    padding-bottom: 75px;
    @media (max-width:$tablet){
      padding-bottom: 40px;
    }
    @media (max-width:$mobile){
      padding-bottom: 40px;
    }
    @media (max-width:$mobileSmall){
      padding-bottom: 40px;
    }
    @media (max-width: em(420)){
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }
  // .inovation__inner
  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // column-gap: 107px;
    @include adaptiveValue("column-gap", 107, 40, 1240, 1000, 1);
    @media (max-width:$mobile){
      display: flex;
      flex-direction: column-reverse;
      row-gap: 20px;
    }
  }
  // .inovation__item
  &__item {

  }
  // .inovation__item-img
  &__item-img {
    max-width: 100%;
    display: block;
    img {
      height: auto;
      width: 100%;
      object-fit: cover;
      @media (max-width:$mobile){
        width: 367px;
        height: 347px;
        margin-left: 15%;
      }
      @media (max-width: em(620)){
        margin-left: 10%;
      }
      @media (max-width: em(520)){
        margin-left: 2%;
      }
      @media (max-width:$mobileSmall){
        margin: 0;
        height: auto;
        width: 100%;
        object-fit: cover;
      }
    }
    @media (max-width:$mobileSmall){
      display: flex;
      justify-content: flex-start;
      padding-right: 34px;
    }
  }
  // .inovation__item-box
  &__item-box {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    @media (max-width:$tablet){
      padding-top: 0;
    }
  }
  // .inovation__item-title
  &__item-title {
    font-size: rem(30);
    line-height: math.div(42 , 30);
    @media (max-width:$tablet){
      @include adaptiveValue("font-size", 30, 26, 1000, 768, 1);
      text-align: left;
    }
    @media (max-width:$mobile){
      text-align: center;
      @include adaptiveValue("font-size", 32, 20, 480, 420, 1);
    }
  }
  // .inovation__list
  &__list {
    display: grid;
    row-gap: 16px;
    padding-left: 25px;
    @extend %mont-500;
    font-size: rem(16);
    line-height: normal;
  }
  // .inovation__list-item
  &__list-item {
  }
}
//========================================================================================================================================================

//.benefit
//========================================================================================================================================================
.benefit {
  background-color: $bg;
  // .benefit__container
  &__container {
    padding-top: 75px;
    padding-bottom: 45px;
    @media (max-width:$tablet){
      padding-top: 40px;
    }
    @media (max-width: em(420)){
      padding-top: 25px;
    }
  }
  // .benefit__title
  &__title {
    font-size: rem(30);
    @media (max-width:$tablet){
      font-size: rem(32);
    }
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 32, 20, 480, 420 ,1);
    }
  }
  // .benefit__inner
  &__inner {
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 25px;
    row-gap: 25px;
    @media (max-width:$tablet){
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width:$mobile){
      display: flex;
      flex-direction: column;
      row-gap: 15px;
    }
  }
  // .benefit__item
  &__item {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 30px;
    background-color: #fff;
    border-radius: 24px;
  }
  // .benefit__item-title
  &__item-title {
    @extend %mont-600;
    font-size: rem(18);
    line-height: math.div(22 , 18);
  }
  // .benefit__item-text
  &__item-text {
    @extend %mont-500;
    font-size: rem(14);
    line-height: math.div(22 , 14);
  }
}

//.syndrome-diabetic
//========================================================================================================================================================
.syndrome-diabetic {
  background-color: $bg;
  // .syndrome-diabetic__container
  &__container {
    padding-top: 45px;
    padding-bottom: 90px;
  }
  // .syndrome-diabetic__title
  &__title {
    font-size: rem(30);
    @media (max-width:$tablet){
      font-size: rem(32);
    }
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 32, 20, 480, 420 ,1);
    }
  }
  // .syndrome-diabetic__content
  &__content {
    padding-top: 20px;
    padding-bottom: 30px;
  }
  // .syndrome-diabetic__text
  &__text {
    @extend %mont-500;
    font-size: rem(16);
    line-height: math.div(26 , 16);
  }
  // .syndrome-diabetic__inner
  &__inner {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    // column-gap: 25px;
    @include adaptiveValue("column-gap", 25, 15, 1360, 1080, 1);

    @media (max-width:$tablet){
      grid-template-columns: repeat(3, 1fr);
      column-gap: 25px;
      row-gap: 25px;
    }
  }
  // .syndrome-diabetic__item
  &__item {
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    // align-content: center;
    // align-items: center;
    // display: grid;

    // max-width: 100%;
  }
  // .syndrome-diabetic__stage
  &__stage {
    text-align: center;
    @extend %mont-700;
    font-size: rem(16);
    line-height: math.div(26 , 16);
  }
  // .syndrome-diabetic__img-ibg
  &__img-ibg {
    display: block;
    max-width: 100%;
    overflow: hidden;
    padding-bottom: percent(351, 175);
    img {
      object-position: top;
    }
  }
  // .syndrome-diabetic__info
  &__info {
    @extend %mont-700;
    font-size: rem(16);
    line-height: math.div(26 , 16);
    text-align: center;
  }
}

//========================================================================================================================================================

//.complicate
//========================================================================================================================================================

//========================================================================================================================================================


//.diabetic-expert
//========================================================================================================================================================

.diabetic-expert__text {
  @extend %mont-600;
  font-style: italic;
  font-size: rem(18);
  line-height: math.div(29 , 18);
}
//========================================================================================================================================================

//.efficiency-product
//========================================================================================================================================================
.efficiency-product {
  background-color: $bg;
  // .efficiency-product__container
  &__container {
    padding-top: 100px;
    padding-bottom: 50px;
    @media (max-width:$tablet){
      padding-top: 80px;
      padding-bottom: 55px;       
    }
    @media (max-width:$mobile){
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
  // .efficiency-product__inner
  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include adaptiveValue("column-gap", 32, 10, 1240, 1000, 1);
    @media (max-width:$tablet){
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 30px;
    }
  }
  // .efficiency-product__content
  &__content{
    max-width: 572px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;
    @media (max-width:$tablet){
      max-width: 100%;
      align-items: center;
    }
  }
  // .efficiency-product__title
  &__title {
    font-size: rem(30);
    @media (max-width:$tablet){
      font-size: rem(32);
    }
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 32, 20, 480, 420, 1);
    }
  }
  // .efficiency-product__info
  &__info {
    @extend %mont-400;
    font-size: rem(16);
    line-height: math.div(26 , 16);
    text-align: justify;
    span {
      color: $accent;
      @extend %mont-700;
    }
    p {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 16, 14, 480, 420, 1);
    }
  }
  //.efficiency-product__action
  &__action {
    padding-top: 10px;
    @media (max-width:$mobileSmall){
      padding-top: 0;
      width: 100%;
      text-align: center;
    }
  }
  //.efficiency-product__link
  &__btn {
    @media (max-width:$mobileSmall){
      font-size: rem(14);
      display: block;
      // width: 100%;
    }
    @media (max-width: em(420)){
      font-size: rem(12);
      padding: 10px 15px;
    }
  }
// .efficiency-product__cards 
  &__cards {
    display: flex;
    align-items: center;
    column-gap: 16px;
    @media (max-width:$tablet){
      column-gap: 37px;
    }
    @media (max-width:$mobile){
      @include adaptiveValue("column-gap", 37, 30, 767, 480, 1);
    }
    @media (max-width:$mobileSmall){
      @include adaptiveValue("column-gap", 30, 20, 480, 420, 1);
    }
  }
  // .efficiency-product__image
  &__image {
    max-width: 100%;
    display: block;
    img {
      height: auto;
      width: 100%;
      object-fit: cover;
    }
  }
}
//========================================================================================================================================================

// .reports
//========================================================================================================================================================
.diabetic-reports__container {
  padding-bottom: 100px;
  @media (max-width:$tablet){
    padding-bottom: 80px;
  }
  @media (max-width:$mobile){
    padding-bottom: 50px; 
  }
}
//========================================================================================================================================================


//.multiplication
//========================================================================================================================================================
.multiplication {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $bg;
  @media (max-width:$tablet){
    background-position: center -90px;
  }
  // .multiplication__container
  &__container {
    padding-top: 20px;
    padding-bottom: 30px;
    @media (max-width:$tablet){
      padding-bottom: 40px;
    }
  }
  // .multiplication__title
  &__title {
  }
  // .multiplication__inner
  &__inner {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @include adaptiveValue("column-gap", 25, 15, 1240, 1180, 1);
    @media (max-width: em(1180)){
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: em(690)){
      display: flex;
      flex-direction: column;
      row-gap: 15px;
    }
  }
  // .multiplication__items
  &__items {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 15px;
    // display: flex;
    // flex-direction: column;

  }
  // .multiplication__item
  &__item {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 30px;
    border-radius: 24px;
    background-color: #fff;
    @media (max-width:$tablet){
      padding: 15px;
    }
  }
  // .multiplication__item-title
  &__item-title {
    text-transform: uppercase;
    @extend %mont-700;
    font-size: rem(16);
    line-height: math.div(19 , 16);

  }
  // .multiplication__item-text
  &__item-text {
    @extend %mont-500;
    font-size: rem(14);
    line-height: math.div(22 , 14);

  }
  // .multiplication__image
  &__image {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    img {
      display: inline-flex;
      width: 385px;
      height: 397px;
    }
    @media (max-width: em(1180)){
      display: none;
    }
  }
}
//========================================================================================================================================================

//.buy
//========================================================================================================================================================
.diabetic-buy__container {
  padding-top: 100px;
  padding-bottom: 75px;
  @media (max-width:$tablet){
    padding-top: 40px;
    padding-bottom: 80px;
  }
  @media (max-width:$mobileSmall){
    padding-bottom: 50px;
  }
  @media (max-width: em(420)){
    padding-top: 50px;
  }
}
//========================================================================================================================================================

//.diabetic-application
.diabetic-application {
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $bg;
  @media (max-width:$tablet){
    background-position: 90% 270px;
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;

  }
  // .diabetic-application__container
  &__container {

  }
  // .diabetic-application__title
  &__title {
    text-align: left;
    @media (max-width:$tablet){
      text-align: center;
    }
  }
  // .diabetic-application__inner
  &__inner {
    padding-top: 40px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include adaptiveValue("column-gap", 100, 60, 1240, 1000, 1);
    @media (max-width:$tablet){
      display: flex;
      flex-direction: column;
      row-gap: 30px;
    }
  }
  // .diabetic-application__item
  &__item {
    &:first-child{
      display: flex;
      flex-direction: column;
      row-gap: 30px;
    
    }
  }
  // .diabetic-application__content
  &__content {
    max-width: 473px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    @extend %mont-500;
    font-size: rem(16);
    line-height: math.div(26 , 16);
    @media (max-width:$tablet){
      max-width: 100%;
    }
  }
  // .diabetic-application__img
  &__img {
    @media (max-width:$tablet){
      display: grid;
      justify-content: center;
    }
    img {
      height: auto;
      width: 100%;
      object-fit: cover;
      @media (max-width:$tablet){
        max-width: 659px;
        height: auto;
      }
    }
  }
}
//========================================================================================================================================================
//.diabetic-reviews
//========================================================================================================================================================
.diabetic-reviews {
  background-color: $bg;
  // .diabetic-reviews__container
  &__container {
    padding-top: 100px;
    padding-bottom: 50px;
    @media (max-width:$tablet){
      padding-top: 80px;
    }
    @media (max-width:$mobileSmall){
      padding-top: 70px;
      padding-bottom: 40px;
    }
    @media (max-width: em(420)){
      padding-top: 50px;
      padding-bottom: 25px;
    }
  }
  // .diabetic-reviews__heading
  &__heading {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    align-items: center;
    @media (max-width:$tablet){
      flex-direction: column;
      align-items: center;
      row-gap: 15px;
    }
    @media (max-width:$mobile){
      @include adaptiveValue("row-gap", 15, 20, 768, 480, 1);
    }
  }
  // .diabetic-reviews__title
  &__title {
  }
  // .diabetic-reviews__action
  &__action {
  }
  // .diabetic-reviews__button
  &__button {
  }
  // .diabetic-reviews__inner
  &__inner {
    padding-top: 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 24px;
    column-gap: 24px;
    @media (max-width:$tablet){
      padding-top: 30px;
      display: flex;
      flex-direction: column;
    }
  }
  // .diabetic-reviews__item
  &__item {
    padding: 20px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    background-color: $white;
  }
  // .diabetic-reviews__top
  &__top {
    display: flex;
    justify-content: space-between;
    @media (max-width:$mobileSmall){
    }
    @media (max-width: em(530)){
      flex-direction: column;
      row-gap: 10px;
    }
  }

  // .diabetic-reviews__user-info
  &__user-info {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
  // .diabetic-reviews__user-name
  &__user-name {
    @extend %mont-600;
    font-size: rem(16);
    line-height: math.div(26 , 16);
  }
  // .diabetic-reviews__user-rating
  &__user-rating {
    display: flex;
    column-gap: 2px;
    img {
      width: 24px;
      height: 24px;
    }
  }
  // .diabetic-reviews__market
  &__market {
  }
  // .diabetic-reviews__market-link
  &__market-link {
    padding: 5px 10px 5px 5px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    border-radius: 12px;
    background: #F5F6FD;
    img {
      width: 24px;
      height: 24px;
    }
    p {
      @extend %mont-500;
      font-size: rem(14);
      line-height: math.div(23 , 14);
    }
    @media (max-width: em(530)){
      display: inline-flex;
    }
  }
  // .diabetic-reviews__bottom
  &__bottom {
  }

  // .diabetic-reviews__text
  &__text {
    @extend %mont-400;
    font-size: rem(16);
    line-height: math.div(26 , 16);
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 16, 14);
    }
  }
  //diabetic-reviews__wrapper
  &__wrapper {
    padding-top: 20px;
    @media (max-width:$tablet){
      display: flex;
      justify-content: center;
    }
  }
}
//========================================================================================================================================================

//diabetic-contacts
//========================================================================================================================================================
.diabetic-contacts {
  &__container {
    padding-top: 50px;
    padding-bottom: 100px;
    @media (max-width:$tablet){
      padding-top: 50px;
    }
    @media (max-width:$mobile){
      padding-bottom: 40px;
    }
    @media (max-width:$mobileSmall){
      padding-top: 40px;
    }
    @media (max-width: em(420)){
      padding-top: 25px;
    }
  }
}



