.documents {
  background-color: $bg;
  // .documents__container
  &__container {
    padding-top: 187px;
    @media (max-width:$tablet){
      padding-top: 134px;
      padding-bottom: 50px;
    }
    @media (max-width:$mobile){
      padding-bottom: 75px; 
    }
    @media (max-width:$mobileSmall){
      padding-top: 106px;
    }
  }
  //.documents__wrapper
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width:$mobile){
      justify-content: center;
    }
  }

  // .documents__title-box
  &__title-box {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    @media (max-width:$mobile){
      row-gap: 15px;
    }
    @media (max-width:$mobileSmall){
      row-gap: 10px;
    }
    @media (max-width: em(360)){
      row-gap: 5px;
    }
  }


  // .documents__title
  &__title {

  }
  //.documents__button
  &__button {
    white-space: nowrap;
    padding: 13px 50px;
    @extend %mont-500;
    font-size: rem(16);
    line-height: 120%;
  }

  //.documents__action
  &__action {

  }
  // .documents__subtitle
  &__subtitle {
    @extend %mont-400;
    font-size: rem(16);
    line-height: math.div(26 , 16);
    @media (max-width:$mobileSmall){
      text-align: center;
      @include adaptiveValue("font-size", 16, 14, 480, 420, 1);
    }
  }
  // .documents__inner
  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 26px;
    padding-top: 25px;
    @media (max-width:$mobile){
      display: flex;
      flex-direction: column;
      row-gap: 20px;
    }
    @media (max-width:$mobileSmall){
      padding-top: 30px;
    }
    @media (max-width: em(420)){
      padding-top: 20px;
    }
  }
  // .documents__item
  &__item {

  }
  // .documents__img
  &__img {
    max-width: 100%;
    display: block;
    img {
      height: auto;
      width: 100%;
      object-fit: cover;
    }
  }
}
