//========================================================================================================================================================
.questions {
  background-color: $bg;
  // .questions__container
  &__container {
    padding-top: 173px;
    @media (max-width:$tablet){
      padding-top: 134px;
      padding-bottom: 75px;
    }
    @media (max-width:$mobile){
      padding-top: 106px;
    }
  }
  // .questions__title-box
  &__title-box {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }
  // .questions__title
  &__title {
    @media (max-width:$tablet){
      text-align: center;
    }
  }
  // .questions__subtitle
  &__subtitle {
    font-size: rem(20);
    line-height: math.div(32 , 20);
    color: #1B1B1B;
    @media (max-width:$tablet){
      text-align: center;
      font-size: rem(16);
      line-height: math.div(26 , 16);
    }
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 16, 14, 480, 420, 1);
    }
  }
  // .questions__inner
  &__inner {
    padding-top: 30px;
    // display: grid;  
    // row-gap: 30px;
    @media (max-width:$tablet){
      padding-top: 40px;
    }
    @media (max-width:$mobileSmall){
      padding-top: 30px;
    }
    @media (max-width: em(420)){
      padding-top: 20px;
    }
  }
  // .questions__spollers
  &__spollers {
  }
  // .questions__item
  &__item {
  }
  // .questions__item-title
  &__item-title {
  }
}

  .spollers {
  // .spollers__item
  &__item {
  }
  // .spollers__title
  &__title {
  }
  // .spollers__body
  &__body {
  }
}
