//========================================================================================================================================================
.questions {
  background-color: $bg;
  padding-top: 173px;
  // .questions__container
  &__container {
    @media (max-width:$tablet){
      padding-bottom: 75px;
    }
  }
  // .questions__title-box
  &__title-box {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }
  // .questions__title
  &__title {
    font-size: rem(40);
    line-height: math.div(48 , 40);

  }
  // .questions__subtitle
  &__subtitle {
    font-size: rem(20);
    line-height: math.div(32 , 20);
    color: #1B1B1B;
    @media (max-width:$tablet){
      text-align: center;
      font-size: rem(16);
      line-height: math.div(26 , 16);
    }
  }
  // .questions__inner
  &__inner {
    padding-top: 30px;
    // display: grid;  
    // row-gap: 30px;
  }
  // .questions__spollers
  &__spollers {
  }
  // .questions__item
  &__item {
  }
  // .questions__item-title
  &__item-title {
  }
}
.title {
}
.spollers {
  // .spollers__item
  &__item {
  }
  // .spollers__title
  &__title {
  }
  // .spollers__body
  &__body {
  }
}
