//.foto
.foto {
  background-color: #F5F6FD;
  // .foto__container
  &__container {
    padding-top: 170px;
  }
  // .foto__title-box
  &__title-box {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    @media (max-width:$tablet){
      align-items: center;
    }
    @media (max-width: em(620)){
      row-gap: 10px;
    }
    @media (max-width: em(420)){
      row-gap: 5px;
    }
  }
  // .foto__title
  &__title {
    margin-bottom: 20px;
    @media (max-width:$tablet){
      margin-bottom: 0;
    }
  }
  // .foto__subtitle
  &__subtitle {
    @extend %mont-600;
    font-size: rem(16);
    line-height: math.div(26 , 16);
    color: #1B1B1B;
    display: none;
    @media (max-width:$tablet){
      display: flex;
      text-align: center;
    }
    @media (max-width:$mobile){
      max-width: 316px;
    }
    @media (max-width: em(420)){
      font-size: rem(14);
      line-height: math.div(22 , 14);
    }
  }
  //.foto__inner
  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    @media (max-width:$tablet){
      row-gap: 40px;
    }
    @media (max-width:$mobileSmall){
      row-gap: 30px;
    }
    @media (max-width: em(420)){
      row-gap: 20px;
    }
  }
}

//..foto-subtitle
.foto-subtitle {
  @extend %mont-600;
  font-size: rem(24);
  line-height: math.div(34 , 24);
  @media (max-width:$tablet){
    font-size: rem(16);
    line-height: math.div(23 , 16);
  }
  @media (max-width:$mobileSmall){
    font-size: rem(14);
    line-height: math.div(20 , 14);
  }
  @media (max-width: em(420)){
    font-size: rem(13);
    line-height: math.div(19 , 13);
  }
}

//.foto-wrapper
.foto-content {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  @media (max-width:$tablet){
    row-gap: 15px;
  }
  @media (max-width:$mobileSmall){
    row-gap: 10px;
  }
}
//.foto-info
.foto-info {
  @extend %mont-500;
  font-size: rem(20);
  line-height: 120%;
  @media (max-width:$tablet){
    font-size: rem(14);
  }
  @media (max-width:$mobileSmall){
    font-size: rem(13);
  }
  @media (max-width: em(420)){
    font-size: rem(12);
  }
}

//.sword-cut
//========================================================================================================================================================
.sword-cut {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  // .sword-cut__subtitle
  &__subtitle {
    @extend %mont-600;
    font-size: rem(24);
    line-height: math.div(34 , 24);
    @media (max-width:$tablet){
      font-size: rem(16);
      line-height: math.div(23 , 16);
    }
    @media (max-width:$mobileSmall){
      font-size: rem(14);
      line-height: math.div(20 , 14);
    }
    @media (max-width: em(420)){
      font-size: rem(13);
      line-height: math.div(19 , 13);
    }
  }
  // .sword-cut__items
  &__items {
    display: flex;
    align-items: center;
    column-gap: 25px;
    @media (max-width:$tablet){
      column-gap: 16px;
    }
  }
  // .sword-cut__item
  &__item {
    max-width: 275px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    @media (max-width:$tablet){
      max-width: 100%;
      &:nth-child(2) {
        display: none;
      }
    }
    @media (max-width:$mobileSmall){
      row-gap: 10px;
    }
    @media (max-width: em(420)){
      row-gap: 5px;
    }
  }
  // .sword-cut__img-ibg
  &__img-ibg {
    overflow: hidden;
    padding-bottom: percent(350, 275);
    border-radius: 24px;
    img {
      object-position: top;
    }
  }
  // .sword-cut__info
  &__item-info {
    display: flex;
    justify-content: center;
    @extend %mont-500;
    font-size: rem(15);
    line-height: 120%;
    color: $black;
    @media (max-width:$mobile){
      font-size: rem(12);
    }
  }
  @media (max-width:$tablet){
    padding-top: 40px;
    row-gap: 20px;
  }
  @media (max-width: em(620)){
    padding-top: 30px;
  }
  @media (max-width:$mobileSmall){
    row-gap: 10px;
  }
  @media (max-width: em(420)){
    padding-top: 20px;
  }
}
//========================================================================================================================================================

//.septic-complication
//========================================================================================================================================================
.septic-complication {
  // .septic-complication__subtitle
  &__subtitle {
  }
  // .septic-complication__info
  &__info {
    max-width: 793px;
  }
  // .septic-complication__items
  &__items {
    max-width: 100%;
    display: flex;
    column-gap: 25px;
    @media (max-width:$tablet){
      column-gap: 16px;
      & .septic-complication__item {
        &:last-child{
          order: -1;
        }
      }
    }
  }
  //.septic-complication__inner
  &__inner {
    max-width: 575px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    @media (max-width:$tablet){
      display: none;
    }
    
  }

  // .septic-complication__item-wrapper
  &__item-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 25px;
    @media (max-width:$tablet){
      column-gap: 16px;
      .septic-complication__item {
        &:first-child{
          display: none;
        }
      }
    }
  }
  // .septic-complication__item
  &__item {
    max-width: 275px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 15px;
    @media (max-width:$tablet){
      max-width: 100%;
    }
    @media (max-width:$mobileSmall){
      row-gap: 10px;
    }
    @media (max-width: em(420)){
      row-gap: 5px;
    }
  }
  //.septic-complication__item-info
  &__item-info {
    display: flex;
    justify-content: center;
    @extend %mont-500;
    font-size: rem(15);
    line-height: 120%;
    color: $black;
    @media (max-width:$mobile){
      font-size: rem(12);
    }
    @media (max-width: em(420)){
      font-size: rem(11);
    }
  }
  // .septic-complication__img-ibg
  &__img-ibg {
    overflow: hidden;
    padding-bottom: percent(350, 275);
    border-radius: 24px;
    img {
      object-position: top;
    }
  }
}
//========================================================================================================================================================

//..multi-septic-complication
//========================================================================================================================================================
.multi-septic-complication {
  // .multi-septic-complication__subtitle
  &__subtitle {
  }
  // .multi-septic-complication__info
  &__info {
  }
  // .multi-septic-complication__items
  &__items {
    display: flex;
    justify-content: space-between;
    column-gap: 25px;
    @media (max-width:$tablet){
      column-gap: 16px;
      .multi-septic-complication__item {
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          display: none;
        }
      }
    }
  }
  // .multi-septic-complication__item
  &__item {
    max-width: 275px;
    width: 100%;
    @media (max-width:$tablet){
      max-width: 100%;
    }
  }
  // .multi-septic-complication__img-ibg
  &__img-ibg {
    overflow: hidden;
    border-radius: 24px;
    padding-bottom: percent(520, 275);
    img {
      object-position: top;
    }
  }
  
}
//========================================================================================================================================================

//.autodermoplasty
.autodermoplasty {
  // .autodermoplasty__subtitle
  &__subtitle {
  }
  // .autodermoplasty__items
  &__items {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    @media (max-width:$tablet){
      row-gap: 15px;
    }
    @media (max-width:$mobileSmall){
      row-gap: 10px;
    }
    @media (max-width: em(420)){
      row-gap: 5px;
    }
  }
  // .autodermoplasty__wrapper
  &__wrapper {
    &:first-child{
      display: flex;
      flex-direction: column;
      row-gap: 15px;
      @media (max-width:$mobileSmall){
        row-gap: 10px;
      }
      @media (max-width: em(420)){
        row-gap: 5px;
      }
    }
    &:last-child{
      display: flex;
      justify-content: space-between;
      column-gap: 25px;
      .autodermoplasty__item {
        max-width: 271px;
      }

      & .autodermoplasty__img-ibg {
        overflow: hidden;
        border-radius: 24px;
        padding-bottom: percent(276, 271);
        img {
          object-position: top;
        }
      }
      @media (max-width:$tablet){
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 16px;
        row-gap: 15px;
        .autodermoplasty__item {
          max-width: 100%;
        }
      }
      @media (max-width:$mobileSmall){
        row-gap: 10px;
      }
      @media (max-width: em(420)){
        row-gap: 5px;
      }

    }

  }
  // .autodermoplasty__inner
  &__inner {
    display: flex;
    justify-content: space-between;
    column-gap: 25px;
    @media (max-width:$tablet){
      column-gap: 16px;
      .autodermoplasty__item {
        max-width: 100%;
        &:nth-child(2) {
          display: none;
        }
      }
    }
  }
  // .autodermoplasty__item
  &__item {
    max-width: 375px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    @media (max-width:$mobileSmall){
      row-gap: 10px;
    }
    @media (max-width: em(420)){
      row-gap: 5px;
    }
  }
  // .autodermoplasty__img-ibg
  &__img-ibg {
    overflow: hidden;
    border-radius: 24px;
    padding-bottom: percent(284, 375);
    img {
      object-position: top;
    }
  }
  // .autodermoplasty__item-info
  &__item-info {
    display: flex;
    justify-content: center;
    text-align: center;
    @extend %mont-500;
    font-size: rem(15);
    line-height: 120%;
    color: $black;
    @media (max-width:$mobile){
      font-size: rem(12);
    }
    @media (max-width: em(420)){
      font-size: rem(11);
    }
  }
}
//========================================================================================================================================================

//.scalped-wound
//========================================================================================================================================================
.scalped-wound {
  // .scalped-wound__subtitle
  &__subtitle {
  }
  // .scalped-wound__info
  &__info {
  }
  // .scalped-wound__inner
  &__inner {
    display: flex;
    justify-content: space-between;
    column-gap: 25px;
    .scalped-wound__items {
      &:nth-child(2) {
        @media (max-width:$tablet){
          display: none;
        }
      }
    }
    &:last-child{
      @media (max-width: em(1240)){
        justify-content: center;
      }
    }
  }
  // .scalped-wound__items
  &__items {
    max-width: 575px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    @media (max-width:$tablet){
      max-width: 100%;
    }
    @media (max-width:$mobileSmall){
      row-gap: 10px;
    }
    @media (max-width: em(420)){
      row-gap: 5px;
    }
  }
  // .scalped-wound__items-box
  &__items-box {
    display: flex;
    column-gap: 25px;
    @media (max-width:$tablet){
      column-gap: 16px;
    }
  }
  // .scalped-wound__item
  &__item {
    max-width: 275px;
    width: 100%;
    @media (max-width:$tablet){
      max-width: 100%;
    }
  }
  // .scalped-wound__img
  &__img-ibg {
    overflow: hidden;
    border-radius: 24px;
    padding-bottom: percent(345, 275);
    img {
      object-position: top;
    }
  }
  // .scalped-wound__items-info
  &__items-info {
    display: flex;
    justify-content: center;
    text-align: center;
    @extend %mont-500;
    font-size: rem(15);
    line-height: 120%;
    color: $black;
    @media (max-width:$mobile){
      font-size: rem(12);
    }
    @media (max-width: em(420)){
      font-size: rem(11);
    }
  }
}
//========================================================================================================================================================

//.valgus-deform
//========================================================================================================================================================
.valgus-deform {
  // .valgus-deform__subtitle
  &__subtitle {
  }
  // .valgus-deform__info
  &__info {
  }

  //.valgus-deform__wrapper
  &__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    // вырезаем пальцы
    @media (max-width:$tablet){
      .valgus-deform__inner {
        &:first-child{
          .valgus-deform__item {
            &:first-child{
              display: none;
            }
          }
        }
        &:last-child{
          .valgus-deform__item {
            &:last-child{
              display: none;
            }
          }
        }
      }
    }
    @media (max-width:$tablet){
      flex-direction: row;
      column-gap: 16px;
    }
  }

  // .valgus-deform__inner
  &__inner {
    max-width: 975px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    @media (max-width:$tablet){
      width: 100%;
    }
    @media (max-width:$mobileSmall){
      row-gap: 10px;
    }
    @media (max-width: em(420)){
      row-gap: 5px;
    }
  }
  // .valgus-deform__items
  &__items {
    display: flex;
    column-gap: 25px;
    @media (max-width:$tablet){
      column-gap: 16px;
    }
  }
  // .valgus-deform__item
  &__item {
    width: 100%;
  }
  // .valgus-deform__img
  &__img-ibg {
    overflow: hidden;
    border-radius: 24px;
    padding-bottom: percent(264, 475);
    img {
      object-position: top;
    }
  }
  // .valgus-deform__items-info
  &__items-info {
    display: flex;
    justify-content: center;
    text-align: center;
    @extend %mont-500;
    font-size: rem(15);
    line-height: 120%;
    color: $black;
    @media (max-width:$mobile){
      font-size: rem(12);
    }
    @media (max-width: em(420)){
      font-size: rem(11);
    }
  }

}





