//.main
//====================================================================================================
.main {
  max-width: 100%;
  background-position: center top;
  background-repeat: no-repeat;
  background-color: $bg;

  // .main__container
  @media (max-width:$tablet){
    background-position: 90% 0;
  }
  @media (max-width:$mobile){
    background-position: 70% 92%;
  }
  @media (max-width:$mobileSmall){
    background-position: 73% 0;

  }
  @media (max-width: em(380)){
    background-position: 73% 23%;
    background-size: 300%;
  }
  &__container {
    padding-bottom: 40px;
    @media (max-width:$tablet){
      padding-bottom: 25px;
    }
    @media (max-width:$mobile){
      @include adaptiveValue("padding-top", 82, 50, 767, 480, 1);
    }
    @media (max-width:$mobileSmall){
      @include adaptiveValue("padding-top", 50, 70, 480, 420, 1); 
    }
  }
  // .main__inner
  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    @include adaptiveValue("column-gap", 30, 5, 1240, 1000, 1);
    @media (max-width:$mobile){
      display: flex;
      flex-direction: column-reverse;
    }
  }
  // .main__content
  &__content {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding-top: 187px;
    @media (max-width:$mobile){
      padding: 0;
    }
    @media (max-width: em(420)){
      row-gap: 24px;
    }
  }
  // .main__title-box
  &__title-box {
    display: flex;
    flex-direction: column;
    row-gap: 7px;
  }
  // .main__title
  &__title {
    @extend %mont-700;
    font-size: rem(72);
    color: $accent;
    @include adaptiveValue("font-size", 72, 62, 1000, 868, 1);
    @media (max-width:$mobile){
      @include adaptiveValue("font-size", 62, 72, 868, 767, 1);
    }
    @media (max-width: em(767)){
      @include adaptiveValue("font-size", 72, 64, 767, 480, 1);
    }
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 64, 32, 480, 420, 1);
    }
  }

  // .main__subtitle
  &__subtitle {
    font-size: rem(16);
    @extend %mont-600;
    @include adaptiveValue("font-size", 16, 13.8, 1000, 868, 1);
    @media (max-width:$mobile){
      @include adaptiveValue("font-size", 13.8, 16, 868, 767, 1);
    }
    @media (max-width: em(767)){
      @include adaptiveValue("font-size", 16, 14.4, 767, 480, 1);
    } 
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 14.4, 14, 480, 420, 1);
      max-width: 210px;
    }
  }
  // .main__list
  &__list {
    max-width: 295px;
    @extend %mont-500;
    font-size: rem(16);
    line-height: math.div(19 , 16);
    padding-left: 25px;
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 16, 13, 480, 420, 1);
    }
  }
  // .main__list-item
  &__list-item {
    position: relative;
    &:not(:last-child) {
      margin-bottom: 21px;
      @media (max-width: em(380)){
        margin-bottom: 14px;
      }
    }
  }
  // .main__actions
  &__actions {
    display: flex;
    align-items: center;
    column-gap: 20px;
    @media (max-width:$mobile){
      column-gap: 78px;
      @include adaptiveValue("column-gap", 78, 41, 768, 480, 1);
    }
    @media (max-width: em(460)){
      flex-direction: column;
      row-gap: 20px;
    }
  }
  // .main__button
  &__button {
    border-radius: 16px;
    @include adaptiveValue("font-size", 16, 14, 1240, 1000, 1);
		@include adaptiveValue("padding-left", 80, 60, 1240, 1000, 1);
		@include adaptiveValue("padding-right", 80, 60, 1240, 1000, 1);
		@include adaptiveValue("padding-top", 12, 10, 1240, 1000, 1);
		@include adaptiveValue("padding-bottom", 12, 10, 1240, 1000, 1);
    @media (max-width:$mobile){
      // padding: 12px 122px;
      @include adaptiveValue("padding-left", 122, 82, 768, 480, 1);
      @include adaptiveValue("padding-right", 122, 82, 768, 480, 1);
      @include adaptiveValue("padding-top", 12, 8, 768, 480, 1);
      @include adaptiveValue("padding-bottom", 12, 8, 768, 480, 1);
      width: 50%;
    }
    @media (max-width: em(460)){
      padding-left: 118px;
      padding-right: 118px;
    }
    @media (max-width: em(390)){
      width: 100%;
    }

  }
  // .main__link-reviews
  &__link-consultation {
    @extend %mont-400;
    font-size: rem(14);
    transition: all 0.3s;
    text-decoration: underline !important;
    white-space: nowrap;
    @media (max-width:$mobile){
      @include adaptiveValue("font-size", 14, 13, 768, 480, 1);
    }
  }
  // .main__bg
  &__bg {
    padding-top: 90px;
    @include adaptiveValue("padding-top", 90, 170, 1240, 1000, 1);
    @media (max-width:$mobile){
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    img {
      height: auto;
      width: 100%;
      @media (max-width:$mobile){
        width: 546px;
        height: 482px;
        @include adaptiveValue("width", 546, 434, 767, 480, 1);
        @include adaptiveValue("height", 482, 379, 767, 480, 1);
      }
      @media (max-width:$mobileSmall){
        @include adaptiveValue("width", 434, 279, 480, 380, 1);
        @include adaptiveValue("height", 379, 244, 480, 380, 1);
      }
    }
  }

}
//.main-use
.main-use {
  // .main-use__inner
  &__inner {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    @include adaptiveValue("margin-top", 0, 60, 1240, 980, 1);
  }
  // .main-use__item
  &__item {
    cursor: pointer;
    display: grid;
    justify-items: center;
    row-gap: 13px;
    @extend %mont-600;
    font-size: rem(14);
    padding: 23px 35px;
    background-color: $white;
    border-right: 2px solid #F5F6FD;
    &:first-child{
      border-top-left-radius: 30px;
    }
    &:last-child{
      border-bottom-right-radius: 30px;
      border-right: none;
    }

    &:nth-child(5) {
      border-top-right-radius: 30px;
      border-right: none;
    }
    &:nth-child(6){
      border-bottom-left-radius: 30px;
    }
    &:nth-child(n + 6) {
      border-top: 2px solid #F5F6FD;
    }
    transition: all 0.3s ease 0s;
    &:hover {
      background: #F5F7FD;
      -webkit-box-shadow: -1px -1px 10px 0px rgba(34, 60, 80, 0.1);
      -moz-box-shadow: -1px -1px 10px 0px rgba(34, 60, 80, 0.1);
      box-shadow: -1px -1px 10px 0px rgba(34, 60, 80, 0.1);
    }

    @media (max-width: em(1000)){
      padding: 15px 30px;
    }
    @media (max-width: em(940)){
      padding: 10px 15px;
    }
  }
  // .main-use__item-img
  &__item-img {
    width: 48px;
    height: 48px;
    @media (max-width: em(1170)){
      width: 32px;
      height: 32px;
    }
  }
  // .main-use__item-text
  &__item-text {
    @extend %mont-600;
    font-size: rem(14);
    color: #1B1B1B;
    text-align: center;
    @media (max-width: em(1170)){
      font-size: rem(12);
    }
  }
  @media (max-width:$mobile){
    display: none;
  }
}
//====================================================================================================

//.property 
//====================================================================================================
.property {
  background-color: $bg;
  background-position: 40% 110px;
  background-repeat: no-repeat;

  @media (max-width:$tablet){
    background-position: 25% 100px;

  }
  @media (max-width: em(860)){
    background-position: 20% 100px;
  }
  @media (max-width: em(780)){
    background-position: 5% 100px;
  }
  @media (max-width:$mobile){
    background-position: 0px 75px;

  }
  @media (max-width: em(640)){
    background-position: -50px 75px;
  }
  @media (max-width: em(620)){
    background-position: -100px 75px;
  }
  @media (max-width: em(520)){
    background-position: -130px 75px;
  }
  @media (max-width: em(480)){
    background-position: -150px 75px;
  }
  @media (max-width: em(440)){
    background-position: -180px 75px;
  }
  @media (max-width: em(410)){
    background-position: -200px 75px;
  }
  @media (max-width: em(380)){
    background-position: -255px 75px;
  }
  // .property__container
  &__container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-top: 40px;
    padding-bottom: 50px;
    @media (max-width:$tablet){
      padding-top: 25px;
      padding-bottom: 25px;
    }
    @media (max-width:$mobile){
      padding-top: 25px;
    }
  }
  // .property__inner
  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include adaptiveValue("column-gap", 422, 250, 1240, 1000, 1);
    padding-top: 35px;
    @media (max-width:$tablet){
      column-gap: 16px;
      padding-top: 390px;
    }
    @media (max-width:$mobile){
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
    @media (max-width: em(620)){
      flex-direction: column;
      row-gap: 15px;
    }
  }
  // .property__items
  &__items {
    z-index: 5;
    @media (max-width:$mobile){
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
  // .property__item
  &__item {
    padding: 8px;
    display: flex;
    align-items: center;
    column-gap: 16px;
    border-radius: 64px;
    background: rgba(255, 255, 255, 0.60);
    &:not(:last-child) {
      margin-bottom: 15px;
    }
    @media (max-width:$tablet){
      column-gap: 12px;
    }
    @media (max-width: em(380)){
      column-gap: 15px;
    }
  }
  // .property__item-icon
  &__item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 46px;
    height: 46px;
    background-color: $accent;
    border-radius: 50%;
    @media (max-width:$mobile){
      zoom: 80%;
    }
    @media (max-width:$mobileSmall){
      zoom: 70%;
    }
  }
  // .property__item-text
  &__item-text {
    @extend %mont-500;
    font-size: rem(18);
    @media (max-width:$tablet){
      font-size: rem(16);
    }
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 16, 14, 480, 420, 1); 
    }
  }
}
//====================================================================================================

//.product
//====================================================================================================
.product {
  background-color: $bg;
  // .product__container
  &__container {
    padding-top: 50px;
    padding-bottom: 100px;
    @media (max-width:$tablet){
      padding-top: 25px;
      padding-bottom: 66px;       
    }
    @media (max-width:$mobile){
      padding-top: 25px;
      padding-bottom: 50px;
    }
  }
  // .product__inner
  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include adaptiveValue("column-gap", 32, 10, 1240, 1000, 1);
    @media (max-width:$tablet){
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 20px;
    }
  }
  // .product__content
  &__content{
    max-width: 572px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    @media (max-width:$tablet){
      max-width: 100%;
    }
  }
  // .product__title
  &__title {
  }
  // .product__info
  &__info {
    @extend %mont-400;
    font-size: rem(16);
    line-height: math.div(26 , 16);
    text-align: justify;
    span {
      @extend %mont-600;
    }
    p {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 16, 14, 480, 420, 1);
    }
  }
// .product__cards 
  &__cards {
    display: flex;
    align-items: center;
    column-gap: 16px;
    @media (max-width:$tablet){
      column-gap: 37px;
    }
    @media (max-width:$mobile){
      @include adaptiveValue("column-gap", 37, 30, 767, 480, 1);
    }
    @media (max-width:$mobileSmall){
      @include adaptiveValue("column-gap", 30, 20, 480, 420, 1);
    }
  }
  // .product__image
  &__image {
    max-width: 100%;
    display: block;
    img {
      height: auto;
      width: 100%;
      object-fit: cover;
    }
  }
}
//======================================================================================================

//.expert
//=====================================================================================================
.expert {
  background-position: center right -180px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $bg;
  @media (max-width: em(1240)){
    background-position: -140px 85%;
    background-size: contain;
  }
  @media (max-width:$tablet){
    background-position: right 27%;
    background-size: contain;
  }
  @media (max-width: em(660)){
    background-position: 45% 30%;
    background-size: 190%;
  }
  @media (max-width: em(380)){
    background-position: 50% 40%;
  }
  // .expert__container
  &__container {
    padding-top: 40px;
    padding-bottom: 40px;
    @media (max-width:$tablet){
      @include adaptiveValue("padding-bottom", 40, 25, 1000, 768, 1);
    }
  }
  // .expert__inner
  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include adaptiveValue("column-gap", 124, 20, 1280, 1000, 1);
    @media (max-width:$tablet){
      display: flex;
      flex-direction: column;
      row-gap: 50px;
    }
  }
  // .expert__info
  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    @media (max-width:$tablet){
      row-gap: 20px;
    }
  }
  // .expert__content
  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 36px;
  }
  // .expert__title
  &__title {
    width: 598px;
    @media (max-width: em(1220)){
      width: 100%;
    }
  }
  // .expert__text
  &__text {
    max-width: 573px;
    text-align: justify;
    @extend %mont-500;
    font-size: rem(16);
    line-height: math.div(26 , 16);
    @media (max-width:$tablet){
      max-width: 100%;
    }
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 16, 14, 480, 420, 1);
    }
  }
  // .expert__doctor
  &__doctor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    @media (max-width:$tablet){
      display: flex;
      justify-content: center;
      @include adaptiveValue("column-gap", 36, 0, 1000, 480, 1);
    }
    @media (max-width:$mobile){
      @include adaptiveValue("column-gap", 40, 0, 768, 520, 1);
    }
    @media (max-width: em(435)){
      justify-content: flex-start;
    }
  }
  // .expert__avatar
  &__avatar {
    max-width: 100%;
    display: block;
    img {
      height: auto;
      width: 100%;
      object-fit: cover;
      @media (max-width:$tablet){
        width: 200px;
        height: 175px;
      }
      @media (max-width: em(485)){
        height: auto;
        width: 100%;
        object-fit: cover;
      }
    }
    @media (max-width: em(485)){
      max-width: 100%;
      display: block;
    }
    @media (max-width: em(435)){
      display: none;
    }
  }
  // .expert__doctor-info
  &__doctor-info {
    padding-top: 28px;
    max-width: 275px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }
  // .expert__name
  &__name {
    color: $accent;
    @extend %mont-700;
    font-size: rem(18);
    line-height: math.div(25 , 18);
    white-space: nowrap;
    @media (max-width:$mobile){
      @include adaptiveValue("font-size", 18, 16, 768, 520, 1);
      line-height: math.div(22 , 16);
    }
    @media (max-width:$mobile){
    }
  }
  // .expert__profile
  &__profile {
    @extend %mont-500;
    font-size: rem(14);
    line-height: math.div(20 , 14);
  }
  // .expert__form
  &__form {

  }
  // .expert__form-wrap
  &__form-wrap {
    display: flex;
    justify-content: center;
  }
  // .expert__subtitle
  &__subtitle {
    text-align: center;
  }
  // .expert__button
  &__button {
    margin-top: 5px;
    padding: 15px 68px;
    border-radius: 16px;
    @extend %mont-500;
    font-size: rem(16);
    line-height: 120%;
    white-space: nowrap;
    @media (max-width: em(660)){
      width: 100%;
    }
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 16, 14, 480, 460, 1);
    }
  }
}
//.expert-form
.expert-form {
  max-width: 475px;
  width: 100%;
  padding: 40px 40px;
  border-radius: 40px;
  background-color: $white;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  @media (max-width:$tablet){
    max-width: 100%;
  }
  @media (max-width:$mobile){
    @include adaptiveValue("padding-top", 40, 30, 768, 480, 1);
    @include adaptiveValue("padding-bottom", 40, 30, 768, 480, 1);
    @include adaptiveValue("padding-left", 40, 30, 768, 480, 1);
    @include adaptiveValue("padding-right", 40, 30, 768, 480, 1);
  }
  @media (max-width:$mobileSmall){
    @include adaptiveValue("padding-top", 30, 16, 480, 420, 1);
    @include adaptiveValue("padding-bottom", 30, 16, 480, 420, 1);
    @include adaptiveValue("padding-left", 30, 16, 480, 420, 1);
    @include adaptiveValue("padding-right", 30, 16, 480, 420, 1);
  }
  @media (max-width: em(420)){
    border-radius: 24px;
  }
  // .expert-form__title
  &__title {
    text-transform: uppercase;
    text-align: center;
    font-size: rem(18);
    line-height: math.div(26 , 18);
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 18, 16, 480, 420, 1);
    }
    @media (max-width: em(420)){
      line-height: math.div(22 , 16);
      max-width: 267px;
      margin: 0 auto;
    }
  }
  // .expert-form__subtitle
  &__subtitle {
    @extend %mont-500;
    font-size: rem(12);
    line-height: normal;
    text-align: center;
    color: #6D737A;
    span {
      display: block;
      @media (max-width:$tablet){
        display: inline-flex;
      }

    }
    @media (max-width:$tablet){
      max-width: 391px;
      margin: 0 auto;
    }
    @media (max-width: em(390)){
      display: none;
    }
  }
  // .expert-form__info
  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }
  // .expert-form__item
  &__item {

  }
  // .expert-form__label
  &__label {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    @extend %mont-500;
    font-size: rem(14);
    &._form-focus {

    }
  }
  // .expert-form__input
  &__input {
    @extend %mont-500;
    font-size: rem(12);
    line-height: normal;
    
    padding: 16px;
    border-radius: 16px;
    background-color: $bgInp;
    &::placeholder {
      color: $colInp;
    }
  }
  // .expert-form__message
  &__message {
    @extend %mont-500;
    font-size: rem(12);
    line-height: normal;
    height: 196px;
    display: flex;
    padding: 16px;
    border-radius: 16px;
    background-color: $bgInp;
    resize: none;
    &::placeholder {
      color: $colInp;
    }
    @media (max-width:$tablet){
      height: 140px;
    }
  }
  // .expert-form__checkbox
  &__checkbox {
    padding: 3px 0;
    @media (max-width:$tablet){
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include adaptiveValue("column-gap", 74, 10);
    }
    @media (max-width: em(660)){
      flex-direction: column;
      align-items: flex-start;
      row-gap: 25px;
    }
  }
  // .expert-form__text
  &__text {
    white-space: nowrap;
  }
}

//.expert-form__message._form-error
.expert-form__message._form-error {
  outline: 2px solid #f00;
}
//.expert-form__input._form-error
.expert-form__input._form-error {
  outline: 2px solid #f00;
}
//.expert-form__input._form-focus
.expert-form__input:focus {
  outline: 2px solid $accent;
}
//.expert-form__message:focus
.expert-form__message:focus {
  outline: 2px solid $accent;
}

//.checkbox 
.checkbox {
  //.checkbox__input
  &__input {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;
		&:checked + .checkbox__label::after {
			transform: scale(1);
		}
  }
  //.checkbox__label
  &__label {
		display: inline-flex;
		align-items: center;
		position: relative;
    @extend %mont-500;
    font-size: rem(14);
    padding-left: 35px;
		&::before {
			content: "";
			position: absolute;
			width: 25px;
			height: 25px;
			left: 0;
			top: -6px;
			border-radius: 5px;
      background-color: $bgInp;
			cursor: pointer;
		}
		&::after {
			content: "";
			width: 16px;
			height: 16px;
			position: absolute;
			top: 0;
			left: 4px;
			background-image: url(../img/expert/checkbox.svg);
			background-repeat: no-repeat;
			transform: scale(0);
			transition: all 0.3s ease 0s;
			cursor: pointer;
		}
	}
  //._form-error
  &._form-error {
    .checkbox__label::before {
      border: 2px solid #f00;
    }
  }
}
//=====================================================================================================

//buy
//=====================================================================================================
// go to common.scss
//=====================================================================================================

// .advantages
//=====================================================================================================
.advantages {
  background-color: $bg;
  // .advantages__container
  &__container {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    padding-bottom: 50px;
    @media (max-width:$tablet){
      padding-top: 25px;
      padding-bottom: 25px;
    }
    @media (max-width:$mobile){
      row-gap: 30px;
    }
  }
  // .advantages__title
  &__title {
    max-width: 700px;
    @media (max-width:$tablet){
      max-width: 100%;
    }
  }
  // .advantages__info
  &__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 124px;
    @extend %mont-500;
    font-size: rem(16);
    line-height: math.div(26 , 16);
    @media (max-width:$tablet){
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      font-size: rem(14);
    }
  }
  // .advantages__list
  &__list {
    display: grid;
    row-gap: 20px;
  }
  // .advantages__list-item
  &__list-item {
    max-width: 480px;
    padding-left: 36px;
    &::before{
      top: 8px;
      left: 9px;
      @media (max-width:$tablet){
        left: 9px;
        top: 10px;
      }
    }
    &::after{
      top: 4px;
      left: 5px;
      @media (max-width:$tablet){
        top: 7px;
        left: 6px;
      }
    }
    @media (max-width:$tablet){
      max-width: 100%;
    }
  }
  // .advantages__inner
  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 25px;
    @media (max-width:$tablet){
      grid-template-columns: repeat(2, 1fr);
      row-gap: 10px;
    }
    
    @media (max-width: em(580)){
      display: flex;
      flex-direction: column;
      row-gap: 15px;
    }
  }
  // .advantages__item
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 20px;
    padding: 20px 38.3px;
    @media (max-width:$tablet){
      display: grid;
      padding: 20px 5px;
      &:last-child{
        grid-auto-columns: 50%;
        grid-column: span 2;
        justify-content: center;
        @media (max-width: em(580)){
          grid-auto-columns: auto;
        }
      }
    }
    @media (max-width:$mobileSmall){
      padding: 20px 20px;
    }
  }
  // .advantages__image-ibg
  &__image-ibg {
    overflow: hidden;
    padding-bottom: percent(250, 250);
    @media (max-width:$tablet){
      max-width: 100%;
      display: block;

    }
    img {
      object-position: top;
      @media (max-width:$tablet){
        height: auto;
        width: 100%;
        object-fit: cover;
      }
    }
  }
  // .advantages__item-text
  &__item-text {
    flex-grow: 1;
    @extend %mont-500;
    font-size: rem(14);
    line-height: math.div(23 , 14);
    text-align: center;
  }
}
//=====================================================================================================

//.application
//=====================================================================================================
.application {
  background-color: #F5F6FD;
  // .application__container
  &__container {
    padding-top: 50px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    @media (max-width:$tablet){
      padding-top: 25px;
      padding-bottom: 120px;
      row-gap: 30px;
    }
    @media (max-width: em(680)){
      padding-bottom: 75px;
    }
    @media (max-width:$mobileSmall){
      @include adaptiveValue("padding-bottom", 75, 50, 480, 420, 1);
    }
  }
  // .application__top
  &__top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    @media (max-width:$tablet){
      flex-direction: column;
      align-items: center;
      row-gap: 20px;
    }
  }
  // .application__subtitle 
  &__subtitle {
    display: flex;
  }

  // .application__action
  &__action {
    display: flex;
    align-items: center;
  }
  // .application__button
  &__button {
    // display: inline-flex;
    padding: 10px 20px;

  }
  // .application__inner
  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 25px;
    row-gap: 25px;
    padding-bottom: 25px;
    @media (max-width:$tablet){
      grid-template-columns: repeat(2, 1fr);
      column-gap: 15px;
      row-gap: 20px;
    }
    @media (max-width: em(680)){
      display: flex;
      flex-direction: column;
    }
  }
  // .application__item
  &__item {
    padding: 30px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    background-color: #fff;
    @media (max-width: em(420)){
      padding: 15px;
    }
  }
  // .application__item-heading
  &__item-heading {
    display: flex;
    align-items: flex-start;
    column-gap: 10px;
  }
  // .application__item-icon
  &__item-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: #0033D9;
  }
  // .application__item-title
  &__item-title {
    max-width: 231px;
    @extend %mont-600;
    font-size: rem(20);
    line-height: math.div(24 , 20);
  }
  // .application__item-desc
  &__item-desc {
    font-size: rem(14);
    line-height: math.div(22 , 14);
  }
  // .application__list
  &__list {
    display: grid;
    gap: 15px;
    padding-left: 28px;
    @extend %mont-500;
    font-size: rem(14);
    line-height: normal;

  }
  // .application__list-item
  &__list-item {
    max-width: 260px;
    @media (max-width: em(680)){
      max-width: 100%;
    }
  }


  // .application__listing
  &__listing {
    display: grid;
    row-gap: 10px;
    @extend %mont-500;
    font-size: rem(14);
    line-height: normal;
    
  }
  // .application__listing-item
  &__listing-item {

  }
  
  &__listing-link {
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F6FD;
    padding: 12px 16px 12px 16px;
    p {
      max-width: 250px;
    }
    img {
      padding-left: 12px;
    }
  }
}


