//.main
//====================================================================================================
.main {
  max-width: 100%;
  background-position: center top;
  background-repeat: no-repeat;
  background-color: $bg;
  // background-size: contain;
  // .main__container
  &__container {
    padding-bottom: 40px;
  }
  // .main__inner
  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
  }
  // .main__content
  &__content {
    // display: grid;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding-top: 187px;
  }
  // .main__title-box
  &__title-box {
    display: flex;
    flex-direction: column;
    row-gap: 7px;
  }
  // .main__title
  &__title {
    @extend %mont-700;
    font-size: rem(72);
    color: $accent;
  }
  // .main__subtitle
  &__subtitle {
    font-size: rem(16);
    @extend %mont-600;
  }
  // .main__list
  &__list {
    max-width: 269px;
    @extend %mont-500;
    font-size: rem(16);
    padding-left: 31px;
    
  }
  // .main__list-item
  &__list-item {
    position: relative;
    &::before{
      content:'';
      position: absolute;
      width: 8px;
      height: 8px;
      left: -20px;
      top: 4px;
      border-radius: 50%;
      background: $accent;
    }
    &::after{
      content:'';
      position: absolute;
      width: 16px;
      height: 16px;
      top: 0;
      left: -24px;
      border-radius: 50%;
      background: rgba(55, 82, 233, 0.459);
    }
    &:not(:last-child) {
      margin-bottom: 21px;
    }
  }
  // .main__actions
  &__actions {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
  // .main__button
  &__button {
    padding: 12px 80px;
    border-radius: 16px;
    // display: inline-flex;
  }
  // .main__link-reviews
  &__link-consultation {
    @extend %mont-400;
    transition: all 0.3s;
    text-decoration: underline !important;
    white-space: nowrap;
  }
  // .main__bg
  &__bg {
    padding-top: 147px;
    img {
      
    }
  }
}
//.main-use
.main-use {
  // .main-use__inner
  &__inner {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  // .main-use__item
  &__item {
    cursor: pointer;
    display: grid;
    justify-items: center;
    row-gap: 13px;
    @extend %mont-600;
    font-size: rem(14);
    padding: 23px 35px;
    background-color: $white;
    border-right: 2px solid #F5F6FD;
    &:first-child{
      border-top-left-radius: 30px;
    }
    &:last-child{
      border-bottom-right-radius: 30px;
      border-right: none;
    }

    &:nth-child(5) {
      border-top-right-radius: 30px;
      border-right: none;
    }
    &:nth-child(6){
      border-bottom-left-radius: 30px;
    }
    &:nth-child(n + 6) {
      border-top: 2px solid #F5F6FD;
    }
    transition: all 0.3s ease 0s;
    &:hover {
      background: #F5F7FD;
      -webkit-box-shadow: -1px -1px 10px 0px rgba(34, 60, 80, 0.1);
      -moz-box-shadow: -1px -1px 10px 0px rgba(34, 60, 80, 0.1);
      box-shadow: -1px -1px 10px 0px rgba(34, 60, 80, 0.1);
    }
  }
  // .main-use__item-img
  &__item-img {
    
  }
  // .main-use__item-text
  &__item-text {
  }
}
//====================================================================================================

//.property 
//====================================================================================================
.property {
  background-color: $bg;
  background-position: 40% 110px;
  background-repeat: no-repeat;

  // .property__container
  &__container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-top: 40px;
    padding-bottom: 50px;
  }
  // .property__title
  &__title {
  }
  // .property__inner
  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 430px;
    padding-top: 35px;
  }
  // .property__items
  &__items {
    z-index: 5;
  }

  &__img {
    position: absolute;
    top: -40px;
    left: 150px;
    max-width: 100%;
    min-height: 100%;
  }
  // .property__item
  &__item {
    padding: 8px;
    display: flex;
    align-items: center;
    column-gap: 16px;
    border-radius: 64px;
    background: rgba(255, 255, 255, 0.60);
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  // .property__item-icon
  &__item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    background-color: $accent;
    border-radius: 50%;
  }
  // .property__item-text
  &__item-text {
    @extend %mont-500;
    font-size: rem(18);
  }
}
//====================================================================================================

//.product
//====================================================================================================
.product {
  background-color: $bg;
  // .product__container
  &__container {
    padding-top: 50px;
    padding-bottom: 100px;
  }
  // .product__inner
  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 32px;
  }
  // .product__content
  &__content{
    max-width: 572px;
    display: flex;
    flex-direction: column;
    
    row-gap: 20px;
  }
  // .product__title
  &__title {
  }
  // .product__info
  &__info {
    @extend %mont-400;
    font-size: rem(16);
    line-height: math.div(26 , 16);
    text-align: justify;
    span {
      @extend %mont-600;
    }
  }
// .product__cards 
  &__cards {
    display: flex;
    align-items: center;
    column-gap: 16px;
  }
  // .product__image
  &__image {
  }
}
//======================================================================================================

//.expert
//========================================================================================================================================================
.expert {
  background-position: center right 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $bg;
  // .expert__container
  &__container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  // .expert__inner
  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 124px;
  }
  // .expert__info
  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
  // .expert__content
  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 36px;
  }
  // .expert__title
  &__title {
    font-size: rem(40);
    line-height: math.div(56 , 40);
  }
  // .expert__text
  &__text {
    max-width: 573px;
    text-align: justify;
    @extend %mont-500;
    font-size: rem(16);
    line-height: math.div(26 , 16);
  }
  // .expert__doctor
  &__doctor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
  }
  // .expert__avatar
  &__avatar {
  }
  // .expert__doctor-info
  &__doctor-info {
    padding-top: 28px;
    max-width: 275px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }
  // .expert__name
  &__name {
    color: $accent;
    @extend %mont-700;
    font-size: rem(18);
    line-height: math.div(25 , 18);
    white-space: nowrap;
  }
  // .expert__profile
  &__profile {
    @extend %mont-500;
    font-size: rem(14);
    line-height: math.div(20 , 14);
  }
  // .expert__form
  &__form {

  }
  // .expert__subtitle
  &__subtitle {
    text-align: center;
  }
  // .expert__button
  &__button {
    margin-top: 5px;
    padding: 15px 68px;
    border-radius: 16px;
    @extend %mont-500;
    line-height: 120%;
  }
}
//.expert-form
.expert-form {
  max-width: 475px;
  width: 100%;
  padding: 40px 44px;
  border-radius: 40px;
  background-color: $white;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  // .expert-form__title
  &__title {
    text-transform: uppercase;
    text-align: center;
    font-size: rem(18);
    line-height: math.div(26 , 18);
  }
  // .expert-form__subtitle
  &__subtitle {
    @extend %mont-500;
    font-size: rem(12);
    line-height: normal;
    text-align: center;
    color: #6D737A;
  }
  // .expert-form__info
  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }
  // .expert-form__item
  &__item {

  }
  // .expert-form__label
  &__label {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    @extend %mont-500;
    font-size: rem(14);
    &._form-focus {

    }
  }
  // .expert-form__input
  &__input {
    @extend %mont-500;
    font-size: rem(12);
    line-height: normal;
    
    padding: 16px;
    border-radius: 16px;
    background-color: $bgInp;
    &::placeholder {
      color: $colInp;
    }
  }
  // .expert-form__message
  &__message {
    @extend %mont-500;
    font-size: rem(12);
    line-height: normal;
    height: 140px;
    display: flex;
    // max-width: 100%;
    padding: 16px;
    border-radius: 16px;
    background-color: $bgInp;
    resize: none;
    &::placeholder {
      color: $colInp;
    }
  }
  // .expert-form__checkbox
  &__checkbox {
    padding: 3px 0;
  }
  // .expert-form_text
  &__text {
    
  }
}

//.expert-form__message._form-error
.expert-form__message._form-error {
  border: 1px solid #f00;
}
//.expert-form__input._form-error
.expert-form__input._form-error {
  border: 1px solid #f00;
}
//.expert-form__input._form-focus
.expert-form__input:focus {
  outline: 1px solid $accent;
}
//.expert-form__message:focus
.expert-form__message:focus {
  outline: 1px solid $accent;
}


//.checkbox 
.checkbox {
  //.checkbox__input
  &__input {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;
		&:checked + .checkbox__label::after {
			transform: scale(1);
		}
  }
  //.checkbox__label
  &__label {
		display: inline-flex;
		align-items: center;
		position: relative;
    @extend %mont-500;
    font-size: rem(14);
    padding-left: 35px;
		&::before {
			content: "";
			position: absolute;
			width: 25px;
			height: 25px;
			left: 0;
			top: -6px;
			border-radius: 5px;
      background-color: $bgInp;
			cursor: pointer;
		}
		&::after {
			content: "";
			width: 16px;
			height: 16px;
			position: absolute;
			top: 0;
			left: 4px;
			background-image: url(../img/expert/checkbox.svg);
			background-repeat: no-repeat;
			transform: scale(0);
			transition: all 0.3s ease 0s;
			cursor: pointer;
		}
	}
  //._form-error
  &._form-error {
    .checkbox__label::before {
      border: 2px solid #f00;
    }
  }
}

