//.detailed
//========================================================================================================================================================

.detailed {
  background-color: #F5F6FD;
  // .detailed__container
  &__container {
    padding-top: 153px;
    padding-bottom: 80px;
  }
// .detailed__box
  &__box {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }
  // .detailed__top
  &__top {
    display: flex;
    // align-items: center;
    align-items: flex-end;
    justify-content: space-between;
  }
  // .detailed__title
  &__title {
  }

  // .detailed__action
  &__action {
    display: flex;
    align-items: center;
    // justify-content: center;
  }
  // .detailed__button
  &__button {
    display: inline-flex;
    padding: 10px 20px;

  }
// .detailed__subtitle
  &__subtitle {
    @extend %mont-600;
    font-size: rem(24);
    line-height: math.div(29 , 24);
    
  }
  // .detailed__inner
  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 25px;
    row-gap: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  // .detailed__item
  &__item {
    padding: 30px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    background-color: #fff;
  }
  // .detailed__item-heading
  &__item-heading {
    display: flex;
    align-items: flex-start;
    column-gap: 10px;
  }
  // .detailed__item-icon
  &__item-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: #0033D9;
  }
  // .detailed__item-title
  &__item-title {
    max-width: 231px;
    @extend %mont-600;
    font-size: rem(20);
    line-height: math.div(24 , 20);
  }
  // .detailed__item-desc
  &__item-desc {
    font-size: rem(14);
    line-height: math.div(22 , 14);
  }
  // .detailed__list
  &__list {
    display: grid;
    gap: 15px;
    padding-left: 28px;
    @extend %mont-500;
    font-size: rem(14);
    line-height: normal;

  }
  // .detailed__list-item
  &__list-item {
    max-width: 260px;
  }


  // .detailed__listing
  &__listing {
    display: grid;
    row-gap: 10px;
    @extend %mont-500;
    font-size: rem(14);
    line-height: normal;
    
  }
  // .detailed__listing-item
  &__listing-item {

  }
  
  &__listing-link {
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F6FD;
    padding: 12px 16px 12px 16px;
    p {
      max-width: 250px;
    }
    img {
      padding-left: 12px;
    }
  }
}

.detailed-description {
  padding-top: 25px;
  // .detailed-description__title
  &__subtitle {
    @extend %mont-600;
    font-size: rem(24);
    line-height: math.div(29 , 24);
    margin-bottom: 25px;
  }
// .detailed-description__inner
  &__wrapper {
    
    // padding-bottom: 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 25px;
    row-gap: 25px;
  }
  // .detailed-description__item
  &__item {
    max-width: 575px;
    display: grid;
    row-gap: 25px;
    padding: 25px;
    border-radius: 24px;
    background-color: $white;

  }
  // .detailed-description__item-title
  &__item-title {
    @extend %mont-600;
    font-size: rem(24);
    line-height: math.div(29 , 24);
    color: $accent;

  }
  // .detailed-description__item-text
  &__item-text {
    @extend %mont-400;
    font-size: rem(14);
    line-height: math.div(22 , 14);
  }
  // .detailed-description__btn
  &__btn {
    display: flex;
    max-width: 167px;
  }
  // .detailed-description__btn-link
  &__btn-link {
    display: flex;
    align-items: center;
    column-gap: 8px;
    @extend %mont-500;
    font-size: rem(16);
    line-height: math.div(20 , 16);
    color: $accent;
  }
}
