.instruction {
  background-color: $bg;
  // .instruction__container
  &__container {
  }
  // .instruction__title
  &__title {
  }
    // .instruction__wrapper
  &__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding-top: 25px;
  }

  // .instruction__desc
  &__desc {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
  // .instruction__desc-item
  &__desc-item {
    display: grid;
    row-gap: 20px;
    p {
      @extend %mont-400;
      font-size: rem(16);
      line-height: math.div(26 , 16);
      color: #1B1B1B;
    }
  }
  // .instruction__subtitle
  &__subtitle {
    @extend %mont-600;
    font-size: rem(24);
    line-height: math.div(38 , 24);
    color: $accent;
  }
  // .instruction__desc-box
  &__desc-box {
    display: flex;
    column-gap: 10px;
  }
  // .instruction__capsule
  &__capsule {
    padding: 5px 20px;
    background-color: $white;
    border-radius: 24px;
  }
  // .instruction__inner
  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 25px;

  }
  // .instruction__list
  &__list {
    max-width: 545px;
    display: grid;
    row-gap: 20px;
    padding-left: 30px;
    color: #000;
    @extend %mont-400;
    font-size: rem(16);
    line-height: normal;
  }
  // .instruction__list-item
  &__list-item {
  }
}
