//========================================================================================================================================================
.parners {
  background-color: $bg;
  // .parners__container
  &__container {
    padding-top: 155px;
    padding-bottom: 25px;
  }
  // .parners__inner
  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 40px;
    background-color: #fff;
    border-radius: 32px;
    @media (max-width:$mobile){
      padding: 30px;
    }
    @media (max-width:$mobileSmall){
      padding: 20px;
    }
  }
  // .parners__title
  // &__title {
  // }
  // .parners__content
  &__content {
    @extend %mont-400;
    font-size: rem(16);
    line-height: math.div(26 , 16);
    text-align: justify;
    @media (max-width: em(680)){
      font-size: rem(14);
    }
  }
  // .parners__content-text
  &__content-text {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }
  // .parners__info
  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  // .parners__list
  &__list {
    padding-left: 20px;
    display: grid;
    row-gap: 5px;
  }
  // .parners__list-item
  &__list-item {
    position: relative;
    &::before{
      content: "";
      border-radius: 50%;
      position: absolute;
      width: 2px;
      height: 2px;
      background-color: #000;
      top: 12px;
      left: -17px;
    }
  }
}


//partners-contacts
//========================================================================================================================================================
.partners-contacts {
  &__container {
    padding-top: 25px;
    padding-bottom: 215px;
    @media (max-width:$tablet){
      padding-top: 50px;
      padding-bottom: 100px;
    }
    @media (max-width:$mobile){
      padding-top: 50px;
    }
    @media (max-width:$mobileSmall){
      padding-top: 25px;
    }
  }
}

//========================================================================================================================================================
