
//.pediatrics-main
//========================================================================================================================================================
.pediatrics-main {
  background-position: left 0 top 120px;
  background-repeat: no-repeat;
  background-size: contain;
  @media (max-width: em(1880)){
    background-size: 110%;
    background-position: left -130px top 90px;
  }
  @media (max-width: em(1740)){
    background-size: 120%;
    background-position: left -230px top 90px;
  }
  @media (max-width: em(1620)){
    background-size: 130%;
    background-position: left -340px top 90px;
  }
  @media (max-width: em(1480)){
    background-size: 135%;
    background-position: left -370px top 90px;
  }
  @media (max-width: em(1380)){
    background-size: 145%;
    background-position: left -510px top 90px;
  }
  @media (max-width: em(1280)){
    background-size: 160%;
    background-position: left -600px top 90px;
  }
  @media (max-width:$tablet){
    background-size: 170%;
  }
  @media (max-width: em(880)){
    background-size: 160%;
    background-position: left -440px top 90px;
  }
  @media (max-width:$mobile){
    background-size: 210%;
    background-position: left 95% top 100px;
  }
    // .pediatrics-main__container
  &__container {
    padding-bottom: 40px;
    @media (max-width:$tablet){
      padding-bottom: 25px;
    }
    @media (max-width:$mobile){
      @include adaptiveValue("padding-top", 82, 50, 767, 480, 1);
    }
    @media (max-width:$mobileSmall){
      @include adaptiveValue("padding-top", 50, 70, 480, 420, 1); 
    }
  }
  // .pediatrics-main__inner
  &__inner {
    // position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include adaptiveValue("column-gap", 30, 5, 1240, 1000, 1);
    @media (max-width:$mobile){
      display: flex;
      flex-direction: column-reverse;
    }

  }
  // .pediatrics-main__content
  &__content {
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;
    padding-top: 187px;
    &::before{
      content: "";
      position: absolute;
      width: 150%;
      height: 870px;
      right: -90%;
      top: -30%;
      background: linear-gradient(59deg, #F5F6FD 46.89%, rgba(245, 246, 253, 0) 73.03%);
      filter: blur(20px);
      z-index: -1;
      @media (max-width: em(1480)){
        right: -70%;
      }
      @media (max-width: em(1180)){
        width: 160%;
        right: -50%;
      }
      @media (max-width:$mobile){
        width: 150%;
        height: 530px;
        right: -33%;
        top: -116%;
        background: linear-gradient(30deg, #F5F6FD 55%, rgba(245, 246, 253, 0) 57.03%);
        filter: blur(40px);
        z-index: -1;
      }
      @media (max-width: em(640)){
        right: -15%;
      }
      @media (max-width: em(520)){
        width: 180%;
        height: 580px;
      }
      @media (max-width:$mobileSmall){
        top: -110%;
      }
    }
    @media (max-width:$mobile){
      max-width: 100%;
      padding: 0;
    }
    @media (max-width: em(420)){
      row-gap: 24px;
    }
  }
  // .pediatrics-main__title-box
  &__title-box {
    display: flex;
    flex-direction: column;
    row-gap: 7px;
  }
  // .pediatrics-main__title
  &__title {
    @extend %mont-700;
    color: $accent;
    @include adaptiveValue("font-size", 72, 62, 1000, 868, 1);
    @media (max-width:$mobile){
      @include adaptiveValue("font-size", 62, 72, 868, 767, 1);
    }
    @media (max-width: em(767)){
      @include adaptiveValue("font-size", 72, 64, 767, 480, 1);
    }
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 64, 32, 480, 420, 1);
    }
  }

  // .pediatrics-main__subtitle
  &__subtitle {
    @extend %mont-600;
    @include adaptiveValue("font-size", 16, 13.8, 1000, 868, 1);
    span {
      font-size: rem(24);
      line-height: 120%;
      color: #E1205C;
    }

    @media (max-width:$tablet){
      max-width: 427px;
    }
    @media (max-width:$mobile){
      @include adaptiveValue("font-size", 13.8, 16, 868, 767, 1);
    }
    @media (max-width: em(767)){
      @include adaptiveValue("font-size", 16, 14.4, 767, 480, 1);
    } 
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 14.4, 14, 480, 420, 1);
      max-width: 100%;
    }
    @media (max-width: em(390)){
      max-width: 265px;
    }
  }
  // .pediatrics-main__list
  &__list {
    @extend %mont-500;
    font-size: rem(16);
    line-height: math.div(19 , 16);
    padding-left: 25px;
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 16, 13, 480, 420, 1);
    }
  }
  // .pediatrics-main__list-item
  &__list-item {
    position: relative;
    &:not(:last-child) {
      margin-bottom: 21px;
      @media (max-width: em(380)){
        margin-bottom: 14px;
      }
    }
  }
  // .pediatrics-main__actions
  &__actions {
    display: flex;
    align-items: center;
    column-gap: 20px;
    @media (max-width:$mobile){
      column-gap: 78px;
      @include adaptiveValue("column-gap", 78, 41, 768, 480, 1);
    }
    @media (max-width: em(460)){
      flex-direction: column;
      row-gap: 20px;
    }
  }
  // .pediatrics-main__button
  &__button {
    white-space: nowrap;
    @extend %mont-500;
    font-size: rem(16);
		@include adaptiveValue("padding-left", 80, 60, 1240, 1000, 1);
		@include adaptiveValue("padding-right", 80, 60, 1240, 1000, 1);
		@include adaptiveValue("padding-top", 12, 10, 1240, 1000, 1);
		@include adaptiveValue("padding-bottom", 12, 10, 1240, 1000, 1);
    @media (max-width:$mobile){
      @include adaptiveValue("padding-left", 122, 82, 768, 480, 1);
      @include adaptiveValue("padding-right", 122, 82, 768, 480, 1);
      @include adaptiveValue("padding-top", 12, 8, 768, 480, 1);
      @include adaptiveValue("padding-bottom", 12, 8, 768, 480, 1);
      width: 50%;
    }
    @media (max-width:$mobileSmall){
      font-size: rem(14);
    }
    @media (max-width: em(460)){
      padding-left: 118px;
      padding-right: 118px;
    }
    @media (max-width: em(390)){
      width: 100%;
    }
  }
  // .pediatrics-main__link-consultation
  &__link-consultation {
    @extend %mont-400;
    font-size: rem(14);
    transition: all 0.3s;
    text-decoration: underline !important;
    white-space: nowrap;
    @media (max-width:$mobile){
      @include adaptiveValue("font-size", 14, 13, 768, 480, 1);
    }
  }
  // .pediatrics-main__bg
  &__bg {
    position: relative;
    z-index: 5;
    @include adaptiveValue("padding-top", 180, 160, 1240, 1000, 1);
    @media (max-width:$mobile){
      padding: 0;
    }
    img {
      height: auto;
      max-width: 100%;
      position: relative;
      right: 150px;
      @media (max-width:$tablet){
        top: 130px;
        right: 50px;
      }
      @media (max-width:$mobile){
        top: 0;
        right: 10px;
        padding-top: 77px;
        padding-right: 30px;
        height: auto;
        width: 100%;
        object-fit: cover;
      }
      @media (max-width:$mobileSmall){
        padding-top: 47px;
      }
      @media (max-width: em(420)){
        padding-top: 40px;
      }
    }
    &::before{
      content:'';
      position: absolute;
      background-image: url(../img/pediatrics/celoform-label.png);
      width: 256px;
      height: 256px;
      left: -170px;
      top: 280px;
      z-index: 6;
      zoom: 80%;
      @media (max-width: em(1220)){
        left: 150px;
        top: 540px;
        zoom: 70%;
      }
      @media (max-width:$tablet){
        left: 240px;
        top: 730px;
        zoom: 60%;
      }
      @media (max-width: em(880)){
        left: 20%;
        top: 70%;
      }
      @media (max-width:$mobile){
        left: 45%;
        top: 60%;
        zoom: 70%;
      }
      @media (max-width: em(620)){
        zoom: 50%;
      }
      @media (max-width:$mobileSmall){
        zoom: 35%;
      }
      @media (max-width: em(360)){
        zoom: 30%;
      }
    }
  }

  // .pediatrics-main__card
  &__card {
    @extend %mont-500;
    font-size: rem(12);
    line-height: math.div(17 , 12);
    @media (max-width:$mobile){
      padding: 0;
    }
  }
// .pediatrics-main__card
  &__card-link {
    text-decoration: underline !important;
    color: $accent;
  }
}
//========================================================================================================================================================


//.pediatrics-use
.pediatrics-use {
  position: relative;
  margin-top: 45px;
  z-index: 5;
  @media (max-width:$mobile){
    margin-top: 50px;
  }
  @media (max-width: em(420)){
    margin-top: 30px;
  }
  &__inner {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    @include adaptiveValue("margin-top", 0, 60, 1240, 980, 1);
    @media (max-width: em(980)){
      margin: 0;
      padding: 20px;
      border-radius: 24px;
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      align-items: flex-start;
      background-color: $white;
    }
    @media (max-width: em(360)){
      padding: 15px;
    }
  }
  // .pediatrics-use__item
  &__item {
    display: grid;
    justify-items: center;
    row-gap: 13px;
    @extend %mont-600;
    font-size: rem(14);
    padding: 23px 7px;
    background-color: $white;
    border-right: 2px solid #F5F6FD;
    &:first-child{
      border-top-left-radius: 30px;
      @media (max-width: em(980)){
        border-radius: 16px;
      }
    }
    &:last-child{
      border-bottom-right-radius: 30px;
      border-right: none;
      @media (max-width: em(980)){
        border-radius: 16px;
      }
    }
    &:nth-child(4) {
      border-right: 2px solid #F5F6FD;
    }
    &:nth-child(5){
      border-top-right-radius: 30px;
      @media (max-width: em(980)){
        border-radius: 16px;
      }
    }
    &:nth-child(6) {
      border-bottom-left-radius: 30px;
      @media (max-width: em(980)){
        border-radius: 16px;
      }
    }
    &:nth-child(n + 6) {
      border-top: 2px solid #F5F6FD;
    }
    &:nth-child(9) {
      @media (max-width: em(980)){
        display: none;
      }
    }
    transition: all 0.3s ease 0s;
    @media (max-width: em(1000)){
      padding: 15px 30px;
    }
    @media (max-width: em(980)){
      padding: 12px 16px;
      display: flex;
      justify-content: space-between;
      width: 100%;
      background-color: inherit;
      border: none;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-size: rem(14);
      line-height: 120%;
      border-radius: 16px;
      background-color: $bg;
    }
  }
  // .pediatrics-use__item-img
  &__item-img {
    width: 48px;
    height: 48px;
    @media (max-width: em(1170)){
      width: 32px;
      height: 32px;
    }
    @media (max-width: em(980)){
      display: none;
    }
  }
  // .pediatrics-use__item-text
  &__item-text {
    @extend %mont-600;
    font-size: rem(14);
    line-height: 120%;
    color: #1B1B1B;
    text-align: center;
    @media (max-width: em(1170)){
      font-size: rem(12);
    }
    @media (max-width: em(980)){
      text-align: left;
    }
  }
}
//========================================================================================================================================================

//.pediatrics-documents
//========================================================================================================================================================
.pediatrics-documents {
  // .pediatrics-documents__container
  &__container {
    padding-top: 40px;
    padding-bottom: 40px;
    @media (max-width:$tablet){
      padding-top: 25px;
      padding-bottom: 25px;       
    }
  }
  // .pediatrics-documents__inner
  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include adaptiveValue("column-gap", 32, 10, 1240, 1000, 1);
    @media (max-width:$tablet){
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 30px;
    }
  }
  // .pediatrics-documents__content
  &__content{
    max-width: 572px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;
    @media (max-width:$tablet){
      max-width: 100%;
      align-items: center;
    }
  }
  // .pediatrics-documents__title
  &__title {
    font-size: rem(30);
    @media (max-width:$tablet){
      font-size: rem(32);
    }
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 32, 20, 480, 420, 1);
    }
  }
  // .pediatrics-documents__info
  &__info {
    @extend %mont-500;
    font-size: rem(16);
    line-height: math.div(26 , 16);
    span {
      color: $accent;
      @extend %mont-500;
    }
    p {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 16, 14, 480, 420, 1);
      line-height: math.div(23 , 14);
    }
  }
  //.pediatrics-documents__action
  &__action {
    padding-top: 10px;
    @media (max-width:$mobileSmall){
      padding-top: 0;
      width: 100%;
      text-align: center;
    }
  }
  //pediatrics-documents__btn
  &__btn {
    background: linear-gradient(180deg, #E84073 12.5%, #B92350 128.41%), #F13E75;
    @media (max-width:$mobileSmall){
      font-size: rem(14);
      display: block;
    }
    @media (max-width: em(420)){
      font-size: rem(12);
      padding: 10px 15px;
    }
  }
// .pediatrics-documents__cards 
  &__cards {
    display: flex;
    align-items: center;
    column-gap: 16px;
    @media (max-width:$tablet){
      column-gap: 37px;
    }
    @media (max-width:$mobile){
      @include adaptiveValue("column-gap", 37, 30, 767, 480, 1);
    }
    @media (max-width:$mobileSmall){
      @include adaptiveValue("column-gap", 30, 20, 480, 420, 1);
    }
  }
  // .pediatrics-documents__image
  &__image {
    max-width: 100%;
    display: block;
    img {
      height: auto;
      width: 100%;
      object-fit: cover;
    }
  }
}
//========================================================================================================================================================

//.pediatrics-advantages
//========================================================================================================================================================
.pediatrics-advantages {
  margin-top: 40px;
  margin-bottom: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @media (max-width:$tablet){
    margin-bottom: 25px;
  }
  // .pediatrics-advantages__container
  &__container {
    padding-top: 20px;
    padding-bottom: 30px;
    @media (max-width:$tablet){
      padding-bottom: 40px;
    }
  }
  // .pediatrics-advantages__title-box
  &__title-box {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  } 

  // .pediatrics-advantages__title
  &__title {
    max-width: 1050px;
    font-size: rem(32);
    line-height: math.div(45 , 32);
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 32, 20, 480, 420, 1);
    }
  }

  // .pediatrics-advantages__subtitle
  &__subtitle {
    max-width: 874px;
    @extend %mont-500;
    font-size: rem(16);
    line-height: math.div(26 , 16);
    color: $black;
  }

  //.pediatrics-advantages__text
  &__text {
    @extend %mont-500;
    font-size: rem(16);
    line-height: math.div(26 , 16);
  }

  // .pediatrics-advantages__inner
  &__inner {
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @include adaptiveValue("column-gap", 25, 15, 1240, 1180, 1);
    @media (max-width: em(1180)){
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width:$tablet){
      padding-top: 20px;
    }
    @media (max-width: em(690)){
      display: flex;
      flex-direction: column;
      row-gap: 15px;
    }
  }
  // .pediatrics-advantages__items
  &__items {
    display: grid;
    grid-template-rows: 1fr 1.2fr 1fr;
    row-gap: 15px;

  }
  // .pediatrics-advantages__item
  &__item {
    max-width: 375px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 30px;
    border-radius: 24px;
    background-color: #fff;
    @media (max-width:$tablet){
      padding: 15px;
    }
    @media (max-width: em(690)){
      max-width: 100%;
    }
  }
  // .pediatrics-advantages__item-title
  &__item-title {
    white-space: nowrap;
    text-transform: uppercase;
    @extend %mont-700;
    font-size: rem(16);
    line-height: math.div(19 , 16);
    @media (max-width:$mobile){
      white-space: wrap;
    }
  }
  // .pediatrics-advantages__item-text
  &__item-text {
    @extend %mont-500;
    font-size: rem(14);
    line-height: math.div(22 , 14);

  }
  // .pediatrics-advantages__image
  &__image {
    max-width: 100%;
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    img {
      position: relative;
      right: 50px;
      object-fit: cover;
      width: 445px;
      height: 356px;
    }
    @media (max-width: em(1180)){
      display: none;
    }
  }
  @media (max-width:$tablet){
    background-position: 100% 0px;
  }
}
//========================================================================================================================================================

//.pediatrics-product
//========================================================================================================================================================
.pediatrics-product {
  padding-top: 40px;
  background-repeat: no-repeat;
  background-size: 95%;
  background-position: top 25px right 250px;
  @media (max-width: em(1880)){
    background-size: 100%;
    background-position: top 25px right 90px;
  }
  @media (max-width: em(1680)){
    background-size: 111%;
    background-position: top 25px right 0px;
  }
  @media (max-width: em(1460)){
    background-size: 126%;
    background-position: top 25px right -100px;
  }
  @media (max-width: em(1280)){
    background-size: 144%;
    background-position: top 25px right -190px;
  }
  @media (max-width: em(1170)){
    background-size: 157%;
    background-position: top 25px right -250px;
  }
  @media (max-width: em(1090)){
    background-size: cover;
    background-position: top -95px right -490px;
  }
  @media (max-width:$tablet){
    background-size: 240%;
    // background-position: -318px 230px;
    background-position: 20% 230px;
    padding-top: 25px;
    margin-bottom: 25px;
  }
  @media (max-width:$mobile){
    background-position: 20% 390px;
  }
  @media (max-width: em(690)){
    background-size: 280%;
    background-position: 26% 111%;
  }
  @media (max-width: em(540)){
    background-position: 27% 100%;
  }
  // .pediatrics-product__container
  &__container {
    padding-bottom: 35px;
    @media (max-width:$tablet){
      padding-top: 25px;
      padding-bottom: 66px;       
    }
    @media (max-width:$mobile){
      padding-top: 25px;
      padding-bottom: 50px;
    }
  }
  // .pediatrics-product__inner
  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include adaptiveValue("column-gap", 32, 10, 1240, 1000, 1);
    @media (max-width:$tablet){
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      row-gap: 20px;
    }
  }
  // pediatrics-product__item
  &__item {
    position: relative;
    max-width: 584px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 20px;
    @media (max-width:$tablet){
      max-width: 100%;
    }
    &:first-child{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &:last-child{
      &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 890px;
        left: -86%;
        top: -30%;
        background: linear-gradient(270deg, #F5F6FD 56.89%, rgba(245, 246, 253, 0) 73.03%);
        filter: blur(40px);
        z-index: 0;
        @media (max-width:$tablet){
          width: 130%;
          height: 910px;
          left: -16%;
          top: -90%;
          background: linear-gradient(360deg, #F5F6FD 56.89%, rgba(245, 246, 253, 0) 73.03%);
          filter: blur(130px);
          z-index: 0;
        }
        @media (max-width: em(690)){
          top: -30%;
        }
        @media (max-width: em(570)){
          top: 0;
        }
        @media (max-width:$mobileSmall){
          top: -10%;
          left: -22%;
          width: 160%;
        }
        @media (max-width: em(380)){
          top: -20%;
          filter: blur(20px);
        }
      }
    }
  }
  //.pediatrics-product__img
  &__img {
    max-width: 100%;
    z-index: 1;
    img {
      display: block;
      position: relative;
      // left: 120px;
      height: auto;
      width: 100%;
      object-fit: cover;
      @media (max-width: em(1180)){
        right: 35px;
      }
    }
  }
  // .pediatrics-product__title
  &__title {
    @extend %mont-700;
    font-size: rem(30);
    line-height: math.div(56 , 30);
    z-index: 1;
    @media (max-width: em(640)){
      font-size: rem(28);
      line-height: math.div(45 , 28);
    }
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 28, 20, 480, 420, 1);
    }
  }
  // .pediatrics-product__info
  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    z-index: 5;

  }
  //.pediatrics-product__list
  &__list {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    @extend %mont-500;
    font-size: rem(16);
    line-height: math.div(26 , 16);
    @media (max-width:$tablet){
      row-gap: 10px;
    }
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 16, 14, 480, 420, 1);
    }
  }
  //.pediatrics-product__list-item
  &__list-item {
    position: relative;
		&::before{
			content: "";
			border-radius: 50%;
			position: absolute;
			width: 3px;
			height: 3px;
			background-color: #000;
			top: 10px;
			left: -17px;
		}
  }
}
//========================================================================================================================================================


//.pediatrics-benefit
//========================================================================================================================================================
.pediatrics-benefit {
  // .benefit__container
  &__container {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding-top: 35px;
    padding-bottom: 40px;
    @media (max-width:$tablet){
      padding-top: 25px;
      padding-bottom: 25px;
      row-gap: 20px;
    }
  }
  // .pediatrics-benefit__title
  &__title {
    max-width: 1010px;
    font-size: rem(30);
    @media (max-width:$tablet){
      font-size: rem(32);
    }
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 32, 20, 480, 420 ,1);
    }
  }
  // .pediatrics-benefit__inner
  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 25px;
    row-gap: 25px;
    @media (max-width:$tablet){
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width:$mobile){
      display: flex;
      flex-direction: column;
      row-gap: 15px;
    }
  }
  // .pediatrics-benefit__item
  &__item {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 30px;
    background-color: #fff;
    border-radius: 24px;
    @media (max-width: em(380)){
      padding: 15px;
    }
  }
  // .pediatrics-benefit__item-title
  &__item-title {
    @extend %mont-600;
    font-size: rem(18);
    line-height: math.div(22 , 18);
  }
  // .pediatrics-benefit__item-text
  &__item-text {
    @extend %mont-500;
    font-size: rem(14);
    line-height: math.div(22 , 14);
  }
}
//========================================================================================================================================================

//.pediatrics-powder
//========================================================================================================================================================
.pediatrics-powder {
  // .pediatrics-powder__container
  &__container {
    padding-top: 40px;
    padding-bottom: 80px;
    @media (max-width: em(1180)){
      padding-bottom: 40px;
    }
    @media (max-width:$tablet){
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }
  //.pediatrics-powder__title-box
  &__title-box {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  // .pediatrics-powder__title
  &__title {
    max-width: 1010px;
    font-size: rem(30);
    line-height: math.div(42 , 30);
    text-transform: uppercase;
    @media (max-width:$tablet){
      font-size: rem(32);
      @include adaptiveValue("font-size", 32, 28, 1000, 480, 1);
    }
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 28, 20, 480, 420, 1);
    }
  }
  //.pediatrics-powder__subtitle
  &__subtitle {
    @extend %mont-600;
    font-size: rem(24);
    line-height: math.div(34 , 24);
    @media (max-width:$tablet){
      font-size: rem(20);
      line-height: math.div(28 , 20);
      text-align: center;
    }
    @media (max-width:$mobileSmall){
      font-size: rem(16);
      line-height: math.div(23 , 16);
    }
  }
  // .pediatrics-powder__inner
  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    @media (max-width:$tablet){
      row-gap: 50px;
    }
    @media (max-width:$mobile){
      row-gap: 40px;
    }
  }
  // .pediatrics-powder__items
  &__items {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    @media (max-width:$tablet){
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 20px;
      row-gap: 40px;
      .pediatrics-powder__item {
        &:nth-child(1) {
          grid-column: span 2;
        }
      }
    }
    @media (max-width: em(620)){
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      .pediatrics-powder__item {
        &:nth-child(1) {
          grid-column: auto;
        }
      }
    }
  }
  // .pediatrics-powder__item
  &__item {
    display: flex;
    align-items: center;
    column-gap: 70px;
    @media (max-width:$tablet){
      flex-direction: column;
      row-gap: 30px;
      @include adaptiveValue("column-gap", 70, 30, 1000, 768, 1);
    }
  }
  // .pediatrics-powder__img
  &__img {
    max-width: 100%;
    display: block;
    img {
      width: 183px;
      height: 183px;
    }
  }
  // .pediatrics-powder__info
  &__info {
    @extend %mont-500;
    font-size: rem(20);
    line-height: 120%;
    @media (max-width:$tablet){
      font-size: rem(16);
    }
    @media (max-width:$mobileSmall){
      font-size: rem(15);
    }
    @media (max-width: em(420)){
      font-size: rem(14);
    }
  }
  // .pediatrics-powder__item-heading
  &__item-heading {
    @extend %mont-700;
  }
  // .pediatrics-powder__item-text
  &__item-text {
    max-width: 900px;
  }
}
//========================================================================================================================================================


//.expert .pediatrics-expert
.pediatrics-expert {
  margin-bottom: 40px;
  @media (max-width:$tablet){
    margin-bottom: 0;
  }

  .pediatrics-expert__text {
    @extend %mont-600;
    font-size: rem(18);
    line-height: math.div(29 , 18);
    font-style: italic;
    text-align: justify;
    @media (max-width:$tablet){
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-size: rem(16);
      line-height: math.div(26 , 16);
      font-style: normal;
    }
    @media (max-width: em(420)){
      font-size: rem(14);
      line-height: math.div(22 , 14);
    }
  }
  .expert__doctor {

  }
  .expert__avatar  {
    @media (max-width: em(435)){
      display: inline-flex;
    }
  }
  .expert__name {
    @media (max-width: em(420)){
      font-size: rem(13);
      line-height: math.div(18 , 13);
    }
  }
  .expert__profile {
    @media (max-width: em(420)){
      font-size: rem(11);
      line-height: math.div(15 , 11);
    }
  }
}
//========================================================================================================================================================

//.buy
//========================================================================================================================================================
.pediatrics-buy__container {
  padding-top: 40px;
  padding-bottom: 40px;
  @media (max-width:$tablet){
    padding-bottom: 25px;
  }
  @media (max-width: em(420)){
    padding-top: 50px;
  }
}
//========================================================================================================================================================

//.reports
// .reports {

// }
//========================================================================================================================================================

//.pediatrics-application
//========================================================================================================================================================
.pediatrics-application {
  margin-top: 40px;
  margin-bottom: 40px;
  background-position: 40% 0;
  background-repeat: no-repeat;
  background-size: cover;
  @media (max-width: em(1680)){
    background-position: 100% 0px;
  }
  @media (max-width:$tablet){
    margin-top: 0;
    margin-bottom: 25px;
    background-position: 99% 420px;
    background-size: 290%;
  }
  @media (max-width: em(530)){
    background-position: 99% 95%;
  }
  // .pediatrics-application__container
  &__container {
    padding-top: 50px;
    padding-bottom: 50px;
    @media (max-width:$tablet){
      padding-top: 25px;
    }
  }
  // .pediatrics-application__title
  &__title {
    position: relative;
    max-width: 714px;
    text-align: left;
    z-index: 6;
    @media (max-width:$tablet){
      max-width: 100%;
      text-align: center;
    }
  }
  // .pediatrics-application__inner
  &__inner {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    column-gap: 20px;
    @extend %mont-500;
    font-size: rem(16);
    line-height: math.div(26 , 16);
    color: $black;
    @media (max-width:$tablet){
      display: flex;
      flex-direction: column;
      row-gap: 30px;
    }
    @media (max-width: em(480)){
      row-gap: 0;
    }
  }
  // .pediatrics-application__item
  &__item {
    &:first-child{
      position: relative;
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      z-index: 5;
      &::before{
        content: "";
        position: absolute;
        width: 245%;
        height: 710px;
        right: -100%;
        top: -33%;
        background: linear-gradient(72deg, #F5F6FD 56.89%, rgba(245, 246, 253, 0) 73.03%);
        filter: blur(20px);
        z-index: -1;
        @media (max-width:$tablet){
          width: 130%;
          height: 520px;
          right: -16%;
          top: 19%;
          background: linear-gradient(180deg, #F5F6FD 40.47%, rgba(245, 246, 253, 0.00) 102.53%);
        }
        @media (max-width: em(530)){
          top: 40%;
        }
      }
    }
  }
  // .pediatrics-list__content
  &__list {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    @extend %mont-500;
    font-size: rem(16);
    line-height: math.div(26 , 16);
    @media (max-width:$tablet){
      max-width: 100%;
      
    }
  }
  //.pediatrics-applicatilist-item
  &__list-item {
    max-width: 473px;
    @extend %mont-500;
    font-size: rem(16);
    line-height: math.div(26 , 16);
    span {
      position: relative;
      padding-left: 20px;
      @extend %mont-600;
      &::before{
        content: "";
        border-radius: 50%;
        position: absolute;
        width: 3px;
        height: 3px;
        background-color: #000;
        top: 8px;
        left: 5px;
      }
    }
    @media (max-width:$tablet){
      max-width: 100%;
    }
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 16, 14, 480, 420, 1);
      line-height: math.div(23 , 14);
    }
  }
  //.pediatrics-applicatilist-title
  &__list-title {

  }
  //.pediatrics-application__img
  &__img {
    position: relative;
    height: auto;
    width: 100%;
    z-index: 20;
    img {
      max-width: 100%;
      display: block;
      object-fit: cover;
    }
  }
}
//========================================================================================================================================================

//.pediatrics-reviews
//========================================================================================================================================================
.pediatrics-reviews {
  // .pediatrics-reviews__container
  &__container {
    padding-top: 40px;
    padding-bottom: 50px;
    @media (max-width:$tablet){
      padding-top: 25px;
    }
    @media (max-width:$mobileSmall){
      // padding-top: 70px;
      // padding-bottom: 40px;
    }
    @media (max-width: em(420)){
      // padding-top: 50px;
      // padding-bottom: 25px;
    }
  }
  // .pediatrics-reviews__heading
  &__heading {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: flex-end;
    z-index: 5;
    @media (max-width:$tablet){
      flex-direction: column;
      align-items: flex-start;
    }
  }
  //.pediatrics-reviews__box
  &__box {
    display: flex;
    align-items: flex-end;
    column-gap: 30px;
    @media (max-width: em(1000)){
      flex-direction: column;
      align-items: flex-start;
      row-gap: 20px;
    }
  }
  // .pediatrics-reviews__title
  &__title {
    max-width: 330px;
    @media (max-width: em(1000)){
      max-width: 100%;
    }
  }
  // .pediatrics-reviews__action
  &__action {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;
  }
  //.pediatrics-reviews__foto-btn
  &__foto-btn {
    @extend %mont-500;
    font-size: rem(16);
    line-height: math.div(26 , 16);
    @media (max-width:$mobileSmall){
      font-size: rem(14);
    }
    @media (max-width: em(430)){
      font-size: rem(12);
      padding: 10px 15px;
    }
  }
  // .pediatrics-reviews__button
  &__button {
    @extend %mont-500;
    font-size: rem(16);
    line-height: math.div(26 , 16);
    @media (max-width:$mobileSmall){
      font-size: rem(14);
      line-height: math.div(24 , 14);
    }
  }
  //.pediatrics-reviews__buy
  &__buy {
    @extend %mont-500;
    font-size: rem(16);
    line-height: math.div(26 , 16);
    @media (max-width:$mobileSmall){
      font-size: rem(14);
      line-height: math.div(24 , 14);
    }
  }
  //.pediatrics-reviews__buy-btn
  &__buy-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 51px;
    border-radius: 16px;
    @extend %mont-500;
    font-size: rem(16);
    line-height: 120%;
    color: #FFF;
  }
  // .pediatrics-reviews__inner
  &__inner {
    padding-top: 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 24px;
    // column-gap: 24px;
    @include adaptiveValue("column-gap", 24, 10, 1090, 1000, 1);
    .pediatrics-reviews__item {
      &:nth-child(3) {
        .pediatrics-reviews__user-info {
          align-items: flex-start;
        }
        .pediatrics-reviews__user-name {
          max-width: 105px;
        }
      }
    }
    @media (max-width:$tablet){
      padding-top: 30px;
      display: flex;
      flex-direction: column;
    }
  }
  // .pediatrics-reviews__item
  &__item {
    padding: 20px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    background-color: $white;
  }
  // .pediatrics-reviews__top
  &__top {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    @media (max-width:$mobileSmall){
    }
    @media (max-width: em(530)){
      flex-direction: column;
      row-gap: 10px;
    }
  }

  // .pediatrics-reviews__user-info
  &__user-info {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
  // .pediatrics-reviews__user-name
  &__user-name {
    @extend %mont-600;
    font-size: rem(16);
    line-height: math.div(26 , 16);
  }
  // .pediatrics-reviews__user-rating
  &__user-rating {
    display: flex;
    column-gap: 2px;
    img {
      width: 24px;
      height: 24px;
    }
  }

  // .pediatrics-reviews__market-link
  &__market-link {
    white-space: nowrap;
    padding: 5px 10px 5px 5px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    border-radius: 12px;
    background: #F5F6FD;
    img {
      width: 24px;
      height: 24px;
    }
    p {
      @extend %mont-500;
      font-size: rem(14);
      line-height: math.div(23 , 14);
    }
    @media (max-width: em(530)){
      display: inline-flex;
    }
  }

  // .pediatrics-reviews__text
  &__text {
    @extend %mont-400;
    font-size: rem(16);
    line-height: math.div(26 , 16);
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 16, 14);
    }
  }
  //pediatrics-reviews__wrapper
  &__wrapper {
    padding-top: 20px;
    @media (max-width: em(1080)){
      display: flex;
      justify-content: center;
    }
  }
}
//========================================================================================================================================================



