
//.reviews
//========================================================================================================================================================
.reviews {
  background-color: $bg;
  // .reviews__container
  &__container {
    padding-top: 173px;
    // display: flex;
    // flex-direction: column;
    // row-gap: 20px;
  }

  &__heading {
    display: flex;
    justify-content: space-between;
    @media (max-width:$tablet){
      justify-content: center;
    }
  }

  // .reviews__title-box
  &__title-box {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  // .reviews__title
  &__title {
  }
  // .reviews__subtitle
  &__subtitle {
    text-align: center;
    max-width: 676px;
    @extend %mont-500;
    font-size: rem(20);
    line-height: math.div(32 , 20);
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 16, 14);
    }
  }
  // .reviews__action
  &__action {
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width:$mobile){
      order: -1;
      display: block;
    }
  }

  &__button {
    padding: 10px 40px;
    @extend %mont-600;
    font-size: rem(16);
    line-height: math.div(26 , 16);
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 16, 14);
    }
  }

  // .reviews__inner
  &__inner {
    display: grid;
    row-gap: 15px;
    padding-top: 20px;
  }
  // .reviews__item
  &__item {
    padding: 20px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    background-color: $white;
  }
  // .reviews__top
  &__top {
    display: flex;
    justify-content: space-between;
    @media (max-width:$mobileSmall){
    }
    @media (max-width: em(530)){
      flex-direction: column;
      row-gap: 10px;
    }
  }
  // .reviews__user-info
  &__user-info {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
  // .reviews__user-name
  &__user-name {
    @extend %mont-600;
    font-size: rem(16);
    line-height: math.div(26 , 16);
  }
  // .reviews__user-date
  // &__user-date {
  //   @extend %mont-400;
  //   font-size: rem(16);
  //   line-height: math.div(26 , 16);
  //   color: #98A0AB;
  // }

  // .review__user-rating
  &__user-rating {
    display: flex;
    column-gap: 2px;
    img {
      width: 24px;
      height: 24px;
    }
  }
  // .reviews__market
  &__market {

  }
  // .reviews__market-link
  &__market-link {
    padding: 5px 10px 5px 5px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    border-radius: 12px;
    background: #F5F6FD;
    img {
      width: 24px;
      height: 24px;
    }
    p {
      @extend %mont-500;
      font-size: rem(14);
      line-height: math.div(23 , 14);
    }
    @media (max-width: em(530)){
      display: inline-flex;
    }
  }
  // .reviews__bottom
  &__bottom {
    
  }
  // .reviews__text
  &__text {
    @extend %mont-400;
    font-size: rem(16);
    line-height: math.div(26 , 16);
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 16, 14);
    }
  }
  // .reviews__all
  &__all {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
    // padding-top: 10px;
    @media (max-width:$mobile){
      display: flex;
      flex-direction: column;
      row-gap: 25px;
    }
  }
  // .reviews__content
  &__content {
    // display: flex;
    // justify-content: center;
    padding-top: 15px;
    // @extend %mont-500;
    // font-size: rem(20);
    // line-height: math.div(32 , 20);
    @media (max-width:$tablet){
      display: flex;
      flex-direction: column;
      row-gap: 25px;
      padding-bottom: 50px;
    }
    @media (max-width:$mobile){
      // display: block;
    }
  }
// .reviews__content-email
  // &__content-link {
  //   text-decoration-line: underline !important;
  //   cursor: pointer;

  //   @media (any-hover: hover){
  //     transition: all 0.3s ease 0s;
  //     &:hover{
  //       text-shadow: 0 0 .90px #0033D9, 0 0 .90px #0033D9;
  //     }
  //   }
  // }

  // .reviews__wrapper
  &__wrapper {
    // display: grid;
    // row-gap: 5px;
  }
  // .reviews__all-link
  &__all-link {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    padding: 10px 15px;
    border-radius: 16px;
    background-color: $white;
    font-size: rem(18);
    @extend %mont-500;
    line-height: math.div(29 , 18);
    @media (max-width:$mobileSmall){
      padding: 10px 10px;
      @include adaptiveValue("font-size", 18, 14, 480, 420, 1);
    }
    img {
      width: 32px;
      height: 32px;
    }
  }
}
