// Заголовки, общие БЄМ блоки и проче...



//.buy =====================================================================================================================================
.buy {
  background-color: #F5F6FD;
  // .buy__container
  &__container {
    padding-top: 50px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    @include adaptiveValue("row-gap", 36, 20, 1240, 1000, 1);
    @media (max-width:$tablet){
      padding-top: 50px;
      padding-bottom: 50px;
    }
    @media (max-width:$mobile){
      @include adaptiveValue("padding-top", 50, 25, 1000, 768, 1);
    }
    @media (max-width:$mobileSmall){
      padding-bottom: 85px;
    }
    @media (max-width: em(420)){
      padding-bottom: 50px;
    }
  }
  // .buy__title
  &__title {
  }
  // .buy__inner
  &__inner {
  
  }
}
.tabcontainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 32px;
  @include adaptiveValue("column-gap", 32, 10, 1240, 1000, 1);
  @media (max-width:$tablet){
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }
  @media (max-width:$mobile){
    @include adaptiveValue("row-gap", 30, 66, 768, 480, 1);
  }
  @media (max-width:$mobileSmall){
    @include adaptiveValue("row-gap", 66, 20, 480, 420, 1);
  }
}
.tabcontent {
  max-width: 100%;
  // display: block;
  img {
    width: 521px;
    height: 508px;
    @media (max-width:$tablet){
      width: 325px;
      height: 289px;
    }
    @media (max-width:$mobileSmall){
      @include adaptiveValue("width", 325, 225, 480, 420, 1);
      @include adaptiveValue("height", 289, 216, 480, 420, 1);
    }
  }
  // .tabcontent__descr
  &__descr {

  }

}
.tabheader {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  // .tabheader__inner
  &__inner {

  }
  // .tabheader__box
  &__box {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    min-height: 330px;
    @media (max-width: em(600)){
      min-height: 315px;
    }
    @media (max-width: em(475)){
      min-height: 430px;
    }
  }
  // .tabheader__box-title
  &__box-title {
    @extend %mont-500;
    font-size: rem(16);
    line-height: math.div(23 , 16);
  }
  
  // .tabheader__title
  &__title {
    @extend %mont-600;
    font-size: rem(14);
    line-height: math.div(22 , 14);
    &:not(:last-child) {
      margin-bottom: 15px;
    }
    @media (max-width:$tablet){
      text-align: center;
    }
  }
  // .tabheader__select
  &__select {
    display: grid;
    row-gap: 26px;
    @media (max-width:$tablet){
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: 30px;
    }
    @media (max-width:$mobileSmall){
      @include adaptiveValue("row-gap", 30, 20, 480, 420, 1);
    }
  }
  // .tabheader__size
  &__size {
    display: flex;
    column-gap: 15px;

  }
  // .tabheader__item
  &__item {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 10px 15px;
    @extend %mont-500;
    font-size: rem(18);
    line-height: math.div(29 , 18);
    cursor: pointer;
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 18, 16, 480, 420, 1);
      padding: 10px 10px;
    }
    // .tabheader__item_active
    &_active {
      background-color: #0033D9;
      border-radius: 16px;
      color: #fff;
      &.tabheader__item {
        &::before{
          color: #FFF;
        }
      }
    }
    &::before {
      margin-right: 4px;
      font-size: rem(32);
      color: #0033D9;
      @media (max-width:$mobileSmall){
        font-size: rem(24);
      }
    }
  }

  //tabheader__price
  &__price {
    display: flex;
    @extend %mont-600;
    font-size: rem(28);
    line-height: math.div(45 , 28);
    color: #0033D9;
    display: none;
  }
  //tabheader__price-item
  &__price-item {

  }

  &__marketplace {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 25px;
    row-gap: 20px;
    @media (max-width: em(475)){
      display: flex;
      flex-direction: column;
      row-gap: 15px;
    }
  }

  //tabheader__marketplace-item
  &__marketplace-item  {
    display: flex;
    align-items: center;
    column-gap: 10px;
    max-width: 100%;
    border-radius: 16px;
    padding: 10px;
    background-color: #fff;
    @extend %mont-500;
    font-size: rem(18);
    line-height: math.div(29 , 18);
    cursor: pointer;
    img {
      width: 40px;
      height: 40px;
      @media (max-width:$mobile){
        @include adaptiveValue("width", 40, 30, 768, 480, 1);
        @include adaptiveValue("height", 40, 30, 768, 480, 1);
      }
    }
    @media (max-width:$mobile){
      @include adaptiveValue("font-size", 18, 16, 768, 480, 1);
    }
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 16, 14, 480, 420, 1);
    }

  }

  // .tabheader__delivery
  &__delivery {

  }
}

// .tabheader-delivery
.tabheader-delivery {
  display: grid;
  row-gap: 20px;
  // .tabheader-delivery__desc
  &__desc {
    @extend %mont-500;
    color: #1B1B1B;
    padding: 0 10px;
    font-size: rem(16);
    line-height: math.div(22 , 16);
    text-align: center;
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 16, 14, 480, 420, 1);
    }
  }
  // .tabheader-delivery__item
  &__item {
    @extend %mont-500;
    font-size: rem(18);
    line-height: math.div(29 , 18);
    max-width: 100%;
    padding: 10px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    column-gap: 20px;
    background-color: #fff;
    cursor: pointer;
    @media (max-width:$tablet){
      justify-content: center;
    }
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 18, 14, 480, 420, 1);
      line-height: 22px;
      @include adaptiveValue("column-gap", 20, 10, 480, 420, 1);
    }
  }
  // .tabheader-delivery__icons
  &__icons {
    display: flex;
    align-items: center;
    column-gap: 10px;
    img {
      width: 40px;
      height: 40px;
      @media (max-width:$mobile){
        @include adaptiveValue("width", 40, 30, 480, 420, 1);
        @include adaptiveValue("height", 40, 30, 480, 420, 1);
      }
    }
  }

  &__link {
    
  }
  @media (max-width:$mobileSmall){
    @include adaptiveValue("row-gap", 20, 10, 480, 420, 1);
  }
}
//========================================================================================================================================================

//========================================================================================================================================================


//========================================================================================================================================================


//.reports
//========================================================================================================================================================
.reports {
  background-color: #F5F6FD;
  // .reports__container
  &__container {
    padding-top: 50px;
    padding-bottom: 50px;
    @media (max-width:$tablet){
      padding-top: 25px;
      padding-bottom: 25px;
    }
    
  }
  // .reports__title
  &__title {
    max-width: 740px;
  }
  // .reports__inner
  &__inner {
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 25px;
    row-gap: 25px;
    @media (max-width:$tablet){
      padding-top: 25px;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 16px;
      row-gap: 16px;
    }
    @media (max-width: em(620)){
      display: flex;
      flex-direction: column;
    }
    @media (max-width: em(420)){
      padding-top: 20px;
    }
  }
  // .reports__item
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 15px;
    background-color: #fff;
    padding: 20px;
    border-radius: 24px;
    @media (max-width:$tablet){
      padding: 15px;
    }
    span {
      font-size: rem(14);
      @extend %mont-500;
      line-height: normal;
    }
  }
  // .reports__item-text
  &__item-text {
    // display: flex;
    // flex-direction: column;
    display: grid;
    row-gap: 8px;
    @extend %mont-600;
    font-size: rem(18);
    line-height: math.div(25 , 18);
  }
  // .reports__item-title
  &__item-title {
    h6 {
      @media (max-width:$tablet){
        font-size: rem(16);
        line-height: math.div(22 , 16);
      }
    }
  }
  // .reports__item-link
  &__item-link {
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F6FD;
    border-radius: 16px;
    cursor: pointer;
    @extend %mont-500;
    font-size: rem(14);
    line-height: normal;
  }
}
//========================================================================================================================================================




