//====================================================================================================
.footer {
  background-color: $accent;
  // .footer__container
  &__container {
    padding-top: 50px;
    padding-bottom: 140px;
    color: $white;
    @media (max-width:$tablet){
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
  // .footer__inner
  &__inner {
    // display: flex;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @media (max-width:$tablet){
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      column-gap: 20px;
      row-gap: 50px;
    }
    @media (max-width: em(478)){
      // grid-template-columns: 1fr;
      // grid-template-rows: repeat(4, 1fr);
      // row-gap: 10px;
      display: flex;
      flex-direction: column;
      row-gap: 15px;
    }
  }
  // .footer__item
  &__item {
    @media (max-width: em(478)){
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    &:nth-child(1) {
      max-width: 236px;
      width: 100%;
      margin-right: 96px;
      @media (max-width:$tablet){
        max-width: 100%;
        margin: 0;
        grid-column: 2 / 1;
        grid-row: 2 / 2;
      }
      // @media (max-width: em(478)){
        // grid-column: 1 / 2;
        // grid-row: 3 / 3;
        
      // }
      @media (max-width: em(478)){
        order: 1;
        margin-bottom: 30px;
      }

    }
    &:nth-child(2){
      max-width: 212px;
      width: 100%;
      margin-right: 62px;
      @media (max-width:$tablet){
        max-width: 100%;
        margin-right: 0;
      }
      @media (max-width: em(478)){
        justify-content: flex-end;
        order: -1;
      }
    }
    &:nth-child(3){
      max-width: 200px;
      width: 100%;
      margin-right: 80px;
      @media (max-width:$tablet){
        max-width: 100%;
        margin: 0;
      }
      @media (max-width: em(478)){
        margin-bottom: 35px;
      }
    }
    &:nth-child(4){
      @media (max-width:$tablet){
        max-width: 100%;
      }
      @media (max-width: em(478)){
        order: 2;
      }
    }
  }
  
  // .footer__logo
  &__logo {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 20px;
    img {
      width: 48px;
      height: 44px;
      @media (max-width:$mobile){
        @include adaptiveValue("width", 48, 40, 768, 480, 1); 
        @include adaptiveValue("height", 44, 34, 768, 480, 1); 
      }
    }
  }
  // .footer__logo-name
  &__logo-name {
    @extend %mont-700;
    font-size: rem(28);
    line-height: normal;
    @media (max-width:$mobile){
      @include adaptiveValue("font-size", 28, 23, 768, 480, 1);
    }
  }
  // .footer__links
  &__links {
    display: grid;
    gap: 10px;
    margin-bottom: 35px;
  }
  // .footer__links-link
  &__links-link {
    @extend %mont-400;
    font-size: rem(14);
    line-height: math.div(20 , 14);
    transition: all 0.3s;
    text-decoration: underline !important;
    @media (any-hover: hover){
      &:hover{
        text-shadow: 0 0 .90px #fff, 0 0 .90px #fff;
      }
    }
    @media (max-width:$mobile){
      @include adaptiveValue("font-size", 14, 12, 768, 480, 1);
    }
  }
  // .footer__copyright
  &__copyright {
    display: grid;
    row-gap: 10px;
    @extend %mont-400;
    font-size: rem(12);
    line-height: normal;
    @media (max-width:$mobile){
      @include adaptiveValue("font-size", 12, 10, 768, 480, 1);
    }
  }
  // .footer__site-link
  &__site-text {
    @extend %mont-500;
    font-size: rem(14);
    max-width: 225px;
    // @media (any-hover: hover){
    //   transition: all 0.3s ease 0s;
    //   &:hover{
    //     text-shadow: 0 0 .90px #fff, 0 0 .90px #fff;
    //   }
    // }
    @media (max-width:$mobile){
      @include adaptiveValue("font-size", 14, 12, 520, 480, 1);
    }
  }

  // .footer__menu-list
  &__menu-list {
    display: grid;
    row-gap: 15px;
    @extend %mont-500;
    font-size: rem(16);
    line-height: normal;
    @media (max-width:$mobile){
      @include adaptiveValue("font-size", 16, 14, 768, 480, 1);
    }
  }
  // .footer__menu-item
  &__menu-item {

  }
  // .footer__menu-link
  &__menu-link {
    transition: all 0.3s;
    @media (any-hover: hover){
      &:hover{
        text-shadow: 0 0 .90px #fff, 0 0 .90px #fff;
      }
    }
  }
  // .footer__contacts
  &__contacts {
    // display: grid;
    // row-gap: 15px;
  }
  // .footer__contacts-title
  &__contacts-title {
    @extend %mont-700;
    font-size: rem(20);
    @media (max-width:$mobile){
      @include adaptiveValue("font-size", 20, 16, 768, 480, 1);
    }
  }

  &__contacts-inner {
    padding-top: 15px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }


  &__email,
  &__phone {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }

  &__email-icon,
  &__phone-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #fff;
  }

  // .footer__social
  &__social {
    display: flex;
    @media (max-width: em(478)){
      justify-content: center;
    }
  }
  // .footer__social-list
  &__social-list {
    display: flex;
    column-gap: 10px;
  }
  // .footer__social-link
  &__social-link {
    display: inline-flex;
  }

  &__requisites {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    @extend %mont-400;
    font-size: rem(12);
    line-height: math.div(24 , 12);
    color: #fff;

  }
  &__requisites-box {
    @media (max-width:$tablet){
      display: flex;
      column-gap: 10px;
      @media (max-width: em(620)){
        flex-direction: column;
      }
    }
  }

  &__yandex {
    width: 100%;
    min-height: 100px;
  }
}

//====================================================================================================
