//====================================================================================================
.header {
	position: absolute;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: $bg;
	z-index: 50;
	// .header__container
	&__container {
		padding-top: 14px;
		display: flex;
		flex-direction: column;
		// row-gap: 12px;
	}
	// .header__top
	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 12px;
	}
	// .header__logo
	&__logo {
		display: flex;
		align-items: center;
		column-gap: 14px;
	}
	// .header__logo-text
	&__logo-text {
		// display: flex;
		// align-items: center;
		// column-gap: 14px;
		display: flex;
    align-items: flex-start;
    column-gap: 14px;
    row-gap: 5px;
    flex-direction: column;
    white-space: nowrap;
	}
	// .header__logo-name
	&__logo-name {
		@extend %mont-700;
		font-size: rem(28);
		color: $accent;
	}
	// .header__logo-descr
	&__logo-descr {
		display: flex;
		max-width: 104px;
		@extend %mont-500;
		font-size: rem(10);
	}
	// .header__actions
	&__actions {
		display: flex;
		align-items: center;
		column-gap: 30px;
	}
	// .header__email
	// .header__phone
	&__email,
	&__phone {
		display: flex;
		align-items: center;
		column-gap: 5px;
		@extend %mont-400;
		font-size: rem(14);
	}
	// .header__email-icon
	// .header__phone-icon
	&__email-icon,
	&__phone-icon {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		width: 22px;
		height: 22px;
		border-radius: 50%;
		background-color: $accent;
	}
	// .header__bottom
	&__bottom {
		// border-top: 1px solid #FFF;
		// padding-top: 14px;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	// .header__menu
	&__menu {
		
	}
	// .header__btn
	&__btn {
		@extend %mont-500;
		font-size: rem(16);
		padding: 10px 51px;
		cursor: pointer;
	}
}

.menu {
	// .menu__body
	&__body {

	}
	// .menu__list
	&__list {
		display: flex;
		justify-content: space-between;
		@include adaptiveValue("gap", 86, 10);
	}
	// .menu__item
	&__item {
			a::after {
			display: block;
			content: attr(title);
			font-weight: bold;
			height: 0;
			overflow: hidden;
			visibility: hidden;
		}
	}
	// .menu__link
	&__link {
		white-space: nowrap;
		@extend %mont-400;
		font-size: rem(15);
		transition: text-shadow 0.2s;
		@media (any-hover: hover){
			&:hover{
				text-shadow: 0 0 .90px #0033D9, 0 0 .90px #0033D9;
				// text-shadow: 0 0 .9px #0033D9, 0 0 .9px #333, 0 0 .9px #0033D9;
				// color: $accent;
				// font-family: 'Montserrat-SemiBold', sans-serif;
				// font-weight: 600;
			}
		}
	}
	// .menu__icon
	&__icon {
	}
}
.icon-menu {
}


//====================================================================================================

//Burger
/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/
