//====================================================================================================
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: $bg;
	z-index: 50;

	&__container-fluid {
		display: none;
		@media (max-width:$mobile){
			display: flex;
			justify-content: space-around;
			align-items: center;
			background-color: $accent;
			padding: 8px 15px;
			column-gap: 119px;
			z-index: 50;
			position: relative;
			min-height: 30px;
		}
		@media (max-width:$mobile){
			@include adaptiveValue("column-gap", 119, 0, 767, 480, 1);
		}
	}
	// .header__container
	&__container {
		padding-top: 10px;
		display: flex;
		flex-direction: column;
		// row-gap: 12px;
		@media (max-width:$mobile){

			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			padding-bottom: 10px;
			padding-top: 12px;
		}
	}
	// .header__top
	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		// display: grid;
		// grid-template-columns: repeat(3, 1fr);
		
		margin-bottom: 10px;
		@media (max-width:$mobile){
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			margin-bottom: 0;
		}
	}
	// .header__logo
	&__logo {
		position: relative;
		z-index: 50;
		display: flex;
		align-items: center;
		column-gap: 14px;
		img {
			width: 48px;
			height: 44px;
			@media (max-width:$tablet){
				width: 44px;
				height: 40px;
			}
			@media (max-width:$mobile){
				@include adaptiveValue("width", 44, 30, 767, 480, 1);
				@include adaptiveValue("height", 40, 27, 767, 480, 1);
				
			}
		}
		@media (max-width:$mobile){
			// column-gap: 10px;
			@include adaptiveValue("column-gap", 10, 5, 767, 480, 1);
		}
	}
	// .header__logo-text
	&__logo-text {
		display: flex;
    flex-direction: column;
		align-items: center;
    column-gap: 14px;
    row-gap: 5px;

	}
	// .header__logo-name
	&__logo-name {
		@extend %mont-700;
		font-size: rem(28);
		color: $accent;
		@media (max-width:$mobile){
			@include adaptiveValue("font-size", 28, 18, 767, 480, 1);
		}
	}
	// .header__logo-descr
	&__logo-descr {
		// display: flex;
		// max-width: 104px;
		@extend %mont-500;
		font-size: rem(10.4);
		@media (max-width:$mobile){
			@include adaptiveValue("font-size", 10.4, 6.5, 767, 480, 1);
		}
	}

	//.header__site
	&__site {
		// margin-right: 135px;
		// margin-right: auto;
		margin-left: 50px;
		max-width: 145px;
		padding-left: 15px;
		@media (max-width: em(830)){
			display: none;
		}
	}
	//header__site-text
	&__site-text {
		@extend %mont-500;
		// font-size: rem(12);
		line-height: normal;
		@include adaptiveValue("font-size", 12, 10, 1240, 1000, 1);
		// text-decoration: underline !important;
		@media (max-width:$tablet){
			display: none;
		}
		// @media (any-hover: hover){
		// 	transition: text-shadow 0.2s;
		// 	&:hover{
		// 		text-shadow: 0 0 .20px #0033D9, 0 0 .20px #0033D9;
		// 	}
		// }

	}

	// .header__actions
	&__actions {
		max-width: 545px;
		display: flex;
		align-items: center;
		// column-gap: 30px;
		@include adaptiveValue("column-gap", 30, 15, 1240, 1000, 1);
	}
	// .header__email
	// .header__phone
	&__email,
	&__phone {
		display: flex;
		align-items: center;
		column-gap: 5px;
		white-space: nowrap;
		@extend %mont-400;
		// font-size: rem(14);
		@include adaptiveValue("font-size", 14, 12, 1240, 1000, 1);
		.menu-open & {
			display: none;	
		}
	}
	// .header__email-icon	
	// .header__phone-icon
	&__email-icon,
	&__phone-icon {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		width: 22px;
		height: 22px;
		border-radius: 50%;
		background-color: $accent;
		svg {
			width: 14px;
			height: 14px;
			@media (max-width:$mobile){
				path {
					fill: $accent;
				}
			}
			@media (max-width:$mobileSmall){
				width: 12px;
				height: 12px;
			}
		}
		@media (max-width:$mobile){
			background-color: $white;
			width: 20px;
			height: 20px;
			@include adaptiveValue("width", 20, 16, 480, 360, 1);
			@include adaptiveValue("height", 20, 16, 480, 360, 1);
		}

	}

	&__email-link,
	&__phone-link {
		@media (max-width:$mobile){
			// font-size: rem(14);
			color: $white;
			@include adaptiveValue("font-size", 14, 12, 767, 480, 1);
		}

	}
	// .header__bottom
	&__bottom {

	}
	// .header__menu
	&__menu {
		// display: flex;
		// justify-content: center;
	}
	// .header__btn
	&__btn {
		@extend %mont-500;
		font-size: rem(16);
		padding: 10px 51px;
		cursor: pointer;
		@include adaptiveValue("font-size", 16, 14, 1240, 1000, 1);
		@include adaptiveValue("padding-left", 51, 40, 1240, 1000, 1);
		@include adaptiveValue("padding-right", 51, 40, 1240, 1000, 1);
		@include adaptiveValue("padding-top", 10, 8, 1240, 1000, 1);
		@include adaptiveValue("padding-bottom", 10, 8, 1240, 1000, 1);
		@media (max-width:$mobile){
			display: none;
		}
	}
}

//Стили для кастомного select
// .select {
//   max-width: 270px;
//   position: relative;
//   /* margin: 50px auto; */
//   text-align-last: left; 
// }


// .select__current {
//   width: 100%;
//   border: 1px solid #ccc;
//   padding: 10px;
//   border-radius: 3px;
//   position: relative;
//   cursor: pointer;
//   box-shadow: 0 0 5px 3px rgba(204, 204, 204, 0.2);
//   background-color: #b3b3b3; 
// }
// .select__current::after {
//   content: '';
//   position: absolute;
//   right: 10px;
//   top: 50%;
//   transform: translateY(-50%);
//   width: 0;
//   height: 0;
//   border-style: solid;
//   border-width: 5px 5px 0 5px;
//   border-color: #000 transparent transparent transparent; 
// }
// .select__list {
// 	width: 124px !important;
// 	position: absolute;
//   width: 100%;
//   overflow: hidden;
//   border: 1px solid #ccc;
//   margin-top: 5px;
//   border-radius: 3px;
//   display: none; 
// }
// .select__list--show {
//   display: block; 
// }
// .select__item {
// 	display: flex !important;
// 	align-items: center;
// 	column-gap: 5px;
//   padding: 10px;
//   cursor: pointer;
//   background-color: #fff;
//   border: none;
//   display: inline-block;
//   width: 100%; 
// }
// .select__item:hover, .select__item:focus {
//   background-color: #e6e6e6; 
// }
.header__select {
	
	// margin-right: 30px;
}

.select {
	// display: flex;
	display: grid;
	width: 70px;
	height: 22px;
	position: relative;
	//.select__body
	&__body {
		min-width: 124px;
		display: flex;
		justify-content: center;
		@extend %mont-400;
		font-size: rem(12);
		line-height: 120%;
		}
	//.select__title
	&__title {
			// align-self: center;
		}
	//.select__options
	&__options {
		// display: flex;
		// flex-direction: column;
		padding-right: 30px !important;
		padding-left: 40px !important;
		position: absolute;
		top: 30px;
		left: -10px;
		// width: 165px;
		border-radius: 12px;
		padding: 5px;
		background-color: #fff;
	}	
	//.select__option
	&__option {
		display: grid; //----- даёт выбрать текущий язык
		padding: 8px 0px 8px;
		
	}
	//.select__content
	&__content {
		text-transform: uppercase;
		//.select__content .select__russian
		&.select__russian {
			&::before{
				top: -5px;
			}
		}
		//.select__content .select__english
		&.select__english {
			&::before{
				top: -5px;
			}
		}
		//.select__content .select__spanish
		&.select__spanish {
			&::before{
				top: -5px;
			}
		}
		//.select__content .select__french
		&.select__french {
			&::before{
				top: -5px;
			}
		}
	}
	//select__russian
	&__russian {
		position: relative;
		&::before{
			content:'';
			position: absolute;
			background-image: url(../img/lang/ru.svg);
			width: 22px;
			height: 22px;
			top: 5px;
    left: -30px;
		}
	}
	//select__english
	&__english {
		position: relative;
		&::before{
			content:'';
			position: absolute;
			background-image: url(../img/lang/en.svg);
			width: 22px;
			height: 22px;
			top: 5px;
			left: -30px;
		}
	}
	//select__spanish
	&__spanish {
		display: none;
		position: relative;
		&::before{
			content:'';
			position: absolute;
			background-image: url(../img/lang/es.svg);
			width: 22px;
			height: 22px;
			top: 5px;
			left: -30px;
		}
	}
	//select__french
	&__french {
		display: none;
		position: relative;
		&::before{
			content:'';
			position: absolute;
			background-image: url(../img/lang/fr.svg);
			width: 22px;
			height: 22px;
			top: 5px;
			left: -30px;
		}
	}
}

.select__content .select__english{

}
//========================================================================================================================================================


.menu {

	// &__mobile {
		// display: none;
		// @media (max-width:$mobile){
			// display: block;
		// }
	// }

	// .menu__body
	&__body {
		@media (max-width:$mobile){
			position: fixed;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			// align-items: flex-start;
			// justify-content: flex-end;
			// padding-top: rem(102);
			// padding-right: rem(20);
			
			// padding-top: 120px;
			// padding-left: 300px;
			top: 0;
			right: -100%;
			width: 100%;
			height: 100%;
			overflow: auto;
			transition: right 0.3s ease 0s;
			// background-color: #ffffff;
			background-color: $bg;
			// backdrop-filter: blur(20px);
			z-index: 5;
			order: -1;
			.menu-open & {
				right: 0;
				
				&::before {
					right: 0;
				}
			}
		}
	}
	// .menu__list
	&__list {
		display: flex;
		justify-content: space-between;
		padding-top: 15px;
		padding-bottom: 15px;
		// flex-wrap: wrap;
		@include adaptiveValue("column-gap", 86, 10, 1080, 920, 1);
		@media (max-width: $mobile){
			flex-direction: column;
			row-gap: 50px;
			text-align: center;
		}
		@media (max-width:$mobileSmall){
			@include adaptiveValue("row-gap", 50, 40, 480, 420, 1);
		}	
	}
	// .menu__item
	&__item {
			
		// 	a::after {
		// 	display: block;
		// 	content: attr(title);
		// 	font-weight: bold;
		// 	height: 0;
		// 	overflow: hidden;
		// 	visibility: hidden;
		// }
	}

	// .menu__link
	&__link {
		white-space: nowrap;
		@extend %mont-400;
		transition: text-shadow 0.2s;
		@include adaptiveValue("font-size", 15, 12, 1240, 1000, 1);
		@media (any-hover: hover){
			&:hover{
				text-shadow: 0 0 .90px #0033D9, 0 0 .90px #0033D9;
			}
		}
		@media (max-width:$mobile){
			font-size: rem(20);
		}

	}
	// .menu__icon
	&__icon {
	}
}
//menu-mobile
.menu-mobile {
	display: none;
	//menu-mobile__link
	&__text {
		@extend %mont-500;
		// font-size: rem(14);
		color: #fff;
		@include adaptiveValue("font-size", 14, 12, 480, 420, 1);
		line-height: 120%;
	}
	@media (max-width:$mobile){
		.menu-open & {
			display: block;
		}
	}
}


.icon-menu {
}




//====================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(27);
		height: rem(16);
		cursor: pointer;
		z-index: 5;
		right: 16px;
		@media (max-width: em(390)){
			top: -1px;
			right: 5px;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}

