//====================================================================================================
.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	// .header__container
	&__container {
		display: flex;
		justify-content: space-between;
		padding: 10px 0;
	}
	// .header__logo
	&__logo {
		display: flex;
		align-items: center;
		column-gap: 15px;
	}
	// .header__logo-text
	&__logo-text {
		display: flex;
		flex-direction: column;
		row-gap: 5px;
	}
	//header__logo-name
	&__logo-name {
		@extend %mont-700;
		font-size: rem(28);
		color: $accent;
	}
	//header__logo-descr
	&__logo-descr {
		@extend %mont-400;
		max-width: 40px;
		font-size: rem(14);
	}
	// .header__menu
	&__menu {
		@extend %mont-400;
		display: flex;
		flex-direction: column;
		justify-content: center;
		row-gap: 15px;
	}
	// .header__contacts
	&__contacts {
		display: flex;
		justify-content: flex-end;
		column-gap: 40px;
	}
	// .header__email
	&__email {
	}
	// .header__phone
	&__phone {
	}
	// .header__action
	&__action {
	}
}
.menu {
	// .menu__body
	&__body {
	}
	// .menu__list
	&__list {
		display: flex;
		column-gap: 40px;
	}
	// .menu__item
	&__item {
	}
	// .menu__link
	&__link {
		@media (any-hover: hover){
			&:hover{
				transition: color .3s;
				color: $accent;
			}
		}
	}
	// .menu__icon
	&__icon {
	}
}
.header-action {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	// .header-action__btn
	&__btn {
		// @extend %mont-400;
		// color: $white;
		// background-color: $accent;
		// padding: 10px 45px 10px 45px;
		// border-radius: 5px;
	}
}

.icon-menu {
}

//====================================================================================================

//Burger
/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/
