
.report {
  background-color: $bg;
  // .report__container
  &__container {
    padding-top: 132px;
  }
  // .report__actions-back
  &__actions-back {
  }
  // .report__back-btn
  &__back-btn {
  }
  // .report__breadcrumbs
  &__breadcrumbs {
  }
  // .report__title-box
  &__title-box {
  }
  // .report__title
  &__title {
  }
  // .report__subtitle
  &__subtitle {
  }
  // .report__inner
  &__inner {
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
  }
  // .report__item
  &__item {
    img {

      border-radius: 24px;
    }
  }
}


.actions-back {
  display: flex;
  align-items: center;
  column-gap: 15px;

}

.back-btn {
  border-radius: 12px;
  padding: 10px 21px 10px 16px;
  background-color: #fff;
  // .back-btn__link
  &__link {
    display: flex;
    align-items: center;
    column-gap: 8px;
    @extend %mont-600;
    font-size: rem(12);
    line-height: normal;
    color: #1E1E1E;
    img {
      width: 24px;
      height: 24px;
    }
  }
}
.breadcrumbs {

  // .breadcrumbs__list
  &__list {
    display: flex;
    align-items: center;
  }
  // .breadcrumbs__item
  &__item {
    position: relative;
    @extend %mont-400;
    font-size: rem(12);
    line-height: normal;
    padding-right: 5px;
    &::after{
      content:'/';
      
    }
    &:last-child{
      @extend %mont-700;
      font-size: rem(12);
      line-height: normal;
      &::after{
        display: none;
      }
    }
    
  }
  // .breadcrumbs__link
  &__link {
  }
}


