
.report {
  background-color: $bg;
  // .report__container
  &__container {
    padding-top: 132px;
    @media (max-width:$mobile){
      padding-top: 120px;
    }

  }
  // .report__actions-back
  &__actions-back {
    margin-bottom: 30px;
    @media (max-width:$tablet){
      margin-bottom: 20px;
    }
    @media (max-width: em(420)){
      display: none !important;
    }
  }
  // .report__back-btn
  &__back-btn {
  }
  // .report__breadcrumbs
  &__breadcrumbs {
  }
  // .report__title-box
  &__title-box {
    display: grid;
    row-gap: 10px;
    @media (max-width:$mobileSmall){
      @include adaptiveValue("row-gap", 20, 10, 480, 420, 1);
    }    
  }
  // .report__title
  &__title {
  }
  // .report__subtitle
  &__subtitle {
    @extend %mont-600;
    font-size: rem(24);
    line-height: math.div(34 , 24);
    @media (max-width:$tablet){
      text-align: center;
      @include adaptiveValue("font-size", 24, 20, 1000, 768, 1);
    }
    @media (max-width:$mobileSmall){
      @include adaptiveValue("font-size", 20, 16, 480, 420, 1);
      line-height: 22px;
    }
    
  }
  // .report__inner
  &__inner {
    padding-top: 20px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
    row-gap: 24px;
    @media (max-width:$tablet){
      padding-top: 25px;
      padding-bottom: 25px;
    }
    @media (max-width:$mobile){
      display: flex;
      flex-direction: column;
      row-gap: 24px;
    }
  }
  // .report__item
  &__item {
    max-width: 100%;
    display: block;
    img {
      height: auto;
      width: 100%;
      object-fit: cover;
      border-radius: 24px;
    }
  }
}







.actions-back {
  display: flex;
  align-items: center;
  column-gap: 15px;

}

.back-btn {
  border-radius: 12px;
  padding: 10px 21px 10px 16px;
  background-color: #fff;
  // .back-btn__link
  &__link {
    display: flex;
    align-items: center;
    column-gap: 8px;
    @extend %mont-600;
    font-size: rem(12);
    line-height: normal;
    color: #1E1E1E;
    img {
      width: 24px;
      height: 24px;
    }
  }
}
.breadcrumbs {
  // .breadcrumbs__list
  &__list {
    display: flex;
    align-items: center;
  }
  // .breadcrumbs__item
  &__item {
    position: relative;
    @extend %mont-400;
    font-size: rem(12);
    line-height: normal;
    padding-right: 5px;
    &::after{
      content:'/';
      
    }
    &:last-child{
      @extend %mont-700;
      font-size: rem(12);
      line-height: normal;
      &::after{
        display: none;
      }
    }
    
  }
  // .breadcrumbs__link
  &__link {
  }
}


