// Цвета
$accent: #0033D9;



// скрытие для чекбокса, радио (для своих стилей)
%checkbox-hidden,
%radio-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}

%mont-400 {
  font-family: 'Montserrat-Regular', sans-serif;
  font-weight: 400;
}

%mont-700 {
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: 700;
}



//Лекарство к Fancybox
@function max($numbers...) {
	@return m#{a}x(#{$numbers});
}
@function min($numbers...) {
	@return m#{i}n(#{$numbers});
}