// Цвета
$accent: #0033D9;
$white: #ffffff;
$black: #000000;

$bg: #F5F6FD;
$bgInp: #F2F3F8;
$colInp: #ADB1B6;

$btnColor: #0033D9;



// скрытие для чекбокса, радио (для своих стилей)
%checkbox-hidden,
%radio-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}

%mont-400 {
  font-family: 'Montserrat-Regular', sans-serif;
  font-weight: 400;
}

%mont-500 {
  font-family: 'Montserrat-Medium', sans-serif;
  font-weight: 500;
}

%mont-600 {
  font-family: 'Montserrat-SemiBold', sans-serif;
  font-weight: 600;
}


%mont-700 {
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: 700;
}

.btn {
  @extend %mont-400;
  color: $white;
  border-radius: 16px;
  background: linear-gradient(0deg, #0033D9 0%, #0033D9 100%), linear-gradient(180deg, #6B99FE 0%, #1E5DE8 100%);
  padding: 10px 45px 10px 45px;
  border-radius: 5px;
  transition: all 0.5s;
  @media (any-hover: hover){
    &:hover{
      background: linear-gradient(0deg, #022AAA 0%, #022AAA 100%), linear-gradient(180deg, #6B99FE 0%, #1E5DE8 100%);
    }
  }
}

.title {
  font-size: rem(40);
  line-height: math.div(56 , 40);
  color: $accent;
  @extend %mont-700;
}

.item-dots {
  position: relative;
  &::before{
    content:'';
    position: absolute;
    width: 8px;
    height: 8px;
    left: -20px;
    top: 4px;
    border-radius: 50%;
    background: $accent;
  }
  &::after{
    content:'';
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: -24px;
    border-radius: 50%;
    background: rgba(55, 82, 233, 0.459);
  }
}


//Лекарство к Fancybox
@function max($numbers...) {
	@return m#{a}x(#{$numbers});
}
@function min($numbers...) {
	@return m#{i}n(#{$numbers});
}